{{ form.group_text('Username', 'username', o.getUsername, 3, 7) }}
{{ form.group_text('Name', 'name', o.getName, 3, 7) }}
{{ form.group_text('Email', 'email', o.getEmail, 3, 7) }}
{{ form.group_password('Password', 'pass1', '', 3, 7) }}
{{ form.group_password('Confirm Password', 'pass2', '', 3, 7) }}

{{ upload.group_upload('Profile Pic', 'profile_pic_id', o.getProfilePic.getURL|default(''), o.getProfilePic.getURL|default(''), o.getProfilePic.getID|default('0'), 3, 7) }}
{{ upload.group_upload('Page Cover', 'page_cover_id', o.getPageCover.getURL|default(''), o.getPageCover.getURL|default(''), o.getPageCover.getID|default('0'), 3, 7) }}

{{ form.group_textarea('Bio', 'bio', o.getBio, 5, 3, 7) }}

{{ form.group_text('City', 'city', o.getCity, 3, 7) }}
{{ form.group_select('Country', 'country', country_opts, o.getCountry, 3, 7) }}

{{ form.group_select('Link to Artist', 'artist_id', artist_opts, o.getArtist.getID|default(0), 3, 7) }}

{{ form.group_checkbox_set('Roles', 'roles', role_opts, o.getRoleHash, 3, 7) }}
{{ form.group_select('Status', 'enabled', enabled_opts, o.isEnabled, 3, 7) }}

{{ form.group_text('Credits', 'wallet_amount', o.getWalletAmount, 3, 7) }}

<h3 class="form-section">Awards</h3>
<button class="btn green btn-award-add">Add Award</button>
<br><br>
<table id="award-table" class="table table-striped table-bordered">
<thead>
    <tr>
        <th>Event</th>
        <th>Year</th>
        <th>Award</th>
        <th>Placement</th>
        <th>Movie</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {% for aw in o.getAwards %}
    <tr>
        <td>
            <select name="aw_event_id[]" class="form-control">
                {{ form.options(event_opts, aw.getEvent.getID|default('0')) }}
            </select>
        </td>
        <td>
            {{ form.text('Year', 'aw_year[]', aw.getYear|default('')) }}
        </td>
        <td>
            {{ form.text('Award', 'aw_name[]', aw.getName|default('')) }}
        </td>
        <td>
            {{ form.text('Placement', 'aw_placement[]', aw.getPlacement|default('')) }}
        </td>
        <td>
            <select name="aw_video_id[]" class="form-control">
                {{ form.options(video_opts, aw.getVideo.getID|default('0')) }}
            </select>
        </td>
        <td><a href="#" class="btn red btn-sm btn-award-remove">Remove</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

