{% macro options(fields, selected) %}
{% for value,display in fields %}
    {% if (value == selected) %}
        <option value="{{ value }}" selected="selected">{{ display }}</option>
    {% else %}
        <option value="{{ value }}">{{ display }}</option>
    {% endif %}
{% endfor %}
{% endmacro %}

{% macro checkbox(name, value, display, checked, group, disabled = false, prefix = 'c') %}
<label>
{% if group == null %}
    {% set grp = name %}
{% else %}
    {% set grp = group %}
{% endif %}
    <input type="checkbox" id="{{ prefix }}form-{{ name }}" name="{{ name }}" class="{{ grp }}" value="{{ value }}" {{ checked ? 'checked' : '' }} {{ disabled ? 'disabled' : '' }}>
    {{ display }}
</label>
{% endmacro %}

{% macro checkbox_set(name, fields, checked_arr, disabled = false, prefix = 'c') %}
{% import _self as self %}
<div class="checkbox-list">
{% for id,display in fields %}
    {{ self.checkbox(name ~ '[]', id, display, checked_arr[id] is defined ? true : false,name, disabled, prefix) }}
{% endfor %}
</div>
{% endmacro %}

{% macro text(label, name, value, readonly = false, prefix = 'c') %}
<input id="{{ prefix }}form-{{ name }}" type="text" name="{{ name }}" class="form-control" placeholder="{{ label }}" value="{{ value }}" {{ readonly ? 'readonly ' : '' }}>
{% endmacro %}

{% macro group_text(label, name, value, label_size, body_size, readonly = false, prefix = 'c') %}
{% import _self as self %}
<div id="{{ prefix }}group-{{ name }}" class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        {{ self.text(label, name, value, readonly, prefix) }}
    </div>
</div>
{% endmacro %}

{% macro group_password(label, name, label_size, body_size, readonly = false, prefix = 'c') %}
<div id="{{ prefix }}group-{{ name }}" class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <div class="input-group">
            <input id="{{ prefix }}form-{{ name }}" type="password" name="{{ name }}" class="form-control" placeholder="{{ label }}" {{ readonly ? 'readonly ' : '' }}>
            <span class="input-group-addon">
            <i class="fa fa-lock"></i>
            </span>
        </div>
    </div>
</div>
{% endmacro %}

{% macro group_number(label, name, value, label_size, body_size, readonly = false, prefix = 'c') %}
<div id="{{ prefix }}group-{{ name }}" class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <input type="number" id="{{ prefix }}form-{{ name }}" name="{{ name }}" class="form-control price" placeholder="{{ label }}" value="{{ value }}" {{ readonly ? 'readonly ' : '' }}>
    </div>
</div>
{% endmacro %}

{% macro group_email(label, name, value, label_size, body_size, readonly = false, prefix = 'c') %}
<div id="{{ prefix }}group-{{ name }}" class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <input id="{{ prefix }}form-{{ name }}" type="email" name="{{ name }}" class="form-control" placeholder="{{ label }}" value="{{ value }}" {{ readonly ? 'readonly ' : '' }}>
    </div>
</div>
{% endmacro %}

{% macro group_textarea(label, name, value, row_size, label_size, body_size, readonly = false, prefix = 'c') %}
<div id="{{ prefix }}group-{{ name }}" class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <textarea id="{{ prefix }}form-{{ name }}" name="{{ name }}" class="form-control" rows="{{ row_size }}" placeholder="{{ label }}" {{ readonly ? 'readonly ' : '' }}>{{ value }}</textarea>
    </div>
</div>
{% endmacro %}

{% macro group_textarea_readonly(label, name, value, row_size, label_size, body_size) %}
<div class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <textarea name="{{ name }}" class="form-control" rows="{{ row_size }}" readonly>{{ value }}</textarea>
    </div>
</div>
{% endmacro %}

{% macro select(name, options, value, disabled = false, prefix = 'c') %}
{% import _self as self %}
<select id="{{ prefix }}form-{{ name }}" name="{{ name }}" class="form-control select_2" {{ disabled ? 'disabled ' : '' }}>
    {{ self.options(options, value) }}
</select>
{% endmacro %}

{% macro group_select(label, name, options, value, label_size, body_size, disabled = false, prefix = 'c') %}
{% import _self as self %}
<div id="{{ prefix }}group-{{ name }}" class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        {{ self.select(name, options, value, disabled) }}
    </div>
</div>
{% endmacro %}

{% macro group_checkbox_set(label, name, fields, check_opts, label_size, body_size, disabled = false, prefix = 'c') %}
{% import _self as self %}
<div class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        {{ self.checkbox_set(name, fields, check_opts, disabled, prefix) }}
    </div>
</div>
{% endmacro %}

{% macro group_date(label, name, value, label_size, body_size, readonly = false, prefix = 'c') %}
{% import _self as self %}
{% if readonly %}
    {{ self.group_text(label, name, value, label_size, body_size, readonly, prefix) }}
{% else %}
<div class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class ="col-md-{{ body_size }}">
        <div class="input-group date date-picker" data-date-format="mm/dd/yyyy">
            <input id="{{ prefix }}form-{{ name }}" type="text" class="form-control" name="{{ name }}" placeholder="{{ label }}" value="{{ value }}" readonly>
            <span class="input-group-btn">
            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
            </span>
        </div>
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro group_date_range(id, label, from_name, to_name, value_from, value_to, label_size, body_size, format_display = 'm/d/Y', format_submit = 'Ymd', readonly = false, prefix = 'c') %}
{% import _self as self %}
{% if readonly %}
    {{ self.group_text(label, value_from|date(format_display) ~ '   -   ' ~ value_to|date(format_display), label_size, body_size, readonly, prefix) }}
{% else %}
<input type="hidden" id="{{ prefix }}form-{{ from_name }}" name="{{ from_name }}" value="{{ value_from|date(format_submit) }}">
<input type="hidden" id="{{ prefix }}form-{{ to_name }}" name="{{ to_name }}" value="{{ value_to|date(format_submit) }}">
<div class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <div class="input-group" id="{{ id }}">
            <input type="text" class="form-control" placeholder="{{ label }}" value="{{ value_from|date(format_display) ~ '   -   ' ~ value_to|date(format_display) }}" readonly>
            <span class="input-group-btn">
            <button class="btn default date-range-toggle" type="button"><i class="fa fa-calendar"></i></button>
            </span>
        </div>
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro hidden(name, value, prefix = 'c') %}
<input id="{{ prefix }}form-{{ name }}" type="hidden" name="{{ name }}" value="{{ value }}">
{% endmacro %}
