{% extends "PlucktClientTemplateBundle::base.html.twig" %}
{% import "PlucktTemplateBundle::form.html.twig" as form %}

{% block title %}Pluckt - Order History{% endblock %}

{% block content %}
<!-- content -->
<main role="main">
    <!-- page header -->
    <div class="grid top-section">
        <div class="section-header">
            <div class="section-title">
                <h2>Order History</h2>
            </div>
        </div>
    </div>
    <!-- end page header -->

    <!-- list of orders -->
    <section class="movie-list" id="orders">
        <div class="list-table">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>Type</td>
                        <td></td>
                        <td>Title</td>
                        <td>Director</td>
                        <td>Country</td>
                        <td>Rating</td>
                        <td>Genre</td>
                        <td>Runtime</td>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    {% set video = order.getVideo %}
                    <tr>
                        <td>
                            <div>{{ order.getDateCreate|date("F j, Y, g:i A") }}</div>
                            {% if order.getProductType == 'rent' %}
                            {% set expiry = order.getDateCreate|date_modify("+2 days") %}
                            <div class="footnote">{{ date("now") >= expiry ? "Expired" : "Expires on " ~ expiry|date("F j, Y, g:i A") }}</div>
                            {% endif %}
                        </td>
                        <td class="order-action"><button class="button action-button product-link btn-xs" disabled>{{ order.getProductType|capitalize }}</button></td>
                        <td class="movie-poster"><a href="{{ path('pluckt_client_movie_details', {'id': video.getID}) }}"><img src="{{ video.getPoster.getURL }}" height="90"></a></td>
                        <td class="movie-title"><a href="{{ path('pluckt_client_movie_details', {'id': video.getID}) }}"><h4>{{ video.getTitle }}</h4></a></td>
                        <td class="user-name">{{ video.getDirector.getUser.getFullName }}</td>
                        <td class="country"><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ video.getDirector.getBaseCountry|default('') ~ '.png') }}" alt="" title=""></td>
                        <td class="rating"><a class="class-rating">{{ video.getRatingID }}</a></td>
                        <td class="genre">{{ video.getCategoriesText }}</td>
                        <td class="runtime">{{ video.getMinutes }} min</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <!-- end list of orders section -->
</main>
<!-- end content -->
{% endblock %}