<!-- edit name popover -->
<div class="hide" id="popover-name">
	<form class="form-inline inline-edit" method="post" action="{{ path('pluckt_client_user_ajax_edit_field', {'user_id': user.getID, 'field_type':'name'}) }}" data-field="name" data-separator=" ">
		<div class="alert alert-danger alert-dismissible hide" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div class="errors"></div>
		</div>
		<div class="form-group">
			<input type="text" name="first_name" class="form-control" size="10" placeholder="First Name" required>
			<input type="text" name="last_name" class="form-control" size="10" placeholder="Last Name" required>
			<button type="submit" class="btn action-button" title="Save"><span class="pluckt-check"></span></button>
			<button type="button" class="btn auxilliary-button btn-close-popover" title="Cancel"><span class="pluckt-remove"></span></button>
		</div>
	</form>
</div>
<!-- end edit name popover -->

<!-- edit location popover -->
<div class="hide" id="popover-location">
	<form class="form-inline inline-edit" method="post" action="{{ path('pluckt_client_user_ajax_edit_field', {'user_id': user.getID, 'field_type':'location'}) }}" data-field="location" data-separator=", ">
		<div class="alert alert-danger alert-dismissible hide" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div class="errors"></div>
		</div>
		<div class="form-group">
			<input type="text" name="city" class="form-control" size="10" placeholder="City">
			<select name="country" class="form-control" style="width: 200px;" placeholder="Country">
				{% for value,text in countries %}
				<option value="{{ value }}">{{ text }}</option>
				{% endfor %}
			</select>
			<button type="submit" class="btn action-button" title="Save"><span class="pluckt-check"></span></button>
			<button type="button" class="btn auxilliary-button btn-close-popover" title="Cancel"><span class="pluckt-remove"></span></button>
		</div>
	</form>
</div>
<!-- end edit location popover -->

<!-- edit bio popover -->
<div class="hide" id="popover-bio">
	<form class="inline-edit" method="post" action="{{ path('pluckt_client_user_ajax_edit_field', {'user_id': user.getID, 'field_type':'bio'}) }}" data-field="bio" data-separator="">
		<div class="alert alert-danger alert-dismissible hide" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div class="errors"></div>
		</div>
		{% if user.isArtist %}
		<div class="form-group">
			<label>Quote</label>
			<textarea name="quote" class="form-control" rows="1" placeholder="Share some words of wisdom"></textarea>
		</div>
		{% endif %}
		<div class="form-group">
			<label>Bio</label>
			<textarea name="bio" class="form-control" rows="1" placeholder="Write something about yourself"></textarea>
		</div>
		<div class="form-group text-right">
			<button type="submit" class="btn action-button" title="Save"><span class="pluckt-check"></span></button>
			<button type="button" class="btn auxilliary-button btn-close-popover" title="Cancel"><span class="pluckt-remove"></span></button>
		</div>
	</form>
</div>
<!-- end edit bio popover -->

<!-- edit shelf name popover -->
<div class="hide" id="popover-shelf-name">
	<form class="form-inline inline-edit" method="post" action="" data-field="shelf_name" data-separator="">
		<div class="alert alert-danger alert-dismissible hide" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div class="errors"></div>
		</div>
		<div class="form-group">
			<input type="text" name="shelf_name" class="form-control" size="10" placeholder="Shelf Name" required>
			<button type="submit" class="btn action-button" title="Save"><span class="pluckt-check"></span></button>
			<button type="button" class="btn auxilliary-button btn-close-popover" title="Cancel"><span class="pluckt-remove"></span></button>
		</div>
	</form>
</div>
<!-- end edit shelf name popover -->
