{% extends "PlucktClientTemplateBundle::base.html.twig" %}
{% import "PlucktClientBundle::macro.movie.html.twig" as movie %}
{% import "PlucktTemplateBundle::form.html.twig" as form %}
{% import "PlucktClientBundle::macro.activity_log.html.twig" as macro_log %}

{% block title %}Pluckt - User Profile{% endblock %}

{% block content %}
<main role="main">
    <!-- profile navigation -->
    <nav class="content-menu">
        <div class="container">
            <ul class="nav navbar-nav">
                {% if user.isArtist %}
                <li class="active"><a href="#profile">Profile</a></li>
                <!--
                <li><a href="#field-notes">Field Notes <span class="counter">15</span></a></li>
                -->
                <li><a href="#activities">Activities</a></li>
                {% else %}
                <li class="active"><a href="#activities">Activities</a></li>
                {% endif %}
                <li><a href="#shelves" data-callback="slideShelves()">Shelves</a></li>
                <li><a href="#favorites">Favorites</a></li>
            </ul>
        </div>
    </nav>
    <!-- end profile navigation -->

    <!-- profile cover -->
    <section class="profile-cover">
        <div id="cover-photo" class="cover-photo profile-line" style="background-image: url('{{ user.getPageCover == null ? asset('bundles/plucktclienttemplate/images/cover-director.jpg') : user.getPageCover.getURL }}');">
            
            {% if app.user and user.getID == app.user.getID %}
            <div class="progress" id="cover-photo-progress">
                <div class="dz-progress progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" data-dz-uploadprogress></div>
            </div>
            <a id="cover-photo-btn" class="profile-controls btn-upload" href="#cover"><span class="pluckt-camera"></span>Update Cover Photo</a>
            {% endif %}
        </div>
        <div class="container">
            <div class="profile-details">
                <div class="profile-pic">
                    <div id="profile-pic-box" class="portrait-xl profile-line dz-preview dz-file-preview">
                        {% if user.getProfilePic == null %}
                        <img id="profile-pic" src="{{ asset('bundles/plucktclienttemplate/images/no-profile.gif') }}" title="{{ user.getFullName }}" alt="{{ user.getFullName }}" data-dz-thumbnail>
                        {% else %}
                        <img id="profile-pic" src="{{ user.getProfilePic.getURL }}" title="{{ user.getFullName }}" alt="{{ user.getFullName }}" data-dz-thumbnail>
                        {% endif %}
                        {% if user.isArtist %}
                        <span class="badge-star"></span>
                        {% endif %}
                        {% if app.user and user.getID == app.user.getID %}
                        <div class="progress" id="profile-pic-progress">
                            <div class="dz-progress progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" data-dz-uploadprogress></div>
                        </div>
                        <a id="profile-pic-btn" class="profile-controls btn-upload" href="#photo"><span class="pluckt-camera"></span>Update Photo</a>
                        {% endif %}
                    </div>
                </div>
                <div class="basic-info">
                    <h2 class="user-name profile-line">
                        <span id="user-name">{{ user.getFullName }}</span>
                        {% if app.user and user.getID == app.user.getID %}
                        <a id="name-btn" class="profile-controls" href="#name" data-toggle="tooltip" data-placement="right" title="Edit Name"><span class="pluckt-pencil"></span></a>
                        {% endif %}
                    </h2>
                    {% if user.isArtist %}
                    <div class="user-role">{{ user.getArtist.getTypesText }}</div>
                    {% else %}
                    <div class="user-role">Member</div>
                    {% endif %}
                    <div class="info-line profile-line">
                        <span id="user-location">
                            {% if user.getCity or user.getCountry %}
                            {{ (user.getCity ? user.getCity ~ ", " : "") ~ (user.getCountryLabel ?: "") }}
                            {% endif %}
                        </span>
                        {% if user.getCountry %}
                        <span><img id="user-flag" src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ user.getCountry ~ '.png') }}" alt="{{ user.getCountryLabel }}" title="{{ user.getCountryLabel }}"></span>
                        {% endif %}
                        {% if user.getCity or user.getCountry %}
                        <span>&#x25cf;</span>
                        {% endif %}
                        <span>Member since {{ user.getDateCreate|date('F Y') }}</span>
                        {% if app.user and user.getID == app.user.getID %}
                        <a id="location-btn" class="profile-controls" href="#location" data-toggle="tooltip" data-placement="right" title="Edit Location"><span class="pluckt-pencil"></span></a>
                        {% endif %}
                    </div>
                </div>
                <div class="social-links">
                    <div class="info-line pull-right">
                        <span>Following <a class="counter" href="#">{{ counter.getScore('follow-out', user, 'all') }}</a></span>
                        <span>Followers <a class="counter" href="#">{{ counter.getScore('follow-in', user, 'all') }}</a></span>
                    </div>
                    {% if app.user and user.getID != app.user.getID %}
                        {% if not app.user.isFollowing('user', user.getID) %}
                        <button data-uid="{{ user.getID }}" class="btn-follow button action-button pull-right" data-url="{{ path('pluckt_client_user_follow', {'id': user.getID}) }}">Follow</button>
                        <button data-uid="{{ user.getID }}" class="btn-unfollow fol-button hidden button action-button pull-right" data-url="{{ path('pluckt_client_user_unfollow', {'id': user.getID}) }}">Unfollow</button>
                        {% else %}
                        <button data-uid="{{ user.getID }}" id="btn-follow" class="btn-follow hidden button action-button pull-right" data-url="{{ path('pluckt_client_user_follow', {'id': user.getID}) }}">Follow</button>
                        <button data-uid="{{ user.getID }}" id="btn-unfollow" class="btn-unfollow button action-button pull-right" data-url="{{ path('pluckt_client_user_unfollow', {'id': user.getID}) }}">Unfollow</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- end profile cover -->
    {% if user.isArtist %}
        {% include "PlucktClientBundle:User:tabs/profile.html.twig" %}
        {% include "PlucktClientBundle:User:tabs/field_notes.html.twig" %}
    {% endif %}
    {% include "PlucktClientBundle:User:tabs/activities.html.twig" %}
    {% include "PlucktClientBundle:User:tabs/shelves.html.twig" %}
    {% include "PlucktClientBundle:User:tabs/favorites.html.twig" %}
    {% if app.user and user.getID == app.user.getID %}
    {% include "PlucktClientBundle:User:popovers.html.twig" %}
    {% endif %}
</main>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('bundles/plucktclienttemplate/css/flexslider.css') }}">
{% endblock %}

{% block js %}
<script src="{{ asset('bundles/plucktclienttemplate/js/vendor/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/vendor/jquery.easing.min.js') }}"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/pages/profile.js') }}"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/pages/profile-professional.js') }}"></script>
<script type="text/javascript">
    var movie_path = "{{ path('pluckt_client_movie_details', {'id': 0 }) }}";
    var play_path = "{{ path('pluckt_client_movie_player', {'id': 0 }) }}";
    var del_path = "{{ path('pluckt_client_ulist_del_movie', {'id': 0, 'movie_id': 1 }) }}";
</script>
{% if app.user and user.getID == app.user.getID %}
<script src="{{ asset('bundles/zulumedia/js/dropzone.js') }}"></script>
<script src="{{ asset('bundles/zulumedia/js/upload.js') }}"></script>
<script type="text/javascript">
    var upload_profile_path = "{{ path('pluckt_client_user_upload', {'user_id': user.getID, 'upload_type': 'profile'}) }}";
    var upload_cover_path = "{{ path('pluckt_client_user_upload', {'user_id': user.getID, 'upload_type': 'cover'}) }}";
    var upload_path = upload_profile_path;

    var flag_path = "{{ asset('bundles/plucktclienttemplate/images/flags/') }}";
    var uid = {{ user.getID }};
    var pdata = {};

    pdata.first_name = "{{ user.getName }}";
    pdata.last_name = "{{ user.getLastName }}";
    pdata.city = "{{ user.getCity }}";
    pdata.country = "{{ user.getCountry }}";
    pdata.bio = "{{ user.getBio }}";
    {% if user.isArtist %}
    pdata.quote = "{{ user.getArtist.getQuote }}";
    {% endif %}
</script>
<script src="{{ asset('bundles/plucktclienttemplate/js/pages/profile-edit.js') }}"></script>
{% endif %}
{% endblock %}
