{% extends "PlucktClientTemplateBundle::base.html.twig" %}

{% block title %}Pluckt - {{ title }}{% endblock %}

{% block content %}
<!-- content -->
<main role="main">
    {% if featured_note %}
    <!-- banner section -->
    <section class="banner">
        <div class="banner-movie notes" style="background-image: url('{{ featured_note.getImage.getURL|default('') }}');">
            <div class="overlay-dim">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="post-time">{{ featured_note.getDateCreate|date('n/j/Y') }}</div>
                            <h2 class="note-title"><a href="{{ path('pluckt_client_note_read', {'id': featured_note.getID}) }}">{{ featured_note.getName }}</a></h2>
                            <div class="info-line note-byline">
                                {% set fn_user = featured_note.getUser %}
                                <div class="inline">
                                    <a class="portrait-md" href="{{ path('pluckt_client_user_profile_view', {'id': fn_user.getID|default('0')}) }}">
                                        <img src="{{ fn_user.getProfilePic.getURL|default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ fn_user.getFullName|default('') }}" alt="{{ fn_user.getFullName|default('') }}">
                                        <span class="badge-star"></span>
                                    </a>
                                </div>
                                <div class="inline">
                                    <div class="info-line">
                                        <span class="user-name">{{ fn_user.getFullName|default('') }}</span>
                                        <span class="user-role">{{ fn_user.getArtist.getTypesText|default('') }}</span>
                                        <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ fn_user.getCountry|default('PH') ~ '.png') }}" alt="{{ fn_user.getCountryLabel|default('Philippines') }}" title="{{ fn_user.getCountryLabel|default('Philippines') }}"></span>
                                    </div>
                                    <div><a href="{{ path('pluckt_client_user_profile_view', {'id': fn_user.getID|default('0')}) }}">View Profile</a></div>
                                </div>
                            </div>
                            <div class="note-body">
                                <p>{{ featured_note.getDescription }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row row-bottom">
                        <div class="col-xs-12">
                            <div class="info-line icons inverse">
                                <a href="#"><span class="pluckt-comment inline"></span>200</a>
                                <a href="#"><span class="pluckt-share inline"></span>200</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end banner section -->
    {% endif %}

    <!-- notes -->
    <div class="container" id="note-rows">
        <div class="row">
            {% if second_note != null %}
            <div class="col-xs-6">
                <section class="note featured-block">
                    <a href="{{ path('pluckt_client_note_read', {'id': second_note.getID|default('0')}) }}"><img src="{{ second_note.getImage.getURL|default('') }}" alt="{{ second_note.getName|default('') }}" class="note-image"></a>
                    <div class="note-details">
                        <div class="post-time">{{ second_note.getDateCreate|date('n/j/Y') }}</div>
                        <h3 class="note-title"><a href="{{ path('pluckt_client_note_read', {'id': second_note.getID|default('0')}) }}">{{ second_note.getName|default('') }}</a></h3>
                        <div class="row">
                            {% set fn_user = second_note.getUser %}
                            <div class="col-xs-6">
                                <div class="info-line note-byline">
                                    <div class="inline">
                                        <a class="portrait-md" href="{{ path('pluckt_client_user_profile_view', {'id': fn_user.getID}) }}">
                                            <img src="{{ fn_user.getProfilePic.getURL|default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ fn_user.getFullName }}" alt="{{ fn_user.getFullName }}">
                                            <span class="badge-star"></span>
                                        </a>
                                    </div>
                                    <div class="inline">
                                        <div class="info-line">
                                            <span class="user-name">{{ fn_user.getFullName }}</span>
                                            <span class="user-role">{{ fn_user.getArtist.getTypesText|default('') }}</span>
                                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ fn_user.getCountry ~ '.png') }}" alt="{{ fn_user.getCountryLabel }}" title="{{ fn_user.getCountryLabel }}"></span>
                                        </div>
                                        <div><a href="{{ path('pluckt_client_user_profile_view', {'id': fn_user.getID}) }}">View Profile</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="status-icons pull-right">
                                    <a href="#"><span class="pluckt-comment inline"></span>200</a>
                                    <a href="#"><span class="pluckt-share inline"></span>200</a>
                                    <!--<a href="{{ path('pluckt_client_note_read', {'id': second_note.getID}) }}"><span class="pluckt-more lg" title="View more"></span></a>-->
                                </div>
                            </div>
                        </div>
                        <div class="note-body">
                            <p>{{ second_note.getDescription }}
                            </p>
                            <a href="{{ path('pluckt_client_note_read', {'id': second_note.getID}) }}" class="button read-link btn-sm">Read More</a>
                        </div>
                    </div>
                </section>
            </div>
            {% endif %}
            {% for note in notes %}
            <div class="col-xs-3">
                <section class="note">
                    <a href="{{ path('pluckt_client_note_read', {'id': note.getID}) }}"><img src="{{ note.getImage.getURL }}" alt="" class="note-image"></a>
                    <div class="note-details">
                        <div class="post-time">{{ note.getDateCreate|date('n/j/Y') }}</div>
                        <h3 class="note-title"><a href="{{ path('pluckt_client_note_read', {'id': note.getID}) }}">{{ note.getName }}</a></h3>
                        <div class="info-line note-byline">
                            {% set fn_user = note.getUser %}
                            <div class="inline">
                                <a class="portrait-md" href="{{ path('pluckt_client_user_profile_view', {'id': fn_user.getID}) }}">
                                    <img src="{{ fn_user.getProfilePic.getURL|default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ fn_user.getFullName }}" alt="{{ fn_user.getFullName }}">
                                    <span class="badge-star"></span>
                                </a>
                            </div>
                            <div class="inline">
                                <div class="info-line">
                                    <span class="user-name">{{ fn_user.getFullName }}</span>
                                    <span class="user-role">{{ fn_user.getArtist.getTypesText|default('') }}</span>
                                    <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ fn_user.getCountry ~ '.png') }}" alt="{{ fn_user.getCountryLabel }}" title="{{ fn_user.getCountryLabel }}"></span>
                                </div>
                                <div><a href="{{ path('pluckt_client_user_profile_view', {'id': fn_user.getID}) }}">View Profile</a></div>
                            </div>
                        </div>
                        <div class="note-body">
                            <p>{{ note.getDescription }}
                            </p>
                        </div>
                        <div class="status-icons left">
                            <a href="#"><span class="pluckt-comment inline"></span>200</a>
                            <a href="#"><span class="pluckt-share inline"></span>200</a>
                            <!--<a href="{{ path('pluckt_client_note_read', {'id': note.getID}) }}"><span class="pluckt-more lg" title="View more"></span></a>-->
                        </div>
                        <a href="{{ path('pluckt_client_note_read', {'id': note.getID}) }}" class="button read-link btn-sm">Read More</a>
                    </div>
                </section>
            </div>
            {% endfor %}
            <!--
            <div class="col-xs-3">
                <section class="note">
                    <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-note-a.jpg') }}" alt="" class="note-image"></a>
                    <div class="note-details">
                        <div class="post-time">1/21/2015</div>
                        <h3 class="note-title">Story of Baby Angelo: Shooting the Film</h3>
                        <div class="info-line note-byline">
                            <div class="inline">
                                <a class="portrait-md" href="#">
                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                    <span class="badge-star"></span>
                                </a>
                            </div>
                            <div class="inline">
                                <div class="info-line">
                                    <span class="user-name">Joel Ruiz</span>
                                    <span class="user-role">Director</span>
                                    <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                </div>
                                <div><a href="#">View Profile</a></div>
                            </div>
                        </div>
                        <div class="note-body">
                            <p>
                                "Please pray for baby Angelo," was what the note posted in the elevator of his office said. Apparently, a dead fetus was found in the dumpster of the very building he works in. From there, he created Baby Angelo. 
                            </p>
                        </div>
                        <div class="status-icons left">
                            <a href="#"><span class="pluckt-comment inline"></span>200</a>
                            <a href="#"><span class="pluckt-share inline"></span>200</a>
                            <a href="#"><span class="pluckt-more lg" title="View more"></span></a>
                        </div>
                        <a href="#" class="button read-link btn-sm">Read More</a>
                    </div>
                </section>
            </div>
            -->
        </div>
        <!--
        <div class="row">
            <div class="col-xs-3">
                <section class="note">
                    <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-note-a.jpg') }}" alt="" class="note-image"></a>
                    <div class="note-details">
                        <div class="post-time">1/21/2015</div>
                        <h3 class="note-title">Story of Baby Angelo: Shooting the Film</h3>
                        <div class="info-line note-byline">
                            <div class="inline">
                                <a class="portrait-md" href="#">
                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                    <span class="badge-star"></span>
                                </a>
                            </div>
                            <div class="inline">
                                <div class="info-line">
                                    <span class="user-name">Joel Ruiz</span>
                                    <span class="user-role">Director</span>
                                    <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                </div>
                                <div><a href="#">View Profile</a></div>
                            </div>
                        </div>
                        <div class="note-body">
                            <p>
                                "Please pray for baby Angelo," was what the note posted in the elevator of his office said. Apparently, a dead fetus was found in the dumpster of the very building he works in. From there, he created Baby Angelo. 
                            </p>
                        </div>
                        <div class="status-icons left">
                            <a href="#"><span class="pluckt-comment inline"></span>200</a>
                            <a href="#"><span class="pluckt-share inline"></span>200</a>
                            <a href="#"><span class="pluckt-more lg" title="View more"></span></a>
                        </div>
                        <a href="#" class="button read-link btn-sm">Read More</a>
                    </div>
                </section>
            </div>
            <div class="col-xs-3">
                <section class="note">
                    <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-note-a.jpg') }}" alt="" class="note-image"></a>
                    <div class="note-details">
                        <div class="post-time">1/21/2015</div>
                        <h3 class="note-title">Story of Baby Angelo: Shooting the Film</h3>
                        <div class="info-line note-byline">
                            <div class="inline">
                                <a class="portrait-md" href="#">
                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                    <span class="badge-star"></span>
                                </a>
                            </div>
                            <div class="inline">
                                <div class="info-line">
                                    <span class="user-name">Joel Ruiz</span>
                                    <span class="user-role">Director</span>
                                    <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                </div>
                                <div><a href="#">View Profile</a></div>
                            </div>
                        </div>
                        <div class="note-body">
                            <p>
                                "Please pray for baby Angelo," was what the note posted in the elevator of his office said. Apparently, a dead fetus was found in the dumpster of the very building he works in. From there, he created Baby Angelo. 
                            </p>
                        </div>
                        <div class="status-icons left">
                            <a href="#"><span class="pluckt-comment inline"></span>200</a>
                            <a href="#"><span class="pluckt-share inline"></span>200</a>
                            <a href="#"><span class="pluckt-more lg" title="View more"></span></a>
                        </div>
                        <a href="#" class="button read-link btn-sm">Read More</a>
                    </div>
                </section>
            </div>
            <div class="col-xs-3">
                <section class="note">
                    <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-note-a.jpg') }}" alt="" class="note-image"></a>
                    <div class="note-details">
                        <div class="post-time">1/21/2015</div>
                        <h3 class="note-title">Story of Baby Angelo: Shooting the Film</h3>
                        <div class="info-line note-byline">
                            <div class="inline">
                                <a class="portrait-md" href="#">
                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                    <span class="badge-star"></span>
                                </a>
                            </div>
                            <div class="inline">
                                <div class="info-line">
                                    <span class="user-name">Joel Ruiz</span>
                                    <span class="user-role">Director</span>
                                    <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                </div>
                                <div><a href="#">View Profile</a></div>
                            </div>
                        </div>
                        <div class="note-body">
                            <p>
                                "Please pray for baby Angelo," was what the note posted in the elevator of his office said. Apparently, a dead fetus was found in the dumpster of the very building he works in. From there, he created Baby Angelo. 
                            </p>
                        </div>
                        <div class="status-icons left">
                            <a href="#"><span class="pluckt-comment inline"></span>200</a>
                            <a href="#"><span class="pluckt-share inline"></span>200</a>
                            <a href="#"><span class="pluckt-more lg" title="View more"></span></a>
                        </div>
                        <a href="#" class="button read-link btn-sm">Read More</a>
                    </div>
                </section>
            </div>
            <div class="col-xs-3">
                <section class="note">
                    <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-note-a.jpg') }}" alt="" class="note-image"></a>
                    <div class="note-details">
                        <div class="post-time">1/21/2015</div>
                        <h3 class="note-title">Story of Baby Angelo: Shooting the Film</h3>
                        <div class="info-line note-byline">
                            <div class="inline">
                                <a class="portrait-md" href="#">
                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                    <span class="badge-star"></span>
                                </a>
                            </div>
                            <div class="inline">
                                <div class="info-line">
                                    <span class="user-name">Joel Ruiz</span>
                                    <span class="user-role">Director</span>
                                    <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                </div>
                                <div><a href="#">View Profile</a></div>
                            </div>
                        </div>
                        <div class="note-body">
                            <p>
                                "Please pray for baby Angelo," was what the note posted in the elevator of his office said. Apparently, a dead fetus was found in the dumpster of the very building he works in. From there, he created Baby Angelo. 
                            </p>
                        </div>
                        <div class="status-icons left">
                            <a href="#"><span class="pluckt-comment inline"></span>200</a>
                            <a href="#"><span class="pluckt-share inline"></span>200</a>
                            <a href="#"><span class="pluckt-more lg" title="View more"></span></a>
                        </div>
                        <a href="#" class="button read-link btn-sm">Read More</a>
                    </div>
                </section>
            </div>
        </div>
        -->
        <!--
        <div class="row">
            <div class="col-xs-12">
                <section class="note featured-row">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-note-a.jpg') }}" alt="" class="note-image"></a>
                        </div>
                        <div class="col-xs-6">
                            <div class="note-details">
                                <div class="post-time">1/21/2015</div>
                                <h3 class="note-title">Story of Baby Angelo: Shooting the Film</h3>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="info-line note-byline">
                                            <div class="inline">
                                                <a class="portrait-md" href="#">
                                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                    <span class="badge-star"></span>
                                                </a>
                                            </div>
                                            <div class="inline">
                                                <div class="info-line">
                                                    <span class="user-name">Joel Ruiz</span>
                                                    <span class="user-role">Director</span>
                                                    <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                                </div>
                                                <div><a href="#">View Profile</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="status-icons pull-right">
                                            <a href="#"><span class="pluckt-comment inline"></span>200</a>
                                            <a href="#"><span class="pluckt-share inline"></span>200</a>
                                            <a href="#"><span class="pluckt-more lg" title="View more"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="note-body">
                                    <p>
                                        "Please pray for baby Angelo," was what the note posted in the elevator of his office said. Apparently, a dead fetus was found in the dumpster of the very building he works in. From there, he created Baby Angelo. 
                                    </p>
                                    <a href="#" class="button read-link btn-sm">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        -->
        <!--
        <div class="loader-button-box">
            <button type="button" class="button">See More</button>
        </div>
        -->
    </div>
    <!-- end notes -->
</main>
<!-- end content -->
{% endblock %}

{% block js %}
<script src="{{ asset('bundles/plucktclienttemplate/js/pages/movie-notes.js') }}"></script>
{% endblock %}
