{% extends "PlucktClientTemplateBundle::base.html.twig" %}

{% block title %}Pluckt - Field Note{% endblock %}

{% block content %}
<!-- content -->
<main role="main">
    <!-- banner section -->
    <section class="banner">
        <div class="banner-movie notes" style="background-image: url('{{ note.getImage.getURL }}');"></div>
    </section>
    <!-- end banner section -->

    <!-- field note article -->
    <article class="container" id="field-note-article">
        <div class="row note">
            <div class="col-xs-12">
                <div class="post-time">{{ note.getDateCreate.format("m/d/Y") }}</div>
                <h2 class="note-title">{{ note.getName }}</h2>
                <div class="row">
                    <div class="col-xs-6">
                        {% set fn_user = note.getUser %}
                        <div class="info-line note-byline">
                            <div class="inline">
                                <a class="portrait-md" href="{{ path('pluckt_client_user_profile_view', {'id': fn_user.getID|default('0')}) }}">
                                    <img src="{{ fn_user.getProfilePic.getURL|default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ fn_user.getFullName|default('') }}" alt="{{ fn_user.getFullName|default('') }}">
                                    <span class="badge-star"></span>
                                </a>
                            </div>
                            <div class="inline">
                                <div class="info-line">
                                    <span class="user-name">{{ fn_user.getFullName|default('') }}</span>
                                    <span class="user-role">Director</span>
                                    <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ fn_user.getCountry|default('PH') ~ '.png') }}" alt="{{ fn_user.getCountryLabel|default('Philippines') }}" title="{{ fn_user.getCountryLabel|default('Philippines') }}"></span>
                                </div>
                                <div><a href="{{ path('pluckt_client_user_profile_view', {'id': fn_user.getID|default('0')}) }}">View Profile</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="status-icons pull-right">
                            <a href="#"><span class="pluckt-comment inline"></span>200</a>
                            <a href="#"><span class="pluckt-share inline"></span>200</a>
                            <a href="#"><span class="pluckt-more lg" title="Options"></span></a>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- field note body -->
                <div class="note-body">
                    <img class="inline-left" src="{{ note.getVideo.getPoster.getURL|default('') }}" alt="Baby Angelo">

                    {{ note.getBody|raw }}
                    <!--
                    <p>
                        Story inspirations could practically come from anywhere. In direk Joel Ruiz's case, it came from an elevator.
                    </p>

                    <p>
                        "Please pray for baby Angelo," was what the note posted in the elevator of his office said. Apparently, a dead fetus was found in the dumpster of the very building he works in. From there, he created Baby Angelo.
                    </p>

                    <p>
                        Much like the real experience, 'Baby Angelo' is a feature length film about an aborted baby found in the garbage of a run down apartment complex. An investigation ensues as to whose baby it was, but the film more importantly revolves around the apartment's inhabitants and how each of their diverse lives are after all, correlated.
                    </p>

                    <blockquote>
                        <span>It is a different look at how lives intersect. How each of us <strong>unconsciously affects one another...</strong></span>
                        <footer>
                            <cite><strong>Monster Jimenez</strong>, Baby Angelo Producer</cite>
                        </footer>
                    </blockquote>

                    <p>
                        "It is a different look at how lives intersect. How each of us unconsciously affects one another," Joel explains. A resident director and one of the founders of Arkeomedia, Joel has proven prowess both in writing and directing. Mansyon, the Best Short Film recipient of 2005's Cinemalaya is just one among his roster which includes Ang Kapatid kong si Elvis, Putot, and Big Time. Each had garnered awards and nominations from competitions here and abroad.
                    </p>

                    <p>
                        Despite more than enough experience in the industry, he admits that 'Baby Angelo' still caused him jitters as this is the first time he directed a full length feature. In his words, "It was very difficult, exhilarating, and depressing."
                    </p>
                    -->

                    <!-- image gallery -->
                    <!--
                    <div class="image-gallery">
                        <div class="slider" id="main-slider-image">
                            <div class="flexslider main-image">
                                <ul class="slides">
                                    <li>
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-note-a-lg.jpg') }}" alt="">
                                    </li>
                                    <li>
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-note-a-lg.jpg') }}" alt="">
                                    </li>
                                    <li>
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-note-a-lg.jpg') }}" alt="">
                                    </li>
                                    <li>
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-note-a-lg.jpg') }}" alt="">
                                    </li>
                                    <li>
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-note-a-lg.jpg') }}" alt="">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="gallery-info">
                            <div class="caption">Joel Ruiz (right) discusses a scene with Katherine Luna</div>
                            <div class="slider" id="thumbs">
                                <div class="flexslider thumbs">
                                    <ul class="slides">
                                        <li class="active">
                                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-thumbnail-e-sm.jpg') }}" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-thumbnail-b-sm.jpg') }}" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-thumbnail-c-sm.jpg') }}" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-thumbnail-d-sm.jpg') }}" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-thumbnail-b-sm.jpg') }}" alt=""></a>
                                        </li>
                                    </ul>
                                    <div id="thumbs-nav" class="slider-buttons vertical inverse">
                                        <button type="button" class="btn btn-default flex-next"><span class="pluckt-arrow-right"></span></button>
                                        <button type="button" class="btn btn-default flex-prev"><span class="pluckt-arrow-left"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <!-- end image gallery -->

                    <!--
                    <p>
                        According to co-producer Tracy Sarte, the biggest challenge of Baby Angelo's production is finding the location. As the other finalists were already in production, they were still hunting the perfect location. "The story calls for a beautiful location as it is also a character of the film; but after that, the rest went smoothly. 
                    </p>
                    -->
                </div>
                <!-- end field note body -->

                <!-- tags -->
                <!--
                <div class="tags">
                    <a href="#" class="tag">Baby Angelo</a>
                    <a href="#" class="tag">Joel Ruiz</a>
                    <a href="#" class="tag">Drama</a>
                    <a href="#" class="tag">Documentary</a>
                    <a href="#" class="tag">Cinemalaya</a>
                    <a href="#" class="tag">Mystery</a>
                </div>
                -->
                <!-- end tags -->

                <!-- comments -->
                <!--
                <section class="grid" id="comments">
                    <div class="section-header">
                        <div class="section-title">
                            <h3>Comments</h3>
                        </div>
                        <div class="section-controls">
                            <div class="portraits-list">
                                <div class="portraits-row">
                                    <a class="portrait-md" href="#">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-b-md.jpg') }}" title="Christina Honrado" alt="Christina Honrado">
                                    </a>
                                    <a class="portrait-md" href="#">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-c-md.jpg') }}" title="Member" alt="Member">
                                    </a>
                                    <a class="portrait-md" href="#">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                        <span class="badge-star"></span>
                                    </a>
                                    <a class="portrait-md" href="#"><span class="pluckt-more lg" title="View more"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->

                    <!-- comment blocks (same style so kept class) -->
                    <!--
                    <div class="review-blocks">
                        <div class="section-title">
                        <div class="review">
                            <div class="info-line">
                                <div class="inline">
                                    <a class="portrait-md" href="#">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                        <span class="badge-star"></span>
                                    </a>
                                </div>
                                <div class="inline">
                                    <div>
                                        <span class="user-name">Joel Ruiz</span>
                                        <span class="user-role">Director</span>
                                        <small>commented on this movie</small>
                                        <small>&#x25cf;</small>
                                        <small>14s</small>
                                    </div>
                                </div>
                            </div>
                            <article class="review-content">
                                <div class="review-body">
                                    <p>
                                        It is a different look at how lives intersect. How each of us unconsciously affects one another...
                                    </p>
                                </div>
                            </article>
                            <hr class="dotted">
                            <div class="review-comments">
                                <div class="comment-block">
                                    <div class="reply-to"><img src="{{ asset('bundles/plucktclienttemplate/images/icon-reply-to.png') }}" alt=""></div>
                                    <div class="comment">
                                        <div class="info-line">
                                            <div class="inline">
                                                <a class="portrait-md" href="#">
                                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-i-md.jpg') }}" title="Rianne Hill Soriano" alt="Rianne Hill Soriano">
                                                </a>
                                            </div>
                                            <div class="inline">
                                                <div>
                                                    <span class="user-name">Rianne Hill Soriano</span>
                                                    <span class="user-role">Member</span>
                                                    <small>replied to this comment</small>
                                                    <small>&#x25cf;</small>
                                                    <small>14s</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-content">
                                            <div class="comment-body">
                                                <p>
                                                    It is a different look at how lives intersect. How each of us unconsciously affects one another...
                                                </p>
                                            </div>
                                        </div>
                                        <hr class="dotted">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <!-- end comment blocks -->
                </section>
                <!-- end comments section -->

                <!-- write a comment -->
                <!--
                <div class="grid">
                    <form id="note-comment-form" method="post" action="/">
                        <div class="rating-input-box">
                            <div class="box-content">
                                Say something about this note.
                                <div class="body-box">
                                    <textarea name="message" class="form-control flush" rows="3" placeholder="Please write a response..."></textarea>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div>
                                    <div class="status-icons">
                                        <a href="#"><span class="pluckt-facebook"></span></a>
                                        <a href="#"><span class="pluckt-twitter"></span></a>
                                        <a href="#"><span class="pluckt-tumblr"></span></a>
                                        <button type="submit" class="button action-button small"><div>Post</div></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                -->
                <!-- end write a comment -->

                <!-- read next section -->
                <!--
                <section class="grid" id="field-notes">
                    <div class="section-header">
                        <div class="section-title">
                            <h3>Read Next</h3>
                        </div>
                    </div>
                    <div class="article-block">
                        <div class="col-xs-4">
                            <div class="post-time">1/16/2015</div>
                            <h3>The Apartment Hunt [Joel Ruiz orders an investigation]</h3>
                            <div class="info-line">
                                <div class="inline">
                                    <a class="portrait-md" href="#">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                        <span class="badge-star"></span>
                                    </a>
                                </div>
                                <div class="inline">
                                    <div class="info-line">
                                        <span class="user-name">Joel Ruiz</span>
                                        <span class="user-role">Director</span>
                                        <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                    </div>
                                    <div><a href="#">View Profile</a></div>
                                </div>
                            </div>
                            <hr>
                            <div class="tags">
                                <a href="#" class="tag">Baby Angelo</a>
                                <a href="#" class="tag">Joel Ruiz</a>
                                <a href="#" class="tag">Drama</a>
                                <a href="#" class="tag">Documentary</a>
                                <a href="#" class="tag">Cinemalaya</a>
                            </div>
                            <div class="status-icons left">
                                <a href="#"><span class="pluckt-comment inline"></span>200</a>
                                <a href="#"><span class="pluckt-share inline"></span>200</a>
                                <a href="#"><span class="pluckt-more lg" title="Options"></span></a>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <img class="article-image" src="{{ asset('bundles/plucktclienttemplate/images/field-note-prev-2.jpg') }}" alt="">
                        </div>
                    </div>
                </section>
                -->
                <!-- end read next section -->
            </div>
        </div>
    </article>
    <!-- end field note article -->
</main>
<!-- end content -->
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('bundles/plucktclienttemplate/css/flexslider.css') }}">
{% endblock %}

{% block js %}
<script src="{{ asset('bundles/plucktclienttemplate/js/vendor/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/pages/note-read.js') }}"></script>
{% endblock %}
