<f!-- activities page content -->
{% if user.isArtist %}
<section class="page hide" id="activities-page">
{% else %}
<section class="page" id="activities-page">
    <!-- profile intro -->
    <section class="profile-intro profile-line">
        <div class="row">
            <div class="about-me">
                <p id="user-bio">{{ user.getBio }}</p>
            </div>
        </div>
        {% if user.getID == app.user.getID %}
        <a id="bio-btn" class="profile-controls" href="#bio" data-toggle="tooltip" data-placement="right" title="Edit"><span class="pluckt-pencil"></span></a>
        {% endif %}
    </section>
    <!-- end profile intro -->
{% endif %}
    <!-- activities -->
    <section class="activities" id="activity-list">
        <div class="section-header">
            <div class="section-title">
                <h3>Activities</h3>
            </div>
        </div>

        {% for log in activity_log %}
            {{ macro_log.display_log(log) }}
        {% endfor %}
<!--
        <article class="activity">
            <div class="activity-actions">
                <button class="btn btn-block status-button" disabled>1 hour ago</button>
                <button class="btn btn-block action-button">Watch</button>
            </div>
            <div class="activity-details">
                <div class="activity-byline">
                    <div class="inline">
                        <a class="portrait-md" href="#">
                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                            <span class="badge-star"></span>
                        </a>
                    </div>
                    <div class="inline">
                        <div><span class="user-name">Joel Ruiz</span></div>
                        <div><span class="user-role">Director</span></div>
                    </div>
                </div>
                <div class="activity-content">
                    <h3 class="activity-title">Lakad ni Sammy</h3>
                    <div class="activity-body">
                        <div class="info-line">
                            <a class="class-rating">R-18</a>
                            <span class="year">2008</span>
                            <span>&#x25cf;</span>
                            <span class="runtime">84 min</span>
                            <span class="genre">Drama</span>
                            <div class="star-rating">
                                <input class="star star-5" id="star-5-c" type="radio" name="star-c" disabled>
                                <label class="star star-5" for="star-5-c"></label>
                                <input class="star star-4" id="star-4-c" type="radio" name="star-c" checked disabled>
                                <label class="star star-4" for="star-4-c"></label>
                                <input class="star star-3" id="star-3-c" type="radio" name="star-c" disabled>
                                <label class="star star-3" for="star-3-c"></label>
                                <input class="star star-2" id="star-2-c" type="radio" name="star-c" disabled>
                                <label class="star star-2" for="star-2-c"></label>
                                <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                <label class="star star-1" for="star-1-c"></label>
                            </div>
                        </div>
                        <div class="info-line">
                            <span>BY</span>
                            <span class="user-name">Joel Ruiz</span>
                            <span class="user-role">Director</span>
                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                            <span><a href="#">View Profile</a></span>
                        </div>
                    </div>
                </div>
                <div class="activity-status">
                    <div class="status-icons">
                        <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                        <a href="#"><span class="pluckt-share inline"></span>200</a>
                    </div>
                </div>
            </div>
            <div class="activity-photo">
                <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-c-md.jpg') }}" alt="Lakad ni Sammy"></a>
            </div>
        </article>
        <article class="activity comments">
            <div class="comments-list">
                <div class="comments-summary">
                    <span class="pluckt-comment sm"></span>
                    <span class="total-comments">200 comments</span>
                    <a href="#"><span class="pluckt-arrow-down sm"></span></a>
                </div>
                <div class="comment">
                    <div class="comment-portrait">
                        <a class="portrait-sm" href="#">
                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-d-sm.jpg') }}" title="Celine Lopez" alt="Celine Lopez">
                        </a>
                    </div>
                    <div class="comment-details">
                        <div class="info-line">
                            <span class="user-name">Celine Lopez</span>
                            <span class="user-role">Member</span>
                        </div>
                        <div class="comment-body">
                            <p>Story inspirations could practically come from anywhere.</p>
                        </div>
                    </div>
                </div>
                <div class="comment-box">
                    <form method="post">
                        <span class="pluckt-comment inline"></span>
                        <textarea name="comment" placeholder="Add a comment..." rows="1"></textarea>
                    </form>
                </div>
            </div>
        </article>
        <article class="activity comments">
            <div class="comments-list">
                <div class="comments-summary">
                    <span class="pluckt-comment sm"></span>
                    <span class="total-comments">200 comments</span>
                    <a href="#"><span class="pluckt-arrow-down sm"></span></a>
                </div>
                <div class="comment">
                    <div class="comment-portrait">
                        <a class="portrait-sm" href="#">
                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-d-sm.jpg') }}" title="Celine Lopez" alt="Celine Lopez">
                        </a>
                    </div>
                    <div class="comment-details">
                        <div class="info-line">
                            <span class="user-name">Celine Lopez</span>
                            <span class="user-role">Member</span>
                        </div>
                        <div class="comment-body">
                            <p>Story inspirations could practically come from anywhere.</p>
                        </div>
                    </div>
                </div>
                <div class="comment-box">
                    <form method="post">
                        <span class="pluckt-comment inline"></span>
                        <textarea name="comment" placeholder="Add a comment..." rows="1"></textarea>
                    </form>
                </div>
            </div>
        </article>
-->
<!--
        <div class="loader-button-box">
            <button class="button action-button">See More</button>
        </div>
-->
    </section>
    <!-- end activities section -->
</section>
<!-- end activities page content -->
