<!-- favorites page content -->
<section class="page hide" id="favorites-page">
    <section class="movie-list">
        <div class="section-header">
            <div class="section-title">
                <h3>Favorites</h3>
            </div>
            <div class="section-controls">
                <h3><a class="btn btn-icon" href="#"><span class="pluckt-circle-play"></span></a></h3>
            </div>
        </div>
        {% set faves = app.user.getFavoriteVideos|default({}) %}
        <div class="section-info">
            <div class="col-xs-6">
                <div class="info-line">
                    <span>{{ faves|length }} videos</span>
                    <span>&#x25cf;</span>
                    <span>{{ app.user.getFavoriteVideosTotalMinutes|default('0') }} min</span>
                    <!--
                    <span>&#x25cf;</span>
                    <span>Last updated on Jan 11, 2015</span>
                    -->
                </div>
            </div>
            <div class="col-xs-6">
                <div class="status-icons right">
                    <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                    <a href="#"><span class="pluckt-share inline"></span>200</a>
                </div>
            </div>
        </div>
        <div class="list-table">
            <table>
                <tbody>
                    {% for video in faves %}
                    {% set director = video.getDirector %}
                    <tr>
                        <td class="item-no">{{ loop.index }}</td>
                        <td class="movie-poster"><a href="{{ path('pluckt_client_movie_details', {'id': video.getID}) }}"><img src="{{ video.getPoster.getURL }}" height="90"></a></td>
                        <td class="movie-title"><h4>{{ video.getTitle }}</h4></td>
                        <td class="user-name">{{ director.getName }}</td>
                        <td class="country"><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ video.getDirector.getBaseCountry|default('') ~ '.png') }}" alt="" title=""></td>
                        <td class="rating"><a class="class-rating">{{ video.getRatingID }}</a></td>
                        <td class="genre">{{ video.getCategoriesText }}</td>
                        <td class="runtime">{{ video.getMinutes }} min</td>
                    </tr>
                    {% endfor %}
                    <!--
                    <tr>
                        <td class="item-no">2</td>
                        <td class="movie-poster"><a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-a-xs.jpg') }}" alt="Maynila"></a></td>
                        <td class="movie-title"><h4>Maynila</h4></td>
                        <td class="user-name">Lino Brocka</td>
                        <td class="country"><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></td>
                        <td class="rating"><a class="class-rating">R-18</a></td>
                        <td class="genre">Action</td>
                        <td class="runtime">84 min</td>
                    </tr>
                    <tr>
                        <td class="item-no">3</td>
                        <td class="movie-poster"><a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-b-xs.jpg') }}" alt="Big Time"></a></td>
                        <td class="movie-title"><h4>Big Time</h4></td>
                        <td class="user-name">Monster Jimenez</td>
                        <td class="country"><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></td>
                        <td class="rating"><a class="class-rating">R-18</a></td>
                        <td class="genre">Action</td>
                        <td class="runtime">84 min</td>
                    </tr>
                    <tr>
                        <td class="item-no">4</td>
                        <td class="movie-poster"><a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-f-xs.jpg') }}" alt="Mansyon"></a></td>
                        <td class="movie-title"><h4>Mansyon</h4></td>
                        <td class="user-name">Joel Ruiz</td>
                        <td class="country"><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></td>
                        <td class="rating"><a class="class-rating">R-18</a></td>
                        <td class="genre">Drama</td>
                        <td class="runtime">84 min</td>
                    </tr>
                    <tr>
                        <td class="item-no">5</td>
                        <td class="movie-poster"><a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-d-xs.jpg') }}" alt="Baby Angelo"></a></td>
                        <td class="movie-title"><h4>Baby Angelo</h4></td>
                        <td class="user-name">Joel Ruiz</td>
                        <td class="country"><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></td>
                        <td class="rating"><a class="class-rating">R-18</a></td>
                        <td class="genre">Drama</td>
                        <td class="runtime">84 min</td>
                    </tr>
                    -->
                </tbody>
            </table>
        </div>
    </section>
</section>
<!-- end favorites page content -->
