<!-- profile page content -->
<section class="page" id="profile-page">
    <!-- profile intro -->
    <section class="profile-intro profile-line grid">
        <div class="row">
            <div class="about-me">
                <blockquote>
                    <span class="quote-open">&ldquo;</span>
                    <span id="user-quote">{{ user.getArtist.getQuote| default('') }}</span>
                    <span class="quote-close">&rdquo;</span>
                </blockquote>
                <p id="user-bio">{{ user.getBio| default('') }}</p>
            </div>
        </div>
        {% if app.user and user.getID == app.user.getID %}
        <a id="bio-btn" class="profile-controls" href="#bio" data-toggle="tooltip" data-placement="right" title="Edit"><span class="pluckt-pencil"></span></a>
        {% endif %}
    </section>
    <!-- end profile intro -->

    <!-- awards -->
    <section class="grid" id="awards">
        <div class="section-header">
            <div class="section-title">
                <h3>Awards</h3>
            </div>
        </div>
        <section class="slider">
            <div class="flexslider side-nav">
                <ul class="slides">
                    {% for a in user.getAwards %}
                    <li>
                        <div><strong>{{ a.getYear|default('') }}</strong></div>
                        <section class="award">
                            <div class="col-sm-5">
                                <img src="{{ a.getEvent.getLogo.getURL|default('') }}" alt="Event">
                            </div>
                            <div class="col-sm-7">
                                <h5>{{ a.getPlacement|default('') }}</h5>
                                <div>{{ a.getName|default('') }}</div>
                                <div><a href="{{ path('pluckt_client_movie_details', {'id': a.getVideo.getID|default('0')}) }}">{{ a.getVideo.getName|default('') }}</a> ({{ a.getYear|default('') }})</div>
                            </div>
                        </section>
                    </li>
                    {% endfor %}
                    <!--
                    <li>
                        <div><strong>&nbsp;</strong></div>
                        <section class="award">
                            <div class="col-sm-5">
                                <img src="{{ asset('bundles/plucktclienttemplate/images/gawad-urian-logo-sm.jpg') }}" alt="Cinemalaya">
                            </div>
                            <div class="col-sm-7">
                                <h5>Winner</h5>
                                <div>Gawad Urian Award</div>
                                <div>Best Documentary</div>
                                <div><a href="#">Kano</a> (2010)</div>
                            </div>
                        </section>
                    </li>
                    <li>
                        <div><strong>2005</strong></div>
                        <section class="award">
                            <div class="col-sm-5">
                                <img src="{{ asset('bundles/plucktclienttemplate/images/cinemalaya-logo-sm.jpg') }}" alt="Cinemalaya">
                            </div>
                            <div class="col-sm-7">
                                <h5>Winner</h5>
                                <div>Balanghai Trophy</div>
                                <div>Best Screenplay</div>
                                <div><a href="#">Big Time</a> (2005)</div>
                            </div>
                        </section>
                    </li>
                    <li>
                        <div><strong>&nbsp;</strong></div>
                        <section class="award">
                            <div class="col-sm-5">
                                <img src="{{ asset('bundles/plucktclienttemplate/images/cinemalaya-logo-sm.jpg') }}" alt="Cinemalaya">
                            </div>
                            <div class="col-sm-7">
                                <h5>Winner</h5>
                                <div>Balanghai Trophy</div>
                                <div>Best Screenplay</div>
                                <div><a href="#">Big Time</a> (2005)</div>
                            </div>
                        </section>
                    </li>
                    <li>
                        <div><strong>&nbsp;</strong></div>
                        <section class="award">
                            <div class="col-sm-5">
                                <img src="{{ asset('bundles/plucktclienttemplate/images/cinemalaya-logo-sm.jpg') }}" alt="Cinemalaya">
                            </div>
                            <div class="col-sm-7">
                                <h5>Winner</h5>
                                <div>Balanghai Trophy</div>
                                <div>Best Screenplay</div>
                                <div><a href="#">Big Time</a> (2005)</div>
                            </div>
                        </section>
                    </li>
                    <li>
                        <div><strong>2003</strong></div>
                        <section class="award">
                            <div class="col-sm-5">
                                <img src="{{ asset('bundles/plucktclienttemplate/images/cinemalaya-logo-sm.jpg') }}" alt="Cinemalaya">
                            </div>
                            <div class="col-sm-7">
                                <h5>Winner</h5>
                                <div>Balanghai Trophy</div>
                                <div>Best Screenplay</div>
                                <div><a href="#">Big Time</a> (2005)</div>
                            </div>
                        </section>
                    </li>
                    <li>
                        <div><strong>&nbsp;</strong></div>
                        <section class="award">
                            <div class="col-sm-5">
                                <img src="{{ asset('bundles/plucktclienttemplate/images/cinemalaya-logo-sm.jpg') }}" alt="Cinemalaya">
                            </div>
                            <div class="col-sm-7">
                                <h5>Winner</h5>
                                <div>Balanghai Trophy</div>
                                <div>Best Screenplay</div>
                                <div><a href="#">Big Time</a> (2005)</div>
                            </div>
                        </section>
                    </li>
                    -->
                </ul>
                <div id="awards-nav" class="slider-buttons vertical">
                    <button type="button" class="btn btn-default flex-next"><span class="pluckt-arrow-right"></span></button>
                    <button type="button" class="btn btn-default flex-prev"><span class="pluckt-arrow-left"></span></button>
                </div>
            </div>
        </section>
    </section>
    <!-- end awards section -->

    <!-- filmography -->
    <section class="grid" id="filmography">
        <div class="section-header">
            <div class="section-title">
                <h3>Filmography</h3>
            </div>
        </div>
        <div class="shelf-row">
            {% for role in user.getArtist.getRoles %}
                {{ movie.poster(role.getVideo) }}
            {% endfor %}
        </div>
    </section>
    <!-- end filmography section -->

    <div class="loader-button-box">
        <button id="btn-user-activities" class="button action-button">View {{ user.getName }}'s Activities</button>
    </div>
</section>
<!-- end profile page content -->
