<!-- shelves page content -->
<section class="page hide" id="shelves-page">
    <!-- shelf list -->
    <section class="grid" id="shelf-list">
        <div class="section-header">
            <div class="section-title">
                <h3>Shelves</h3>
            </div>
            {% if app.user and user.getID == app.user.getID %}
            <div class="section-controls">
                <button class="button" id="btn-new-shelf" data-toggle="modal" data-target="#add-shelf"><span class="pluckt-plus inline"></span>New Shelf</button>
            </div>
            {% endif %}
        </div>
        <section class="slider">
            <div class="flexslider covers">
                <ul class="slides">
                {% if user.getLists|length > 0 %}
                {% for ulist in user.getLists %}
                    <li class="shelf" data-id="{{ ulist.getID }}">
                        <a href="#" class="grid-item" data-contents-path="{{ path('pluckt_client_ulist_get_movies', {'id': ulist.getID }) }}">
                            <figure class="cover-stack{{ ulist.getVideos|length == 2 ? ' v2' }}">
                            {% if ulist.getVideos|length > 0 %}
                            {% for uvid in ulist.getVideos|slice(0,3) %}
                                <img src="{{ uvid.getVideo.getPoster.getURL }}" alt="{{ uvid.getVideo.getTitle }}" data-id="{{ uvid.video.getID }}">
                            {% endfor %}
                            {% else %}
                            <div class="shelf-placeholder">
                                This shelf is empty
                            </div>
                            {% endif %}
                            </figure>
                        </a>
                        <h4 class="shelf-name profile-line">
                            {{ ulist.getName }}
                            {% if app.user and user.getID == app.user.getID %}
                            <a class="profile-controls shelf-name-btn" href="#edit-shelf" data-toggle="tooltip" data-placement="right" data-form-action="{{ path('pluckt_client_ulist_rename', {'id': ulist.getID}) }}" data-value="{{ ulist.getName }}" title="Edit Shelf Name"><span class="pluckt-pencil"></span></a>
                            {% endif %}
                        </h4>
                        <div class="info-line">
                            <span class="total-movies">{{ ulist.getVideos|length ~ " Movie" ~ (ulist.getVideos|length != 1 ? 's' : '') }}</span>
                            <span>&#x25cf;</span>
                            <span class="total-runtime">{{ ulist.getTotalMinutes }} min</span>
                        </div>
                    </li>
                {% endfor %}
                {% endif %}
                </ul>
                <div id="shelves-nav" class="slider-buttons vertical overlay">
                    <button type="button" class="btn btn-default flex-next"><span class="pluckt-arrow-right"></span></button>
                    <button type="button" class="btn btn-default flex-prev"><span class="pluckt-arrow-left"></span></button>
                </div>
            </div>
            {% if user.getLists|length == 0 %}
            <div class="text-center">
                No shelves to display. <a href="#" data-toggle="modal" data-target="#add-shelf">Create one now</a>.
            </div>
            {% endif %}
        </section>
    </section>
    <!-- end shelf list section -->

    <!-- shelf details -->
    <section class="grid hide" id="shelf-details" data-id="">
        <div class="section-header">
            <div class="shelf-title"></div>
        </div>
        <div class="section-info">
            <div class="col-xs-6">
                <div class="info-line">
                    <span id="shelf-video-count"></span>
                    <span>&#x25cf;</span>
                    <span id="shelf-total-runtime"></span>
                    <span>&#x25cf;</span>
                    <span id="shelf-last-updated">Last updated on Jan 11, 2015</span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="status-icons right">
                    <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                    <a href="#"><span class="pluckt-share inline"></span>200</a>
                </div>
            </div>
        </div>
        <div id="shelf-contents" class="shelf-row"></div>
    </section>
    <!-- end shelf details section -->

    <!-- dummy poster -->
    <div id="poster-model" class="hide">
        {{ movie.poster(null, user.getID == app.user.getID|default('0') ? true : false) }}
    </div>
    <!-- end dummy poster -->
</section>
<!-- end shelves page content -->
