<table id="video-row" class="hidden">
<tbody>
    <tr>
        <td>
            <select name="video_id[]" class="form-control">
                {{ form.options(video_opts, '') }}
            </select>
        </td>
        <td>
            <a href="#" class="btn green btn-sm btn-video-up">Up</a>
            <a href="#" class="btn green btn-sm btn-video-down">Down</a>
            <a href="#" class="btn red btn-sm btn-video-remove">Remove</a>
        </td>
    </tr>
</tbody>
</table>
