<h3 class="form-section">Information</h3>
{{ form.group_text('Name', 'name', o.getName, 3, 7) }}

<h3 class="form-section">Videos</h3>
<button class="btn green btn-video-add">Add Video</button>
<br><br>
<table id="video-table" class="table table-striped table-bordered">
<thead>
    <tr>
        <th>Name</th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
    {% for ar in o.getVideos %}
    <tr>
        <td>
            <select name="video_id[]" class="form-control">
                {{ form.options(video_opts, ar.getVideo.getID) }}
            </select>
        </td>
        <td>
            <a href="#" class="btn green btn-sm btn-video-up">Up</a>
            <a href="#" class="btn green btn-sm btn-video-down">Down</a>
            <a href="#" class="btn red btn-sm btn-video-remove">Remove</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>

