{% extends "PlucktTemplateBundle::base.admin.html.twig" %}

{% block title %}Pluckt - Curated List{% endblock %}

{% block header_title %}Curated List <small>List All</small>{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Curated List</span>
                </div>
                <div class="tools">
<!--
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
-->
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group">
                                <a href="{{ path('pluckt_admin_clist_add_form') }}" class="btn green">
                                Add New <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="list-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Pick</th>
                    <th>Featured</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for o in objects %}
                <tr class="odd gradeX">
                    <td>{{ o.getName }}</td>
                    <td>
                        {% if o.isPick %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        {% if o.isFeatured %}
                        Featured
                        {% else %}
                        Not Featured
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('pluckt_admin_clist_edit_form', {'id': o.getID})  }}" class="btn green btn-xs">Edit</a>

                        {% if o.isPick %}
                        <a href="{{ path('pluckt_admin_clist_unpick', {'id': o.getID})  }}" class="btn green btn-xs">Unpick</a>
                        {% else %}
                        <a href="{{ path('pluckt_admin_clist_pick', {'id': o.getID})  }}" class="btn green btn-xs">Pick</a>
                        {% endif %}

                        {% if o.isFeatured %}
                        <a href="{{ path('pluckt_admin_clist_unfeature', {'id': o.getID})  }}" class="btn green btn-xs">Unfeature</a>
                        {% else %}
                        <a href="{{ path('pluckt_admin_clist_feature', {'id': o.getID})  }}" class="btn green btn-xs">Feature</a>
                        {% endif %}
                        <a href="{{ path('pluckt_admin_clist_delete', {'id': o.getID})  }}" class="btn red btn-xs">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ asset('bundles/pluckttemplate/assets/global/plugins/select2/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/pluckttemplate/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/pluckttemplate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>
<script>
$(document).ready(function() {
    $('#list-table').dataTable({
    });
});
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/pluckttemplate/assets/global/plugins/select2/select2.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/pluckttemplate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css') }}"/>
{% endblock %}
