@charset "UTF-8";

@font-face {
  font-family: "pluckt-icons";
  src:url("fonts/pluckt-icons.eot");
  src:url("fonts/pluckt-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/pluckt-icons.woff") format("woff"),
    url("fonts/pluckt-icons.ttf") format("truetype"),
    url("fonts/pluckt-icons.svg#pluckt-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pluckt-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="pluckt-"]:before,
[class*=" pluckt-"]:before {
  font-family: "pluckt-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pluckt-book:before {
  content: "b";
}
.pluckt-globe:before {
  content: "d";
}
.pluckt-rect-play:before {
  content: "e";
}
.pluckt-share:before {
  content: "g";
}
.pluckt-comment:before {
  content: "h";
}
.pluckt-facebook:before {
  content: "i";
}
.pluckt-twitter:before {
  content: "j";
}
.pluckt-tumblr:before {
  content: "k";
}
.pluckt-mail:before {
  content: "l";
}
.pluckt-grid:before {
  content: "m";
}
.pluckt-inbox-out:before {
  content: "n";
}
.pluckt-circle-play:before {
  content: "o";
}
.pluckt-search:before {
  content: "f";
}
.pluckt-calendar:before {
  content: "c";
}
.pluckt-star:before {
  content: "p";
}
