{% macro display_log(log) %}
    {% import _self as macro_log %}
    {% if log.isFollow %}
        {{ macro_log.disp_follow(log) }}
    {% elseif log.isReview %}
        {{ macro_log.disp_review(log) }}
    {% elseif log.isComment %}
        {{ macro_log.disp_comment(log) }}
    {% elseif log.isUserListVideo %}
        {{ macro_log.disp_userlistvideo(log) }}
    {% elseif log.isFNPage %}
        {{ macro_log.disp_fnpage(log) }}
    {% endif %}
{% endmacro %}

{% macro byline(log) %}
<div class="activity-byline">
    <div class="inline">
        <a class="portrait-md" href="#">
            <img src="{{ log.getUser.getProfilePic.getURL|default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ user.getFullName|default('') }}" alt="{{ uset.getFullName|default('') }}">
            {% if log.getUser.isArtist %}
            <span class="badge-star"></span>
            {% endif %}
        </a>
    </div>
    <div class="inline">
        <div><span class="user-name">{{ log.getUser.getFullName|default('') }}</span></div>
        <div><span class="user-role">{{ log.getUser.getArtist.getTypesText|default('Member') }}</span></div>
    </div>
</div>
{% endmacro %}

{% macro disp_fnpage(log) %}
{% import _self as macro_log %}
<article class="activity">
    <div class="activity-actions">
        <button class="btn btn-block status-button" disabled>{{ log.getDateElapsed }}</button>
        <button class="btn btn-block action-button">Field Note</button>
    </div>
    <div class="activity-details">
        {{ macro_log.byline(log) }}

        <div class="activity-content">
            {% set fnpage = log.getFNPage %}
            <h3 class="activity-title">{{ fnpage.getName }}</h3>
            <div class="activity-body">
                <p>Story inspirations could practically come from anywhere. In direk Joel Ruiz's case, it came from an elevator. "Please pray for baby Angelo," was what the note posted in the elevator of his office said.</p>
                <p>Much like the real experience, 'Baby Angelo' is a feature length film about an aborted baby found in the garbage of a run down apartment complex. An investigation ensues as to whose baby it was, but the film more importantly revolves around the apartment's inhabitants and how each of their diverse lives are after all, correlated.</p>
            </div>
        </div>
    </div>
    {% set movie = fnpage.getVideo %}
    <div class="activity-photo">
        <a href="{{ movie ? path('pluckt_client_movie_details', {'id': movie.getID}) }}"><img src="{{ movie.getPoster.getURL|default('') }}" alt="{{ movie.getTitle }}" height="200"></a>
    </div>
</article>
{% endmacro %}

{% macro disp_follow(log) %}
{% import "PlucktClientBundle::macro.rating.html.twig" as rating %}
{% import _self as macro_log %}
<article class="activity">
    <div class="activity-actions">
        <button class="btn btn-block status-button" disabled>{{ log.getDateElapsed }}</button>
        <button class="btn btn-block action-button">Follow</button>
    </div>
    {% set log_class = log.getFollow.getTargetClass %}
    {% if log_class == "Pluckt\\UserBundle\\Entity\\User" %}
    {% set user = log.getTarget %}
    <div class="activity-details">
        {{ macro_log.byline(log) }}
        <div class="activity-content">
            <h3 class="activity-title">
                <small>followed</small> <span class="user-name">{{ user.getFullName|default('') }}</span>
            </h3>
            <div class="activity-body">
                <div class="info-line">
                    <span class="user-role">{{ user.getArtist.getTypesText|default('Member') }}</span>
                    <span>&#x25cf;</span>
                    <span>{{ user.getCountryLabel|default('Philippines') }}</span>
                    <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ user.getCountry|default('PH') ~ '.png') }}" alt="{{ user.getCountryLabel|default('Philippines') }}" title="{{ user.getCountryLabel|default('Philippines') }}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="activity-photo">
        <a class="portrait-lg" href="{{ path('pluckt_client_user_profile_view', {'id': user.getID }) }}">
            <img src="{{ user.getProfilePic.getURL|default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ user.getFullName|default('') }}" alt="{{ uset.getFullName|default('') }}">
            {% if user.isArtist|default(false) %}
            <div class="badge-star"></div>
            {% endif %}
        </a>
    </div>

    {% elseif log_class == "Pluckt\\AdminBundle\\Entity\\Video" %}
    {% set movie = log.getTarget %}
    <div class="activity-details">
        {{ macro_log.byline(log) }}
        <div class="activity-content">
            <h3 class="activity-title">
            <small>followed</small> <span class="user-name">{{ movie.getTitle|default('') }}</span></h3>
            <div class="activity-body">
                <div class="info-line">
                    <a class="class-rating">{{ movie.getRatingID }}</a>
                    <span class="year">{{ movie.getYearProduced }}</span>
                    <span>&#x25cf;</span>
                    <span class="runtime">{{ movie.getMinutes }} min</span>
                    <span class="genre">{{ movie.getCategoriesText }}</span>
                    {{ rating.star(movie.getAvgRating|round(0, 'floor'), 'shelf-item') }}
                </div>
                <div class="info-line">
                    <span>BY</span>
                    <span class="user-name">{{ movie.getDirector.getUser.getFullName|default('') }}</span>
                    <span class="user-role">Director</span>

                    <span><img class="movie-flag" src="{{ movie ? asset('bundles/plucktclienttemplate/images/flags/' ~ movie.getDirector.getBaseCountry|default('PH') ~ '.png') : asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="{{ movie ? movie.getDirector.getBaseCountryLabel|default('Philippines') }}" title="{{ movie ? movie.getDirector.getBaseCountryLabel|default('Philippines') }}" data-id="{{ movie ? movie.getDirector.getBaseCountry|default('PH') }}"></span>
                    <!--
                    <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                    <span><a href="#">View Profile</a></span>
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="activity-photo">
        <a href="{{ movie ? path('pluckt_client_movie_details', {'id': movie.getID}) }}"><img src="{{ movie.getPoster.getURL|default('') }}" alt="{{ movie.getTitle }}" height="200"></a>
    </div>
    {% endif %}

</article>
{% endmacro %}

{% macro disp_comment(log) %}
{% import _self as macro_log %}
<article class="activity">
    <div class="activity-actions">
        <button class="btn btn-block status-button" disabled>{{ log.getDateElapsed }}</button>
        <button class="btn btn-block action-button">Comment</button>
    </div>
    <div class="activity-details">
        {{ macro_log.byline(log) }}
        <div class="activity-content">
            {% set comment = log.getComment %}
            <h3 class="activity-title">&nbsp;</h3>
            <div class="activity-body">
                <p>{{ comment.getMessage }}</p>
                <br><br>
            </div>
        </div>
    </div>
    {% set movie = log.getTarget %}
    <div class="activity-photo">
        <a href="{{ movie ? path('pluckt_client_movie_details', {'id': movie.getID}) }}"><img src="{{ movie.getPoster.getURL|default('') }}" alt="{{ movie.getTitle }}" height="200"></a>
    </div>
</article>
{% endmacro %}

{% macro disp_review(log) %}
{% import _self as macro_log %}
<article class="activity">
    <div class="activity-actions">
        <button class="btn btn-block status-button" disabled>{{ log.getDateElapsed }}</button>
        <button class="btn btn-block action-button">Review</button>
    </div>
    <div class="activity-details">
        {{ macro_log.byline(log) }}
        <div class="activity-content">
            {% set review = log.getReview %}
            <h3 class="activity-title">{{ review.getTitle }}</h3>
            <div class="activity-body">
                <p>{{ review.getMessage }}</p>
            </div>
            <div class="movie-rating">
                <div class="star-rating pull-right">
                    <input class="star star-5" id="star-5-b" type="radio" name="star-b" disabled>
                    <label class="star star-5" for="star-5-b"></label>
                    <input class="star star-4" id="star-4-b" type="radio" name="star-b" checked disabled>
                    <label class="star star-4" for="star-4-b"></label>
                    <input class="star star-3" id="star-3-b" type="radio" name="star-b" disabled>
                    <label class="star star-3" for="star-3-b"></label>
                    <input class="star star-2" id="star-2-b" type="radio" name="star-b" disabled>
                    <label class="star star-2" for="star-2-b"></label>
                    <input class="star star-1" id="star-1-b" type="radio" name="star-b" disabled>
                    <label class="star star-1" for="star-1-b"></label>
                </div>
            </div>
        </div>
    </div>
    {% set movie = log.getTarget %}
    <div class="activity-photo">
        <a href="{{ movie ? path('pluckt_client_movie_details', {'id': movie.getID}) }}"><img src="{{ movie.getPoster.getURL|default('') }}" alt="{{ movie.getTitle }}" height="200"></a>
    </div>
</article>
{% endmacro %}

{% macro disp_userlistvideo(log) %}
{% import _self as macro_log %}
<article class="activity">
    <div class="activity-actions">
        <button class="btn btn-block status-button" disabled>{{ log.getDateElapsed }}</button>
        <button class="btn btn-block action-button">Add to Shelf</button>
    </div>
    <div class="activity-details">
        {{ macro_log.byline(log) }}
        {% set ulv = log.getLink %}
        {% set movie = ulv.getVideo %}
        {% set list = ulv.getList %}
        <div class="video-activity">
            <div class="video-thumbnail">
                <div class="thumbnail-image" style="background-image: url('{{ movie.getBackground.getURL|default('') }}');">
                    <div class="overlay-dim">
                        <a class="btn btn-icon" href="#"><span class="pluckt-circle-play"></span></a>
                    </div>
                </div>
            </div>
            <div class="activity-content">
                <h3 class="activity-title">
                    <small>Add <strong>{{ movie.getName }}</strong> to</small><br>
                    {{ list.getName }}
                </h3>
                <div class="activity-body">
                   <a href="#">{{ list.getVideos.count }} Movies</a>
                </div>
            </div>
        </div>
        <!--
        <div class="activity-status">
            <div class="status-icons">
                <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                <a href="#"><span class="pluckt-share inline"></span>200</a>
            </div>
        </div>
        -->
    </div>
    <div class="activity-photo">
        <a href="{{ movie ? path('pluckt_client_movie_details', {'id': movie.getID}) }}"><img src="{{ movie.getPoster.getURL|default('') }}" alt="{{ movie.getTitle }}" height="200"></a>
    </div>
</article>
{% endmacro %}
