{% macro poster(movie = null, editable = false) %}
{% import "PlucktClientBundle::macro.rating.html.twig" as rating %}
<section class="shelf col-xs-3">
    <div class="movie-poster" data-id="{{ movie ? movie.getID }}">
        <div class="poster">
            <img class="poster-image" src="{{ movie.getPoster.getURL|default('') }}" alt="{{ movie.getTitle|default('') }}">
            <div class="overlay-white">
                <div>
                    <p class="movie-description">
                        {{ movie ? movie.getDescription }}
                    </p>
                    <div class="movie-actions">
                        <a title="View movie page" class="movie-info-path" href="{{ movie ? path('pluckt_client_movie_details', {'id': movie.getID}) }}"><span class="pluckt-home"></span></a>
                        <!--
                        <a title="Play this movie" class="movie-play-path" href="{{ movie ? path('pluckt_client_movie_player', {'id': movie.getID}) }}"><span class="pluckt-circle-play"></span></a>
                        -->
                        {% if editable %}
                        <a title="Remove from shelf" class="remove-from-shelf delete-link" href="#" data-id=""><span class="pluckt-trash"></span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="movie-info">
            <h4 class="movie-title"><a title="View movie page" class="movie-info-path" href="{{ movie ? path('pluckt_client_movie_details', {'id': movie.getID}) }}">{{ movie ? movie.getTitle }}</a></h4>
            {% if movie.getDirector|default(null) %}
            <div class="info-line">
                <span class="user-name"><a href="{{ movie ? path('pluckt_client_user_profile_view', {'id': movie.getDirector.getUser.getID}) }}">{{ movie ? movie.getDirector.getUser.getFullName|default('') }}</a></span>
                <span><img class="movie-flag" src="{{ movie ? asset('bundles/plucktclienttemplate/images/flags/' ~ movie.getDirector.getBaseCountry|default('PH') ~ '.png') : asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="{{ movie ? movie.getDirector.getBaseCountryLabel|default('Philippines') }}" title="{{ movie ? movie.getDirector.getBaseCountryLabel|default('Philippines') }}" data-id="{{ movie ? movie.getDirector.getBaseCountry|default('PH') }}"></span>
            </div>
            {% endif %}

            <div class="info-line">
                <a class="class-rating">{{ movie ? movie.getRatingID }}</a>
                <span class="year">{{ movie ? movie.getYearProduced }}</span>
                <span>&#x25cf;</span>
                <span class="runtime">{{ movie ? movie.getMinutes }} min</span>
                <span class="genre">{{ movie ? movie.getCategoriesText }}</span>
            </div>
            <div class="movie-rating">
                {{ rating.star(movie ? movie.getAvgRating|round(0, 'floor') : 0, movie ? random() : 'shelf-item') }}
            </div>
            <div class="movie-notes">
                <a href="{{ path('pluckt_client_movie_notes', {'movie': movie.getID|default(0) }) }}" class="movie-note-count">{{ movie ? movie.getFieldNotes|length }} Notes</a>
            </div>
        </div>
        <!--
        <div class="movie-status">
            <div class="status-icons">
                <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                <a href="#"><span class="pluckt-comment inline"></span>200</a>
                <a href="#"><span class="pluckt-share inline"></span>200</a>
            </div>
        </div>
        -->
    </div>
</section>
{% endmacro %}

{% macro review(rv = null, hide = false) %}
{% import "PlucktClientBundle::macro.rating.html.twig" as rating %}
{% set ru = rv.getUser|default(null) %}
<div class="review{{ hide ? ' hide' }}">
    <div class="info-line">
        <div class="inline">
            <a class="portrait-md" href="{{ rv ? path('pluckt_client_user_profile_view', {'id': ru.getID }) }}">
                <img src="{{ rv ? ru.getProfilePic.getURL | default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ rv ? ru.getFullName }}" alt="{{ rv ? ru.getFullName }}">
                <span class="badge-star{{ not rv or not ru.isArtist ? ' hide' }}"></span>
            </a>
        </div>
        <div class="inline">
            <div>
                <span class="user-name">{{ rv ? ru.getFullName }}</span>
                <span class="user-role">{{ rv ? (ru.isArtist ? ru.getArtist.getTypesText : 'Member') }}</span>
                <small>reviewed this movie</small>
                <small>&#x25cf;</small>
                <small class="review-time">{{ rv ? rv.getTimeElapsed }}</small>
            </div>
        </div>
    </div>
    <article class="review-content">
        <h3 class="review-title">{{ rv ? rv.getTitle }}</h3>
        <div class="review-body">
            <p>{{ rv ? rv.getMessage }}</p>
        </div>
        <div class="review-footer">
            <div class="col-xs-6">
                {{ rating.star(rv ? rv.getRating|round(0, 'floor') : 0, rv ? 'review-' ~ rv.getID : 'review-item') }}
            </div>
            <div class="col-xs-6">
                <!--<button class="btn-sm button small pull-right" data-toggle="modal">Add a Comment</button>-->
            </div>
        </div>
    </article>
</div>
{% endmacro %}

{% macro comment(rv = null, hide = false) %}
{% set ru = rv.getUser|default(null) %}
<div class="review{{ hide ? ' hide' }}">
    <div class="info-line">
        <div class="inline">
            <a class="portrait-md" href="{{ path('pluckt_client_user_profile_view', {'id': ru.getID|default('0') }) }}">
                <img src="{{ rv ? ru.getProfilePic.getURL | default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ rv ? ru.getFullName|default('') }}" alt="{{ rv ? ru.getFullName|default('') }}">
                <span class="badge-star{{ not rv or not ru.isArtist ? ' hide' }}"></span>
            </a>
        </div>
        <div class="inline">
            <div>
                <span class="user-name">{{ rv ? ru.getFullName|default('') }}</span>
                <span class="user-role">{{ rv ? (ru.isArtist|default(false) ? ru.getArtist.getTypesText|default('') : 'Member') }}</span>
                <small>commented on this movie</small>
                <small>&#x25cf;</small>
                <small class="review-time">{{ rv ? rv.getTimeElapsed|default('') }}</small>
            </div>
        </div>
    </div>
    <article class="review-content">
        <div class="review-body">
            <p>{{ rv ? rv.getMessage|default('') }}</p>
        </div>
    </article>
</div>
{% endmacro %}
