{% macro star(rating = 0, idstring, fieldname = false, active = false, extra_classes = "") %}
<div class="star-rating{{ active ? ' active'}} {{ extra_classes }}">
{% for i in 5..1 %}
    <input class="star star-{{ i }}" id="star-{{ i }}-{{ idstring }}" type="radio" value="{{ i }}" name="{{ fieldname ?: 'star-' ~ idstring }}"{{ i == rating ? ' checked' }}{{ active ? ' required' : ' disabled' }}>
    <label class="star star-{{ i }}" for="star-{{ i }}-{{ idstring }}"></label>
{% endfor %}
</div>
{% endmacro %}

{% macro bars(tally) %}
{% for i in 5..1 %}
<div class="rating-tally">
    <span class="pluckt-star"></span>
    <span class="tally">{{ i }}</span>
    <span class="bar bar-{{ i }}" data-tally="{{ tally[i] }}"><span></span></span>
</div>
{% endfor %}
{% endmacro %}