{% macro menu(align, movie = null) %}
{% set director = movie.getDirector|default(null) %}
{% set data = {
    'image': movie.getPoster.getURL | default(asset('bundles/plucktclienttemplate/images/movie-placeholder.png')), 
    'title': movie.getTitle|default(''), 
    'name': director.getUser.getFullName|default(''), 
    'flag-image': asset('bundles/plucktclienttemplate/images/flags/' ~ director.getUser.getCountry|default('PH') ~ '.png'), 
    'country': director.getUser.getCountryLabel|default('Philippines'), 
    'comment-action': path('pluckt_client_movie_comment', {'id': movie.getID|default('0')}), 
    'review-action': path('pluckt_client_movie_review', {'id': movie.getID|default('0')})
} %}
<div class="dropdown">
    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="pluckt-logo"></span></a>
    <ul class="dropdown-menu{{ align == 'right' ? ' dropdown-menu-right' : '' }}">
        {% if app.user and  app.user.isFollowing('video', movie.getID|default('0')) %}
        <li><a href="{{ path('pluckt_client_movie_unfollow', {'id': movie.getID|default('0')}) }}" class="follow-link">Unfollow</a></li>
        {% else %}
        <li><a href="{{ path('pluckt_client_movie_follow', {'id': movie.getID|default('0')}) }}" class="follow-link">Follow</a></li>
        {% endif %}
        <li><a href="#" class="social-link comment-link" data-toggle="modal" data-target="#comment"{% for key,value in data %} data-{{ key }}="{{ value }}"{% endfor %}>Comment</a></li>
        <li><a href="#" class="social-link review-link" data-toggle="modal" data-target="#review"{% for key,value in data %} data-{{ key }}="{{ value }}"{% endfor %}>Review</a></li>
        <li><a href="{{ path('pluckt_client_movie_favorite', {'id': movie.getID|default('0')}) }}" class="favorites-link">Add to Favorites</a></li>
        <li role="separator" class="divider"></li>
        <li role="presentation" class="dropdown-header">Save to Shelf</li>
        {% if app.user %}
        {% for shelf in app.user.getLists %}
        <li class="shelf-name"><a href="{{ path('pluckt_client_ulist_add_movie', {'id': shelf.getID, 'movie_id': movie.getID|default('0')}) }}">{{ shelf.getName }}</a></li>
        {% endfor %}
        {% endif %}
        <li class="shelf-name"><a href="#" data-toggle="modal" data-target="#add-shelf"><strong>+ Add a new shelf</strong></a></li>
    </ul>
</div>
{% endmacro %}
