{% extends "PlucktTemplateBundle::base.admin.html.twig" %}

{% block title %}Pluckt{% endblock %}

{% block header_title %}Dashboard <small>reports</small>{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
    <img src="{{ asset('bundles/plucktclienttemplate/images/logo-black.png') }}" alt="logo" class="logo-default" width="500">
    </div>
</div>

<div class="row">
    <div class="col-md-3">
    <center>
    <h3>
        Videos - {{ video_count }}
    </h3>
    </center>
    </div>
    <div class="col-md-3">
    <center>
    <h3>
        Artists - {{ artist_count }}
    </h3>
    </center>
    </div>
</div>
{% endblock %}

{% block js %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{ asset('bundles/pluckttemplate/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/pluckttemplate/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/pluckttemplate/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/pluckttemplate/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/pluckttemplate/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/pluckttemplate/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/pluckttemplate/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js') }}" type="text/javascript"></script>
<!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
<script src="{{ asset('bundles/pluckttemplate/assets/global/plugins/morris/morris.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/pluckttemplate/assets/global/plugins/morris/raphael-min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/pluckttemplate/assets/global/plugins/jquery.sparkline.min.js') }}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ asset('bundles/pluckttemplate/assets/admin/layout2/scripts/quick-sidebar.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/pluckttemplate/assets/admin/layout3/scripts/demo.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/pluckttemplate/assets/admin/pages/scripts/index3.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/pluckttemplate/assets/admin/pages/scripts/tasks.js') }}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {
   Demo.init(); // init demo(theme settings page)
   QuickSidebar.init(); // init quick sidebar
   Index.init(); // init index page
   Tasks.initDashboardWidget(); // init tash dashboard widget
});
</script>
{% endblock %}

{% block css %}
<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
<link href="{{ asset('bundles/pluckttemplate/assets/global/plugins/jqvmap/jqvmap/jqvmap.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('bundles/pluckttemplate/assets/global/plugins/morris/morris.css') }}" rel="stylesheet" type="text/css">
<!-- END PAGE LEVEL PLUGIN STYLES -->
<!-- BEGIN PAGE STYLES -->
<link href="{{ asset('bundles/pluckttemplate/assets/admin/pages/css/tasks.css') }}" rel="stylesheet" type="text/css"/>
<!-- END PAGE STYLES -->
{% endblock %}
