{% extends 'PlucktTemplateBundle::base.admin.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Registration Complete!
					</div>
					<div class="panel-body">
						Congrats <strong>{{ user.username }}</strong>, your account has been registered successfully!
					</div>
					<div class="panel-footer">
						<a href="{{ path('pluckt_client_index') }}" class="btn btn-block green">Get Started with Pluckt</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
