{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
				<div class="panel panel-primary">
					<div class="panel-heading">
						Sign Up
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6 col-xs-12">
								{{ form_row(form.username) }}
							</div>
							<div class="col-md-6 col-xs-12">
								{{ form_row(form.email) }}
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-xs-12">
								{{ form_row(form.name) }}
							</div>
							<div class="col-md-6 col-xs-12">
								{{ form_row(form.last_name) }}
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-xs-12">
								{{ form_row(form.plainPassword.first) }}
							</div>
							<div class="col-md-6 col-xs-12">
								{{ form_row(form.plainPassword.second) }}
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<button class="btn btn-block green" type="submit">{{ 'registration.submit'|trans }}</button>
					</div>
				</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>
