{% extends 'PlucktTemplateBundle::base.admin.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
	{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock %}
