@charset "UTF-8";

@font-face {
  font-family: "pluckt-icons";
  src:url("../fonts/pluckt/pluckt-icons.eot");
  src:url("../fonts/pluckt/pluckt-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/pluckt/pluckt-icons.woff") format("woff"),
    url("../fonts/pluckt/pluckt-icons.ttf") format("truetype"),
    url("../fonts/pluckt/pluckt-icons.svg#pluckt-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pluckt-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="pluckt-"]:before,
[class*=" pluckt-"]:before {
  font-family: "pluckt-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spin {
  -webkit-animation: pluckt-spin 2s infinite linear;
  animation: pluckt-spin 2s infinite linear;
}

@-webkit-keyframes pluckt-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes pluckt-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.pluckt-globe:before {
  content: "\e001";
}
.pluckt-rect-play:before {
  content: "\e002";
}
.pluckt-share:before {
  content: "\e003";
}
.pluckt-comment:before {
  content: "\e004";
}
.pluckt-facebook:before {
  content: "\e005";
}
.pluckt-twitter:before {
  content: "\e006";
}
.pluckt-tumblr:before {
  content: "\e007";
}
.pluckt-mail:before {
  content: "\e008";
}
.pluckt-grid:before {
  content: "\e009";
}
.pluckt-inbox-out:before {
  content: "\e010";
}
.pluckt-circle-play:before {
  content: "\e011";
}
.pluckt-search:before {
  content: "\e012";
}
.pluckt-calendar:before {
  content: "\e013";
}
.pluckt-star:before {
  content: "\e014";
}
.pluckt-arrow-right:before {
  content: ">";
}
.pluckt-arrow-left:before {
  content: "<";
}
.pluckt-book:before {
  content: "\e015";
}
.pluckt-more:before {
  content: "\e016";
}
.pluckt-arrow-down:before {
  content: "\e017";
}
.pluckt-play:before {
  content: "\e018";
}
.pluckt-plus:before {
  content: "+";
}
.pluckt-question:before {
  content: "?";
}
.pluckt-spinner:before {
  content: "\e019";
}
