// mixins

@import "bootstrap-variables";

.transparent-background {
	background-color: transparent;
	zoom: 1;
}

// for transparent backgrounds
@mixin alpha-bg($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  @extend .transparent-background;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
}

// for profile pics
@mixin circle($width, $bordercolor: 'transparent', $borderwidth: 0, $bordercolor2: 'transparent', $bg: 'transparent') {
  width: $width;
  height: $width;
  -webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;

  @if $bordercolor != 'transparent' && $borderwidth != 0 {
  	border: $borderwidth solid $bordercolor;
  }

  @if $bg != 'transparent' {
  	background-color: $bg;
  }

	@if $bordercolor2 != 'transparent' {
		&:hover {
	  	border-color: $bordercolor2;
	  }
	}
}

// use for vertically centering stuff
@mixin vcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin vcentera($right: false) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @if $right {
    right: 0;
  }
}

@mixin hcenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin hvcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// preserve 3d
@mixin preserve3d {
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

// rem fonts
@function calculate-rem($size) {
  $rem-size: $size / ($font-size-base - 4);
  @return #{$rem-size}rem;
}

@mixin rem($property, $value) {
  #{$property}: $value;
  #{$property}: calculate-rem($value);
}

// css triangle
@mixin triangle($direction, $position, $color: currentcolor, $size: 1em) {
  border-#{opposite-position($direction)}: $size * 1.5 solid $color;
  $perpendicular-border: $size solid transparent;

  @if $direction == top or $direction == bottom {
    border-left: $perpendicular-border;
    border-right: $perpendicular-border;
  }

  @else if $direction == right or $direction == left {
    border-bottom: $perpendicular-border;
    border-top: $perpendicular-border;
  }
}

// clearfix
@mixin clearfix() {
	clear: both;
}