// Pluckt CSS 2015

@import "mixins";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "bootstrap";

// fonts and icons
$base-font:                    'Roboto', sans-serif;
$icon-font:                    'pluckt-icons';
$quote-font:                   Arial, 'Helvetica Neue', Helvetica, sans-serif;
$icon-font-size:               20px;
$icon-hero-font-size:          100px;
$icon-large-font-size:         34px;
$icon-small-font-size:         16px;
$icon-smaller-font-size:       10px;
$icon-tiny-font-size:          8px;

// font size and weight
$giant-font-size:              74px;
$hero-font-size:               60px;
$cover-font-size:              48px;
$banner-long-text-font-size:   36px;
$sub-head-font-size:           24px;
$title-font-size:              20px;
$sub-title-font-size:          18px;
$base-font-size:               14px;
$slider-font-size:             13px;
$small-font-size:              12px;
$tiny-font-size:               11px;
$badge-font-size:              9px;
$light-font-weight:            300;
$normal-font-weight:           400;
$bold-font-weight:             700;

// colors
$page-bg-color:                #fff;
$dim-bg-color:                 #1d1d1d;
$highlight-color:              #2ab574;
$inverse-font-color:           #fff;
$inverse-link-hover-color:     #ccc;
$light-font-color:             #999;
$lighter-font-color:           #ccc;
$divider-dim-color:            #fff;
$content-nav-border-color:     #e6e6e6;
$action-color:                 #15ad66;
$action-button-hover-bg-color: #21905c;
$aux-color:                    #7a7a7a;
$aux-button-hover-bg-color:    #5d5d5d;

$row-border-color:             #e5e5e5;
$activity-border-color:        #cbcbcc;
$activity-title-color:         #0d0805;
$activity-body-color:          #666;
$comments-bg-color:            #f4f4f5;

$button-font-color:            #787878;
$button-border-color:          #e7e6e6;

$status-button-color:          #989797;
$status-button-bg-color:       #e8eae5;
$status-button-hover-bg-color: #b2b2b1;

$banner-dim-link-color:        #646464;
$banner-bg-color:              #000;
$banner-main-tag-bg-color:     #111;
$banner-countdown-color:       #61f565;

$star-light-on-color:          #b2b2b1;
$star-light-off-color:         #e7e6e8;
$star-dark-on-color:           #b2b2b1;
$star-dark-off-color:          #666;

$box-shadow-color:             #000;
$box-light-shadow-color:       #999;
$text-shadow-color:            #000;

$footer-link-color:            #666;
$footer-border-color:          #ebebec;
$footer-bg-color:              #e6e5e8;

$facebook-color:               #415995;
$facebook-hover-color:         #2f4273;
$twitter-color:                #39cfe0;
$twitter-hover-color:          #2b9ba8;

// fixed heights
$info-line-height:             60px;
$header-search-height:         35px;

// image dimensions
$video-thumb-width:            160px;
$video-thumb-height:           100px;

// layers
.dim-overlay { z-index: 10; }
.bright-overlay { z-index: 10; }
.divider .divider-label { z-index: 10; }
.slider-buttons { z-index: 20; }
.full-video .slides video { z-index: 1; }
.full-video .slides .caption,
.full-video .slides .filmmaker { z-index: 30; }
.page-down { z-index: 40; }
.loading-pane { z-index: 1000; }

// basics
html,
body {
  height: 100%;
}

body {
  font-family: $base-font;
}

header {
  nav {
    @include opacity(.8);
    font-weight: $bold-font-weight;
    text-transform: uppercase;

    .navbar-brand {
      padding: 10px 0 10px 15px;
    }

    [class^="pluckt-"],
    [class*=" pluckt-"] {
      @include rem('font-size', $icon-font-size);
    }

    .navbar-nav {
      li {
        height: $navbar-height;
        margin-left: 30px;
        position: relative;

        &.icon {
          a {
            position: relative;
          }
        }

        &.nav-btn {
          .btn {
            padding: 10px 15px;
          }
        }

        &.nav-btn + .nav-btn {
          margin-left: 10px;
        }

        a {
          @include vcenter;
        }

        [class^="portrait-"] > img,
        [class*=" portrait-"] > img {
          margin-right: 10px;
        }

        .btn-icon {
          color: $inverse-font-color;
        }
        
        form {
          height: 100%;

          button {
            .pluckt-search:before {
              vertical-align: baseline;
            }
          }

          input[type='text'] {
            @include vcenter;
            @include opacity(.8);
            height: $header-search-height;
            width: calc(100% - 40px);
            border: none;
          }
        }
      }
    }
  }
}

main {
  display: block;

  .banner {
    &:not(.flush) {
      margin-bottom: 25px;
    }
  }

  .content-menu {
    @extend .navbar;
    @extend .navbar-default;
    background-color: transparent;
    border-bottom: 2px solid $content-nav-border-color;
    margin-bottom: 0;
    margin-top: $navbar-height;
    min-height: 0;

    .nav {
      li {
        margin-bottom: -2px;

        a {
          @include rem('font-size', $title-font-size);
          font-weight: $normal-font-weight;
          padding: 20px 30px;
          text-transform: uppercase;

          &:hover,
          &:focus {
            background-color: inherit !important;
            border-bottom: 2px solid $action-color;
            color: $action-color !important;
          }
        }

        &.active a {
          background-color: transparent;
          border-bottom: 2px solid $action-color;
          color: $action-color;

          &:hover {
            background-color: inherit;
            color: $action-color;
          }
        }
      }
    }
  }
}

footer {
  margin-top: 50px;
  border-top: 1px solid $footer-border-color;
  background-color: $footer-bg-color;
  color: $light-font-color;
  @include rem('font-size', $small-font-size);

  >.container {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .navbar-nav > li {
    height: auto;
    margin-left: 20px;

    >a {
      color: $footer-link-color;
      padding: 0;
      text-transform: uppercase;

      &:hover {
        background-color: inherit;
        text-decoration: underline;
      }
    }
  }

  .copyright {
    @include rem('font-size', $tiny-font-size);
  }
}

// basic section blocks
.section-header {
  @include make-row();

  .section-title {
    @include make-md-column(10);

    >h3 {
      text-transform: uppercase;
    }

    small {
      color: $light-font-color;
      margin-left: 20px;
      text-transform: none;
    }
  }

  .section-controls {
    @include make-md-column(2);
    text-align: right;

    .btn-icon {
      @include rem('font-size', $icon-large-font-size);
      color: $action-color;

      &:hover {
        color: $link-hover-color;
      }
    }

    >a {
      display: block;
      margin-top: 27px;
    }
  }
}

.section-info {
  @include make-row();

  >.info-line {
    @include make-md-column(12);

    >.status-icons {
      float: right;
      margin-top: 0;

      a {
        color: $inverse-link-hover-color;

        &:hover {
          color: $text-color;
        }
      }
    }
  }
}

.article-summary {
  @include make-md-column(6);

  >img:first-child {
    margin-bottom: 25px;
    width: 100%;
  }
}

.post-time {
  @include rem('font-size', $tiny-font-size);
  color: $light-font-color;
}

// activities section
.activities {
  @extend .container;
  padding-top: 10px;

  [class*="portrait-"] > img {
    @include box-shadow($box-light-shadow-color 1px 1px 3px);
  }

  .activity {
    @include make-row();
    border-bottom: 1px solid $row-border-color;
    border-top: 1px solid $row-border-color;

    + .activity {
      border-top: 0;
    }

    >[class*="activity-"] {
      padding-bottom: 35px;
      padding-top: 35px;
    }

    &.comments {
      background-color: $comments-bg-color;
      margin-top: -1px;

      >.comments-list {
        @include make-md-column(10);
        @include make-md-column-offset(2);
        border-left: 3px solid $activity-border-color;
        padding: 20px 0 20px 30px;
      }

      .comments-summary {
        @include rem('font-size', $small-font-size);
        color: $light-font-color;
        margin-bottom: 20px;

        .total-comments {
          margin: 0 10px 0 5px;
        }

        a {
          color: $light-font-color;
        }
      }

      .comment {
        margin: 0 25px 10px 0;
        overflow: auto;
        position: relative;

        >* {
          float: left;
        }

        &:after {
          @include clearfix;
        }

        + .comment {
          border-top: 1px solid $row-border-color;
          padding-top: 10px;
        }

        .comment-portrait {
          width: 45px;
        }

        .comment-details {
          width: calc(100% - 45px);
        }
      }

      .comment-box {
        margin-top: 10px;
        width: calc(100% - 25px);
      }
    }

    .activity-actions {
      @include make-md-column(2);
      padding-right: 40px;
    }

    .activity-details {
      @include make-md-column(8);
      border-left: 3px solid $activity-border-color;
      padding-left: 30px;
    }

    .activity-title {
      color: $activity-title-color;

      small {
        color: $activity-title-color;
      }
    }

    .activity-body {
      color: $activity-body-color;
    }

    .activity-byline {
      @extend .info-line;
      margin: -10px 0 0 -55px;
    }

    .activity-status {
      @extend .info-line;
      margin-top: 30px;

      >.status-icons {
        margin-top: 7px;
      }

      a {
        color: $lighter-font-color;

        &:hover {
          color: $text-color;
        }
      }

      >* {
        vertical-align: top !important;
      }
    }

    .activity-photo {
      @include make-md-column(2);
      text-align: center;
      padding: 20px 20px 0 20px;
    }

    .video-activity {
      @include make-row();

      >.video-thumbnail {
        @include make-md-column(3);
      }

      >.activity-content {
        @include make-md-column(9);

        >h3 {
          margin-top: 0;
        }
      }
    }
  }

  .comment-box {
    width: calc(100% - 125px);
    border: 1px solid $button-border-color;
    padding: 5px 10px;
    position: relative;
    display: inline-block;
    color: $lighter-font-color;
    background-color: $page-bg-color;

    .pluckt-comment {
      float: left;
      margin-right: 10px;
    }

    textarea {
      @include rem('font-size', $base-font-size);
      background-color: transparent;
      border: 0;
      color: $text-color;
      max-height: 200px;
      outline: none;
      overflow-x: hidden;
      padding: 0;
      resize: none;
      width: calc(100% - 25px);
    }
  }
}

// block section
.block {
  @extend .container;
  padding: 45px 0;

  .block-title {
    margin-bottom: 60px;
    text-align: center;
  }

  [class*="portrait-"] > img {
    @include box-shadow($box-light-shadow-color 1px 1px 3px);
    margin-bottom: 8px;
  }

  .well {
    @include border-radius(10px);
    background-color: $action-color;
  }

  .row + .row {
    margin-top: 45px;
  }

  blockquote {
    color: $inverse-font-color;
    margin-bottom: 0;
  }
}

// grid section
.grid {
  @extend .container;
  border-bottom: 1px solid $row-border-color;
  padding-bottom: 20px;

  + section {
    margin-top: 25px;
  }

  &:last-child {
    border-bottom: 0;
  }

  .shelf-title {
    @include make-md-column(10);
  }

  .shelf-row {
    @include make-row();
    margin-top: 20px;
    position: relative;

    .shelf {
      padding-bottom: 20px;

      &.active {
        >.grid-item {
          border-color: $action-color;
        }
      }

      .shelf-name,
      .movie-name {
        margin: 20px 0 5px;
      }

      .movie-poster {
        @include transition-property(all);
        @include transition-duration(.25s);
        border: 2px solid $row-border-color;
        position: relative;

        &.active {
          border-color: $action-color;
        }

        .overlay-white {
          display: none;

          >div {
            @include hvcenter;
            height: calc(100% - 40px);
            width: calc(100% - 40px);
          }
        }

        .movie-actions {
          @include rem('font-size', $cover-font-size);
          margin-top: 20px;
          text-align: center;
        }

        .poster-info {
          position: static;
          width: calc(50% - 30px);

          .movie-status {
            bottom: 0;
            right: 0;
            padding: 8px 15px;
            position: absolute;
            text-align: left;
            width: calc(50% + 15px);
          }
        }

        >.movie-info {
          padding: 0 10px 10px;
        }
      }

      .movie-status {
        background-color: $comments-bg-color;
        border-top: 1px solid $row-border-color;
        padding: 8px 0;
        text-align: center;

        .status-icons {
          width: 100%;
        }

        a {
          color: $lighter-font-color;

          &:hover {
            color: $text-color;
          }
        }

        small {
          color: $lighter-font-color;
        }
      }
    }

    .slider-buttons {
      @include opacity(.7);
      position: absolute;
      right: 15px;
      top: 55px;

      &:hover {
        @include opacity(1);
      }
    }
  }

  .grid-item {
    border: 6px solid $activity-border-color;
    display: block;

    &:hover {
      border-color: $action-color;
    }

    .cover-stack {
      position: relative;

      >img {
        @include box-shadow($box-shadow-color 4px 0 4px -4px);
        position: absolute;
        right: 0;
        top: 0;

        &:nth-child(2) {
          @include transform(translateX(-50%));
        }

        &:last-child {
          position: relative;
        }
      }
    }
  }
}

// movie poster sub-section
.poster {
  position: relative;

  img {
    width: 100%;
  }

  .poster-controls {
    margin-top: 30px;
    text-align: center;
  }
}

// movie list section
.movie-list {
  @extend .container;

  >.list-table {
    @extend .table-responsive;

    >table {
      border-top: 1px solid $row-border-color;
      margin-top: 25px;
      width: 100%;

      >tbody {
        >tr {
          border-bottom: 1px solid $row-border-color;

          >td {
            padding: 20px 10px;

            &.item-no {
              @include rem('font-size', $title-font-size);
              color: $light-font-color;
              font-weight: $bold-font-weight;
              padding-left: 0;
              white-space: nowrap;
              width: 2%;
            }

            &.movie-poster,
            &.user-name,
            &.rating,
            &.genre,
            &.runtime {
              white-space: nowrap;
              width: 1%;
            }
          }
        }
      }
    }
  }
}

// portraits row
.portraits {
  @extend .container;
  margin: 25px auto 15px;

  [class*="portrait-"] > img {
    @include box-shadow($box-light-shadow-color 1px 1px 3px);
  }

  .portraits-row {
    @include make-md-column(12);
    margin: 20px 0;
    text-align: center;

    >a {
      color: $lighter-font-color;
      display: inline-block;
      line-height: 45px;
      vertical-align: middle;

      &:hover {
        color: $light-font-color;
      }

      + a {
        margin-left: 8px;
      }
    }
  }

  + section {
    border-top: 1px solid $row-border-color;
  }
}

.portraits-list {
  @include make-row();
}

// slider button group
.slider-buttons {
  &:not(.vertical):not(.cover) {
    @extend .btn-group;
  }

  &.vertical {
    @extend .btn-group-vertical;
  }

  &.cover {
    @include rem('font-size', $cover-font-size);
    bottom: 95px;
    font-weight: $bold-font-weight;
    left: 0;
    position: absolute;
    width: 100%;

    >a {
      @include opacity(.5);
      @include text-shadow($text-shadow-color 0 0 0);
      color: $inverse-font-color !important;

      &:hover {
        @include opacity(1);
      }
    }

    >a:first-child {
      float: left;
      margin-left: 5%;
    }

    >a:last-child {
      float: right;
      margin-right: 5%;
    }
  }

  &.overlay {
    @include opacity(.7);

    &:hover {
      @include opacity(1);
    }
  }

  .btn {
    @include rem('font-size', $icon-smaller-font-size);
    @include border-radius(0);
    background-color: $page-bg-color;
    border-color: $button-border-color;
    color: $button-font-color;
    padding: 12px 14px;

    &:hover {
      background-color: $button-border-color;
    }

    [class^="pluckt-"],
    [class*=" pluckt-"] {
      @include rem('font-size', $icon-smaller-font-size);
    }
  }
}

// visual only
p {
  margin: 0;

  + p {
    margin-top: 10px;
  }
}

em {
  color: $action-color;
  font-style: normal;
}

a {
  @include transition-property(all);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in-out);
  font-weight: $bold-font-weight;
}

.action-link {
  color: $action-color !important;
}

.counter {
  color: $lighter-font-color;

  &:hover {
    color: $action-color;
  }
}

.squeeze {
  @include transition-property(all);
  @include transition-duration(.1s);
  @include transition-timing-function(ease-in-out);
  padding-left: 0;
  padding-right: 0;
  width: 0 !important;
}

.form-control {
  @include transition-property(all);
  @include transition-duration(.1s);
  @include transition-timing-function(ease-in-out);

  &.round {
    @include border-radius(4px);
  }
}

.button {
  @extend .btn;
  @extend .btn-lg;
  text-transform: uppercase;

  &:hover {
    border-color: $action-color;
    color: $action-color;
  }
}

.button,
.action-button,
.status-button,
.slider-buttons,
.grid-item {
  @include transition-property(all);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in-out);
}

.pluck-button {
  font-weight: $bold-font-weight;
  text-transform: uppercase;
}

.inline {
  display: inline-block;
}

.hint {
  color: $action-color;
  cursor: pointer;
  margin-left: 5px;
}

blockquote {
  @include rem('font-size', $sub-head-font-size);
  border-left: 0;
  color: $text-color;
  padding: 0;

  [class^="quote-"] {
    color: $lighter-font-color;
    font-family: $quote-font;

    &.quote-open {
      @include rem('font-size', $giant-font-size);
      line-height: $sub-head-font-size;
      vertical-align: -150%;
    }
  }
}

// dim section
.dim {
  background-color: $dim-bg-color;

  .page-down {
    @include hcenter;
    margin-top: -18px;
  }
}

// row-less fixed height grid
.shifty-grid {
  @extend .container;
  height: 620px;
  overflow: hidden;
  padding-top: 40px;

  [class^="col-"] {
    padding: 0 5px;
  }

  .note {
    @include rem('font-size', $sub-title-font-size);
    color: $inverse-font-color;
    padding: 15px;
  }

  .action-button {
    @include rem('font-size', $sub-title-font-size);
    padding: 20px;
    text-transform: uppercase;
    width: 100%;
  }

  img {
    @include transition-property(all);
    @include transition-duration(.25s);
    width: 100%;

    &.genre {
      @include opacity(.5);

      &:hover {
        @include opacity(1);
      }
    }

    &.movie {
      &:hover {
        @include opacity(0.5);
      }
    }
  }

  .item-box {
    position: relative;

    + .item-box {
      margin-top: 10px;
    }

    .caption {
      @include hvcenter;
      @include text-shadow($text-shadow-color 1px 1px 10px);
      color: $inverse-font-color;
      pointer-events: none;
      text-transform: uppercase;
    }
  }
}

// dialogs
.modal-content {
  @include opacity(.94);
}

.modal-header {
  text-align: center;
}

.modal-title {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.modal-footer {
  button {
    text-transform: uppercase;
  }
}

// subsections
.info-line {
  >* {
    vertical-align: middle;

    + * {
      margin-left: 5px;
    }
  }

  span + span {
    margin-left: 5px;
  }

  + .info-line {
    margin-top: 10px;
  }

  &:after {
    @include clearfix;
  }

  [class^="pluckt-"],
  [class*=" pluckt-"] {
    @include rem('font-size', $icon-small-font-size);
  }

  [class^="user-"],
  [class*=" user-"] {
    @include rem('font-size', $small-font-size);
  }

  [class^="movie-"],
  [class*=" movie-"] {
    @include rem('font-size', $sub-title-font-size);
  }

  &.inverse {
    color: $inverse-font-color;

    a {
      color: $inverse-font-color;
    }

    >a:hover {
      color: $inverse-link-hover-color;
    }
  }
}

.next-movie {
  >div {
    float: right;
  }

  img {
    @include box-shadow($box-shadow-color 1px 1px 10px);
    margin-right: 15px;
  }

  a {
    text-transform: uppercase;
  }

  [class^="pluckt-"],
  [class*=" pluckt-"] {
    @include rem('font-size', $icon-smaller-font-size);
    color: $inverse-font-color;
    margin-left: 10px;
  }
}

.genre {
  @include rem('font-size', $tiny-font-size);
  color: $highlight-color;
  font-weight: $bold-font-weight;
  text-transform: uppercase;
}

[class^="user-"],
[class*=" user-"] {
  font-weight: $normal-font-weight;
  text-transform: uppercase;
}

.user-name {
  font-weight: $bold-font-weight;
}

// forms
input[type], textarea {
  font-weight: $normal-font-weight;
}

button:focus:active {
  outline: none !important;
}

.btn {
  background-color: transparent;
  border-color: $row-border-color;
  color: $activity-body-color;
}

.status-button {
  background-color: $status-button-bg-color;
  border-color: $status-button-bg-color;
  color: $status-button-color;

  &:hover:not([disabled]) {
    background-color: $status-button-hover-bg-color;
    color: $status-button-color;
  }
}

.action-button {
  background-color: $action-color;
  border: 1px solid $action-color;
  color: $inverse-font-color;

  &:hover,
  &:focus {
    background-color: $action-button-hover-bg-color !important;
    border-color: $action-button-hover-bg-color !important;
    color: $inverse-font-color !important;
  }
}

.auxilliary-button {
  background-color: $aux-color;
  border-color: $aux-color;
  color: $inverse-font-color;

  &:hover,
  &:focus {
    background-color: $aux-button-hover-bg-color !important;
    border-color: $aux-button-hover-bg-color !important;
    color: $inverse-font-color !important;
  }
}

.facebook-button {
  background-color: $facebook-color;
  border-color: $facebook-color;
  color: $inverse-font-color;

  &:hover,
  &:focus {
    background-color: $facebook-hover-color !important;
    border-color: $facebook-hover-color !important;
    color: $inverse-font-color !important;
  }
}

.twitter-button {
  background-color: $twitter-color;
  border-color: $twitter-color;
  color: $inverse-font-color;

  &:hover,
  &:focus {
    background-color: $twitter-hover-color !important;
    border-color: $twitter-hover-color !important;
    color: $inverse-font-color !important;
  }
}

.btn-icon {
  @include vcenter;
  @include border-radius(0);
  @include transition-property(all);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in-out);
  background-color: transparent;
  border-width: 0;
  height: 35px;
  padding: 0 10px;

  &.active {
    background-color: $highlight-color;
  }
}

.loader-button-box {
  margin-top: 50px;
  text-align: center;
}

.class-rating {
  @extend .btn;
  @include rem('font-size', 12px);
  @include transition-property(all);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in-out);
  background-color: transparent;
  border: 1px solid $light-font-color;
  color: $light-font-color;
  font-weight: $normal-font-weight;
  padding: 2px 6px;

  &:hover {
    border-color: $action-color;
    color: $action-color;
  }

  &.inverse {
    border: 1px solid $inverse-font-color;
    color: $inverse-font-color;
    font-weight: $bold-font-weight;

    &:hover {
      border-color: $action-color;
      color: $action-color;
    }
  }
}

.loading-pane {
  @include opacity(.5);
  background-color: $banner-bg-color;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.loading-pane > div {
  @include hvcenter;
  @include rem('font-size', $cover-font-size);
  height: 64px;
  margin: auto;
  width: 64px;
}

// typography
h1 {
  @include rem('font-size', $hero-font-size);
  @include rem('margin-bottom', $hero-font-size / 2);
  margin-top: 0;
}

h2 {
  @include rem('font-size', $cover-font-size);
  margin: 0;
}

h3 {
  @include rem('font-size', $sub-head-font-size);
  font-weight: $normal-font-weight;
}

h4 {
  @include rem('font-size', $sub-title-font-size);
  margin: 0;

  + h4 {
    margin-top: 10px;
  }
}

h5 {
  font-weight: $bold-font-weight;
  margin: 0;
}

// icons
[class^="pluckt-"],
[class*=" pluckt-"] {
  &.lg {
    @include rem('font-size', $icon-large-font-size);
  }

  &.xl {
    @include rem('font-size', $icon-hero-font-size);
  }

  &.inline {
    margin-right: 8px;
  }

  &:before {
    vertical-align: middle;
  }
}

// UI elements
hr {
  @include opacity(.8);
  border-top: 1px solid $row-border-color;
  margin: 20px 0;

  &.dim {
    border-top-color: $divider-dim-color;
  }
}

.divider {
  @include rem('font-size', $tiny-font-size);
  margin-bottom: 10px;
  padding: 10px 0;
  position: relative;
  text-align: center;

  .divider-label {
    @include hcenter;
    background-color: $page-bg-color;
    display: inline-block;
    padding: 0 5px;
  }

  .line {
    border-top: 1px solid $row-border-color;
    position: absolute;
    top: 85%;
    width: 100%;
  }
}

.separator {
  background: url('../images/nav-separator.png') no-repeat center center;
  float: left;
  height: $navbar-height;
  margin-left: 30px !important;
  width: 5px;
}

[class^="overlay-"],
[class*=" overlay-"] {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.overlay-dim {
  @include alpha-bg($banner-bg-color, .3);
}

.overlay-white {
  @include alpha-bg($inverse-font-color, .8);
}

.bullet:after {
  @include rem('font-size', $icon-large-font-size);
  color: $light-font-color;
  content: "\b7";
  font-weight: $bold-font-weight;
  vertical-align: middle;
}

.status-icons {
  display: inline-block;
  line-height: 1;

  &.lg {
    [class^="pluckt-"],
    [class*=" pluckt-"] {
      @include rem('font-size', $sub-head-font-size);
      margin-top: 3px;
    }
  }

  a.action-link {
    @include rem('font-size', $sub-title-font-size);
  }

  >* + * {
    margin-left: 10px;
  }
}

.thumbnail-image {
  background-repeat: no-repeat;
  height: $video-thumb-height;
  position: relative;
  width: $video-thumb-width;

  .action-button {
    @include hvcenter;
    @include rem('font-size', $tiny-font-size);
    padding: 3px 7px;
    text-transform: uppercase;

    [class^="pluckt-"],
    [class*=" pluckt-"] {
      @include rem('font-size', $icon-tiny-font-size);
      @include box-shadow($box-light-shadow-color 1px 1px 3px);
      margin-left: 8px;

      &:before {
        vertical-align: baseline;
      }
    }
  }

  .btn-icon {
    @include hvcenter;
    color: $inverse-font-color;

    &:hover {
      color: $inverse-link-hover-color;
    }

    [class^="pluckt-"],
    [class*=" pluckt-"] {
      @include rem('font-size', $icon-large-font-size);
      @include text-shadow($text-shadow-color 2px 2px 5px);
      margin-left: 8px;

      &:before {
        vertical-align: baseline;
      }
    }
  }
}

// sliders
.slider {
  margin-bottom: 20px;

  .side-nav .flex-viewport {
    display: inline-block;
    width: calc(100% - 65px);
  }

  .slider-buttons {
    @include vcentera(true);
    float: right;

    >button {
      @include border-radius(0);
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }
}

// slides
.slides {
  li {
    @include rem('font-size', $slider-font-size);
    position: relative;

    + li {
      margin-left: 30px;
    }

    img {
      &:not(.inline) {
        border: 2px solid $inverse-font-color;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
      }
    }

    &.active img {
      border: 2px solid $action-color;
    }

    .award {
      border: 1px solid $row-border-color;
      display: inline-block;
      width: 100%;
    }

    [class^="col-"] {
      padding: 20px 15px;

      + [class^="col-"] {
        border-left: 1px solid $row-border-color;
      }
    }

    .caption {
      @include hvcenter;
      @include rem('font-size', $sub-title-font-size);
      @include text-shadow($text-shadow-color 1px 1px 10px);
      color: $inverse-font-color;
      pointer-events: none;
      text-transform: uppercase;
    }

    .slide-number {
      @include opacity(.9);
      background-color: $action-color;
      color: $inverse-font-color;
      left: 2px;
      padding: 5px 10px;
      position: absolute;
      top: 2px;
    }
  }
}

.full-image {
  li {
    background-color: $banner-bg-color;
  }

  img {
    @include opacity(.5);
    @include transition-property(all);
    @include transition-duration(.25s);

    &:hover {
      @include opacity(1);
      border-color: $action-color;
    }
  }
}

.full-video {
  border: 0;
  height: calc(100vh - 30px);
  overflow: hidden;

  h2 {
    @include rem('font-size', $banner-long-text-font-size);
  }

  .slides {
    li {
      height: calc(100vh - 30px);

      + li {
        margin-left: 0;
      }
    }

    video {
      position: relative;
      height: 120vh;
    }

    .caption {
      font-weight: $normal-font-weight;
      text-align: center;
      text-transform: none !important;

      img {
        border: 0;
        display: inline-block;
        width: auto;
      }
    }

    .filmmaker {
      @extend .info-line;
      bottom: 100px;
      position: absolute;
      right: 10%;
    }
  }
}

// badges
[class^="badge-"],
[class*=" badge-"] {
  position: absolute;
}

.badge-notifs {
  @include border-radius(2px);
  @include rem('font-size', $badge-font-size);
  background-color: $highlight-color;
  color: $inverse-font-color;
  font-family: $base-font;
  left: -7px;
  line-height: normal;
  padding: 1px 2px;
  top: 2px;
}

// star rating
.movie-rating {
  display: inline-block;
  margin-top: 15px;
}

.star-rating {
  display: inline-block;
  font-family: $icon-font;

  &.inverse {
    label.star {
      color: $star-dark-off-color;
    }

    input.star:checked ~ label.star:before {
      color: $star-dark-on-color !important;
    }
  }
}

input.star {
  display: none;
}

label.star {
  @include rem('font-size', $base-font-size);
  @include transition-property(all);
  @include transition-duration(.25s);
  color: $star-light-off-color;
  float: right;
  margin: 0;
  padding: 0 2px;
}

input.star:checked ~ label.star:before {
  @include transition-property(all);
  @include transition-duration(.25s);
  color: $star-light-on-color;
  content: "\e014";
}

label.star:before {
  content: "\e014";
}

// portraits
[class^="portrait-"],
[class*=" portrait-"] {
  display: inline-block;
  position: relative;
}

.portrait-sm > img {
  @include circle(35px, $navbar-inverse-link-color, 2px);
}

.portrait-md {
  .badge-star {
    background: url('../images/round-star-md.png') no-repeat center center;
    bottom: -2px;
    height: 17px;
    right: -3px;
    width: 17px;
  }

  >img {
    @include circle(45px, $navbar-inverse-link-color, 2px);
  }
}

.portrait-lg {
  .badge-star {
    background: url('../images/round-star-lg.png') no-repeat center center;
    bottom: 7px;
    height: 30px;
    right: 7px;
    width: 30px;
  }

  >img {
    @include circle(160px, $navbar-inverse-link-color, 2px);
  }
}

.portrait-home {
  >img {
    @include circle(80px, $navbar-inverse-link-color, 5px);
  }
}

.portrait-xl {
  .badge-star {
    background: url('../images/round-star-xl.png') no-repeat center center;
    bottom: 20px;
    height: 48px;
    right: 20px;
    width: 48px;
  }

  >img {
    @include circle(270px, $button-border-color, 15px);
  }
}

// banners
[class^="banner-"],
[class*=" banner-"] {
  @include text-shadow($text-shadow-color 1px 1px 10px);
  background-position: center center;
  background-size: cover;
  color: $inverse-font-color;
  font-weight: $bold-font-weight;
  position: relative;

  .container {
    height: 100%;
    position: relative;

    >.row:first-child {
      height: 100%;

      >div {
        @include vcenter;
        padding-top: $navbar-height;
      }
    }

    >.row-bottom {
      width: 100%;
      position: absolute;
      @include rem('bottom', 15px);
      font-weight: $normal-font-weight;
      @include rem('font-size', $small-font-size);
    }
  }
}

.banner-movie {
  height: 60vh;
  padding-top: 50px;

  .movie-main-tag {
    @include rem('font-size', $sub-head-font-size);
    background-color: $banner-main-tag-bg-color;
    color: $action-color;
    display: inline-block;
    padding: 5px 10px;
  }

  .countdown {
    @include alpha-bg($banner-bg-color, .4);
    padding: 20px;

    h3 {
      margin: 0;
    }

    .timer {
      @include make-row();
      margin: 20px 0;
    }

    [class^="timer-"] {
      @include make-sm-column(3);
      text-align: center;
    }

    .time {
      @include rem('font-size', $giant-font-size);
      color: $banner-countdown-color;
      font-weight: $light-font-weight;
    }

    .caption {
      color: $lighter-font-color;
      text-transform: uppercase;
    }
  }

  .countdown-note {
    @include alpha-bg($banner-bg-color, .4);
    padding: 20px;
    font-weight: $normal-font-weight;
    margin-top: 1px;
  }

  .thumbnail-image {
    @include box-shadow($box-shadow-color 1px 1px 3px);
    float: right;
    margin-top: 25px;
  }
}

.movie-description {
  font-weight: $normal-font-weight;
  margin-top: 25px;
}

.movie-notes {
  margin-top: 10px;
}

// user profile
.profile-cover {
  border-bottom: 1px solid $row-border-color;
  margin-bottom: 25px;
  min-height: 485px;

  .cover-photo {
    background-color: $banner-bg-color;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    overflow: hidden;

    .cover-sizer {
      width: 220px;
    }

    .cover-item {
      width: 220px;
      height: 160px;
      margin-bottom: 10px;

      &.full-height {
        height: 320px;
        margin-bottom: 0;
      }

      >img {
        width: 100%;
      }
    }
  }

  .profile-details {
    @include make-row();
    margin-top: 20px;

    .profile-pic {
      @include make-md-column(3);
    }

    .basic-info {
      @include make-md-column(6);
    }

    .social-links {
      @include make-md-column(3);

      .info-line {
        margin-bottom: 10px;
      }
    }
  }

  .portrait-xl {
    margin-right: 30px;

    img {
      margin-top: -50%;
    }
  }

  .user-role {
    font-weight: $bold-font-weight;
    margin-bottom: 10px;
  }
}

.profile-intro {
  @extend .container;
  border-bottom: 1px solid $row-border-color;
  margin-bottom: 30px;
  padding: 25px 0 50px;

  .about-me {
    @include make-md-column(8);
    @include make-md-column-offset(2);
    color: $light-font-color;
    font-weight: $light-font-weight;
    text-align: center;
  }
}