{% extends 'PlucktTemplateBundle::base.admin.html.twig' %}

{% block title %}Log In{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12 col-md-offset-4">
				<form action="{{ path("fos_user_security_check") }}" method="post">
					<div class="panel panel-primary">
						<div class="panel-heading">
							Log In
						</div>
						<div class="panel-body">
							{% if error %}
								<div class="alert alert-danger">
									<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								</div>
							{% endif %}
							<div class="form-group">
								<label for="username">{{ 'security.login.username'|trans }}</label>
						    	<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
							</div>
							<div class="form-group">
								<label for="password">{{ 'security.login.password'|trans }}</label>
						    	<input class="form-control" type="password" id="password" name="_password" required="required" />
							</div>
							<div class="checkbox">
							    <label>
							    	<input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
							    </label>
							</div>		    
						</div>
						<div class="panel-footer">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
							<button class="btn btn-block green" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

				
{% endblock %}