{% extends "PlucktClientTemplateBundle::base.html.twig" %}
{% import "PlucktTemplateBundle::form.html.twig" as form %}

{% block title %}Pluckt - Artists{% endblock %}

{% block content %}
<!-- content -->
<main role="main">
    <!-- page header -->
    <div class="grid top-section">
        <div class="section-header">
            <div class="section-title">
                <h2>Artists</h2>
            </div>
        </div>
    </div>
    <!-- end page header -->

    <!-- featured artist -->
    {% if feat_artist != null %}
    {% set fauser = feat_artist.getUser %}
    <section class="grid" id="featured-artist">
        <div class="section-header">
            <div class="section-title">
                <h3>Featured Artist</h3>
            </div>
        </div>
        <div class="featured-row">
            <div class="featured-portrait">
                <a class="portrait-featured" href="{{ path('pluckt_client_user_profile_view', {'id': fauser.getID}) }}">
                    <img src="{{ fauser.getProfilePic.getURL | default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ fauser.getFullName }}" alt="{{ fauser.getFullName }}">
                    <div class="badge-star"></div>
                </a>
            </div>
            <div class="featured-content">
                <div class="info-line">
                    <span class="user-name featured">{{ fauser.getFullName }}</span>
                    <span class="user-role">{{ feat_artist.getTypesText }}</span>
                    <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                    <span><a href="{{ path('pluckt_client_user_profile_view', {'id': fauser.getID}) }}">View Profile</a></span>
                </div>
                <div class="featured-description">
                    <p>
                        {{ fauser.getBio| default('') }}
                    </p>
                </div>
                <div>
                {% if app.user and fauser.getID != app.user.getID %}
                    {% if not app.user.isFollowing('user', fauser.getID) %}
                    <button data-uid="{{ fauser.getID }}" class="btn-follow button action-button" data-url="{{ path('pluckt_client_user_follow', {'id': fauser.getID}) }}">Follow</button>
                    <button data-uid="{{ fauser.getID }}" class="btn-unfollow fol-button hidden button action-button" data-url="{{ path('pluckt_client_user_unfollow', {'id': fauser.getID}) }}">Unfollow</button>
                    {% else %}
                    <button data-uid="{{ fauser.getID }}" id="btn-follow" class="btn-follow hidden button action-button" data-url="{{ path('pluckt_client_user_follow', {'id': fauser.getID}) }}">Follow</button>
                    <button data-uid="{{ fauser.getID }}" id="btn-unfollow" class="btn-unfollow button action-button" data-url="{{ path('pluckt_client_user_unfollow', {'id': fauser.getID}) }}">Unfollow</button>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- end featured artist section -->

    <!-- list of artists -->
    <div class="grid" id="artists">
        <div class="section-header">
            <div class="section-filters">
                <div class="col-xs-3">
                    <select class="form-control list-filter" id="artist-type">
                        <option value="">All Artists</option>
                        {{ form.options(atypes, null) }}
                    </select>
                </div>
                <div class="col-xs-3">
                    <select class="form-control list-filter" id="artist-country">
                        <option value="">All Countries</option>
                        {{ form.options(countries, null) }}
                    </select>
                </div>
                <div class="col-xs-5">
                    <input type="text" id="artist-name" class="form-control list-filter" placeholder="Start typing a name...">
                </div>
                <div class="col-xs-1">
                    <div class="info-line">
                        <a id="btn-grid-view" class="active" href="#"><span class="pluckt-grid-view"></span></a>
                        <a id="btn-list-view" href="#"><span class="pluckt-list-view"></span></a>
                    </div>
                </div>
            </div>
            <!--
            <div class="row-letter"><h3>J</h3></div>
            -->
            <div class="person-row grid-view">
                {% set fl = '' %}
                {% for a in artists %}

                {% set auser = a.getUser %}

                {% if auser != null %}

                {% if auser.getLastName|first|upper != fl %}
                {% set fl = auser.getLastName|first|upper %}
                <div class="row-letter"><h3>{{ fl }}</h3></div>
                {% endif %}
                <div class="person-column">
                    <div class="person-block">
                        <div class="person-info">
                            <div class="person-portrait">
                                <a class="portrait-box" href="{{ path('pluckt_client_user_profile_view', {'id': auser.getID}) }}">
                                    <img src="{{ auser.getProfilePic.getURL | default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ auser.getFullName }}" alt="{{ auser.getFullName }}">
                                    <div class="badge-star"></div>
                                </a>
                            </div>
                            <div class="person-details">
                                <div class="user-name" data-last-name="{{ auser.getLastName }}"><a href="{{ path('pluckt_client_user_profile_view', {'id': auser.getID}) }}">{{ auser.getFullName }}</a></div>
                                <div class="user-role" data-ids="{{ a.getTypeIDs|join(',') }}">{{ a.getTypesText }}</div>
                                <div class="user-location">
                                    {% if auser.getCity or auser.getCountry %}
                                    {{ (auser.getCity ? auser.getCity ~ ", " : "") ~ (auser.getCountryLabel ?: "") }}
                                    {% endif %}
                                    {% if auser.getCountry %}
                                    &nbsp;<img class="user-flag" src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ auser.getCountry ~ '.png') }}" alt="{{ auser.getCountryLabel }}" title="{{ auser.getCountryLabel }}" data-id="{{ auser.getCountry }}">
                                    {% endif %}
                                </div>
                                <div>
                                {% if app.user and auser.getID != app.user.getID %}
                                    {% if not app.user.isFollowing('user', auser.getID) %}
                                    <button data-uid="{{ auser.getID }}" class="btn-follow button action-button" data-url="{{ path('pluckt_client_user_follow', {'id': auser.getID}) }}">Follow</button>
                                    <button data-uid="{{ auser.getID }}" class="btn-unfollow fol-button hidden button action-button" data-url="{{ path('pluckt_client_user_unfollow', {'id': auser.getID}) }}">Unfollow</button>
                                    {% else %}
                                    <button data-uid="{{ auser.getID }}" id="btn-follow" class="btn-follow hidden button action-button" data-url="{{ path('pluckt_client_user_follow', {'id': auser.getID}) }}">Follow</button>
                                    <button data-uid="{{ auser.getID }}" id="btn-unfollow" class="btn-unfollow button action-button" data-url="{{ path('pluckt_client_user_unfollow', {'id': auser.getID}) }}">Unfollow</button>
                                    {% endif %}
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="person-social">
                            <div>
                                <h5>Filmography</h5>
                                <span class="counter">{{ a.getRoles|length }}</span>
                            </div>
                            <div>
                                <h5>Notes</h5>
                                <span class="counter">{{ auser.getNotes|length }}</span>
                            </div>
                            <div>
                                <h5>Following</h5>
                                <span class="counter">{{ auser.getMyFollows|length }}</span>
                            </div>
                            <div>
                                <h5>Followers</h5>
                                <span class="counter">{{ auser.getFollows|length }}</span>
                            </div>
                        </div>
                        <button class="button action-button btn-follow btn-follow-list">Follow</button>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <!--
                <div class="person-column">
                    <div class="person-block">
                        <div class="person-info">
                            <div class="person-portrait">
                                <a class="portrait-box" href="#">
                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-lg.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                    <div class="badge-star"></div>
                                </a>
                            </div>
                            <div class="person-details">
                                <div class="user-name">Joel Ruiz</div>
                                <div class="user-role">Director</div>
                                <div class="user-location">Manila, Philippines <img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></div>
                                <button class="button btn-follow btn-follow-grid">Following</button>
                            </div>
                        </div>
                        <hr>
                        <div class="person-social">
                            <div>
                                <h5>Filmography</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Notes</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Following</h5>
                                <span class="counter">1414</span>
                            </div>
                            <div>
                                <h5>Followers</h5>
                                <span class="counter">176K</span>
                            </div>
                        </div>
                        <button class="button btn-follow btn-follow-list">Following</button>
                    </div>
                </div>

                <div class="person-column">
                    <div class="person-block">
                        <div class="person-info">
                            <div class="person-portrait">
                                <a class="portrait-box" href="#">
                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-lg.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                    <div class="badge-star"></div>
                                </a>
                            </div>
                            <div class="person-details">
                                <div class="user-name">Joel Ruiz</div>
                                <div class="user-role">Director</div>
                                <div class="user-location">Manila, Philippines <img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></div>
                                <button class="button action-button btn-follow btn-follow-grid">Follow</button>
                            </div>
                        </div>
                        <hr>
                        <div class="person-social">
                            <div>
                                <h5>Filmography</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Notes</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Following</h5>
                                <span class="counter">1414</span>
                            </div>
                            <div>
                                <h5>Followers</h5>
                                <span class="counter">176K</span>
                            </div>
                        </div>
                        <button class="button action-button btn-follow btn-follow-list">Follow</button>
                    </div>
                </div>

                <div class="person-column">
                    <div class="person-block">
                        <div class="person-info">
                            <div class="person-portrait">
                                <a class="portrait-box" href="#">
                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-lg.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                    <div class="badge-star"></div>
                                </a>
                            </div>
                            <div class="person-details">
                                <div class="user-name">Joel Ruiz</div>
                                <div class="user-role">Director</div>
                                <div class="user-location">Manila, Philippines <img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></div>
                                <button class="button action-button btn-follow btn-follow-grid">Follow</button>
                            </div>
                        </div>
                        <hr>
                        <div class="person-social">
                            <div>
                                <h5>Filmography</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Notes</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Following</h5>
                                <span class="counter">1414</span>
                            </div>
                            <div>
                                <h5>Followers</h5>
                                <span class="counter">176K</span>
                            </div>
                        </div>
                        <button class="button action-button btn-follow btn-follow-list">Follow</button>
                    </div>
                </div>

                <div class="person-column">
                    <div class="person-block">
                        <div class="person-info">
                            <div class="person-portrait">
                                <a class="portrait-box" href="#">
                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-lg.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                    <div class="badge-star"></div>
                                </a>
                            </div>
                            <div class="person-details">
                                <div class="user-name">Joel Ruiz</div>
                                <div class="user-role">Director</div>
                                <div class="user-location">Manila, Philippines <img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></div>
                                <button class="button action-button btn-follow btn-follow-grid">Follow</button>
                            </div>
                        </div>
                        <hr>
                        <div class="person-social">
                            <div>
                                <h5>Filmography</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Notes</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Following</h5>
                                <span class="counter">1414</span>
                            </div>
                            <div>
                                <h5>Followers</h5>
                                <span class="counter">176K</span>
                            </div>
                        </div>
                        <button class="button action-button btn-follow btn-follow-list">Follow</button>
                    </div>
                </div>

                <div class="person-column">
                    <div class="person-block">
                        <div class="person-info">
                            <div class="person-portrait">
                                <a class="portrait-box" href="#">
                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-lg.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                    <div class="badge-star"></div>
                                </a>
                            </div>
                            <div class="person-details">
                                <div class="user-name">Joel Ruiz</div>
                                <div class="user-role">Director</div>
                                <div class="user-location">Manila, Philippines <img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></div>
                                <button class="button action-button btn-follow btn-follow-grid">Follow</button>
                            </div>
                        </div>
                        <hr>
                        <div class="person-social">
                            <div>
                                <h5>Filmography</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Notes</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Following</h5>
                                <span class="counter">1414</span>
                            </div>
                            <div>
                                <h5>Followers</h5>
                                <span class="counter">176K</span>
                            </div>
                        </div>
                        <button class="button action-button btn-follow btn-follow-list">Follow</button>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
    <!-- end list of artists section -->
</main>
<!-- end content -->
{% endblock %}

{% block js %}
<script src="{{ asset('bundles/plucktclienttemplate/js/vendor/jquery-ui.min.js') }}"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/pages/artist-category.js') }}"></script>
{% endblock %}
