{% extends "PlucktClientTemplateBundle::base.html.twig" %}
{% import "PlucktClientBundle::macro.movie.html.twig" as mm %}
{% import "PlucktClientBundle::macro.activity_log.html.twig" as macro_log %}

{% set director = movie.getDirector %}
{% set totalFollows = movie.getFollows|length %}

{% block title %}Pluckt - {{ movie.getTitle }}{% endblock %}

{% block metatags %}
<meta property="og:url"                content="{{ app.request.uri }}" />
<meta property="og:type"               content="video.movie" />
<meta property="og:title"              content="{{ movie.getTitle }}" />
<meta property="og:description"        content="{{ movie.getDescription }}" />
<meta property="og:image"              content="{{ movie.getPoster == null ? asset('bundles/plucktclienttemplate/images/movie-placeholder.png') : movie.getPoster.getURL }}" />
{% endblock %}

{% block content %}
<!-- content -->
<main role="main">
    <!-- banner section -->
    <section class="banner">
        <div class="banner-movie details" style="background-image: url('{{ movie.getBackground == null ? asset('bundles/plucktclienttemplate/images/movie-banner-d.jpg') : movie.getBackground.getURL }}');">
            <div class="overlay-dim-gradient">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 play-button-row">
                                    {% if app.user and app.user.hasVideoAccess(movie.getID) %}
                                    <a href="{{ path('pluckt_client_movie_player', {'id': movie.getID }) }}">
                                        <span class="pluckt-circle-play xl"></span>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row movie-details">
                                <div class="col-xs-3">
                                    <img class="movie-poster" src="{{ movie.getPoster == null ? asset('bundles/plucktclienttemplate/images/movie-placeholder.png') : movie.getPoster.getURL }}" alt="movie.getTitle">
                                </div>
                                <div class="col-xs-9">
                                    <h1>{{ movie.getTitle }}</h1>
                                    <div class="info-row">
                                        <div class="col-xs-6">
                                            <div class="info-line">
                                                <a class="class-rating inverse">{{ movie.getRatingID }}</a>
                                                <span class="year">{{ movie.getYearProduced }}</span>
                                                <span>&#x25cf;</span>
                                                <span class="runtime">{{ movie.getMinutes }} min</span>
                                                <span class="genre">{{ movie.getCategoriesText }}</span>
                                                <div class="star-rating inverse">
                                                    <input class="star star-5" id="star-5-a" type="radio" name="star-a" disabled>
                                                    <label class="star star-5" for="star-5-a"></label>
                                                    <input class="star star-4" id="star-4-a" type="radio" name="star-a" disabled>
                                                    <label class="star star-4" for="star-4-a"></label>
                                                    <input class="star star-3" id="star-3-a" type="radio" name="star-a" checked disabled>
                                                    <label class="star star-3" for="star-3-a"></label>
                                                    <input class="star star-2" id="star-2-a" type="radio" name="star-a" disabled>
                                                    <label class="star star-2" for="star-2-a"></label>
                                                    <input class="star star-1" id="star-1-a" type="radio" name="star-a" disabled>
                                                    <label class="star star-1" for="star-1-a"></label>
                                                </div>
                                            </div>
                                            <div class="info-line footnote">
                                                <span>Available in:</span>
                                                <span class="video-quality">HD</span>
                                                <span class="video-subtitles">Subtitles</span>
                                            </div>
                                        </div>
                                        {% if not app.user or not app.user.hasVideoAccess(movie.getID) %}
                                        <div class="col-xs-6">
                                            <div class="dim-content">
                                                <div class="col-xs-6 product-details">
                                                    {% if app.user %}
                                                    <a class="button action-button product-link btn-xs" href="#" data-toggle="modal" data-target="#payment-box" data-verb="purchase" data-price="5.99">Own it</a>
                                                    {% else %}
                                                    <a href="{{ path('pluckt_client_index') }}#login">Own it</a>
                                                    {% endif %}
                                                    <div class="pull-right text-right" id="purchase-cost">USD 5.99</div>
                                                    <div class="footnote">Digital Download Unlimited Views</div>
                                                </div>
                                                <div class="col-xs-6 product-details">
                                                    {% if app.user %}
                                                    <a class="button action-button product-link btn-xs" href="#"data-toggle="modal" data-target="#payment-box" data-verb="rent" data-price="1.99">Rent it</a>
                                                    {% else %}
                                                    <a href="{{ path('pluckt_client_index') }}#login">Rent it</a>
                                                    {% endif %}
                                                    <div class="pull-right text-right" id="rent-cost">USD 1.99</div>
                                                    <div class="footnote">Video Streaming 48-hour access</div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <hr class="dim">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            {% if director != null %}
                                            <div class="info-line">
                                                <div class="inline">
                                                    <a class="portrait-md" href="{{ path('pluckt_client_user_profile_view', {'id': director.getUser.getID}) }}">
                                                        <img src="{{ director.getUser.getProfilePic.getURL | default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ director.getUser.getFullName }}" alt="{{ director.getUser.getFullName }}">
                                                        <span class="badge-star"></span>
                                                    </a>
                                                </div>
                                                <div class="inline">
                                                    <div class="info-line">
                                                        <span class="user-name">{{ director.getUser.getFullName }}</span>
                                                        <span class="user-role">Director</span>
                                                        <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ director.getUser.getCountry ~ '.png') }}" alt="{{ director.getUser.getCountryLabel }}" title="{{ director.getUser.getCountryLabel }}"></span>
                                                    </div>
                                                    <div><a href="{{ path('pluckt_client_user_profile_view', {'id': director.getUser.getID}) }}">View Profile</a></div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <div class="info-line social-summary">
                                                <span>{{ movie.getGallery.count }} Photos</span>
                                                <!--
                                                <span class="line">|</span>
                                                <a href="#">5 Videos</a>
                                                -->
                                                <span class="line">|</span>
                                                <a href="#">{{ movie.getFieldNotes.count }} Notes</a>
                                                {{ logo.menu('right', movie) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <section class="slider" id="thumbs">
                                                <div class="flexslider thumbs">
                                                    <ul class="slides">
                                                        <!--
                                                        <li>
                                                            <a href="#">
                                                                <img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-thumbnail-a-sm.jpg') }}" alt="">
                                                                <div class="overlay-dim">
                                                                    <a class="btn video-overlay-button" href="#">Watch Trailer<span class="pluckt-play"></span></a>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        -->
                                                        {% for g_upload in movie.getGallery %}
                                                        <li>
                                                            <a class="gallery-item" data-gall="media-gallery" href="{{ g_upload.getURL }}"><img src="{{ g_upload.getURL }}" alt=""></a>
                                                        </li>
                                                        {% endfor %}
                                                        <!--
                                                        <li>
                                                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-thumbnail-c-sm.jpg') }}" alt=""></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-thumbnail-d-sm.jpg') }}" alt=""></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-thumbnail-e-sm.jpg') }}" alt=""></a>
                                                        </li>
                                                        -->
                                                    </ul>
                                                    <div id="thumbs-nav" class="slider-buttons vertical overlay inverse">
                                                        <button type="button" class="btn btn-default flex-next"><span class="pluckt-arrow-right"></span></button>
                                                        <button type="button" class="btn btn-default flex-prev"><span class="pluckt-arrow-left"></span></button>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end banner section -->

    <!-- movie body -->
    <div class="container">
        <div class="row">
            <!-- sidebar -->
            <aside class="sidebar">
                <!-- social summary -->
                <!--
                <div class="status-icons left">
                    <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                    <a href="#"><span class="pluckt-comment inline"></span>200</a>
                    <a href="#"><span class="pluckt-share inline"></span>200</a>
                </div>
                -->
                <!-- end social summary -->

                <!-- who's following -->
                <div>
                    {{ following|raw }}
                </div>
                {% if totalFollows > 0 %}
                <div class="portraits-list">
                    <div class="portraits-row">
                        {% for follow in movie.getFollows|slice(0, totalFollows == 4 ? 4 : 3) %}
                        {% set follower = follow.getUser %}
                        <a class="portrait-md" href="{{ path('pluckt_client_user_profile_view', {'id': follower.getID}) }}">
                            <img src="{{ follower.getProfilePic.getURL | default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ follower.getFullName }}" alt="{{ follower.getFullName }}">
                        </a>
                        {% endfor %}
                        {% if totalFollows > 0 %}
                        <a class="portrait-md btn-view-more" href="#" data-toggle="modal" data-target="#view-all-users" data-title="Who's following {{ movie.getTitle }}?" data-movie="{{ movie.getID }}" data-action="follow"><span class="pluckt-more lg" title="Options"></span></a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <!-- end who's following -->

                <!-- movie facts -->
                <section class="movie-facts" id="movie-details">
                    <div class="section-header">
                        <div class="section-title">
                            <h3>Details</h3>
                        </div>
                    </div>
                    <div class="fact">
                        <div class="title">Initial release</div>
                        <div class="details">{{ movie.getYearProduced }} ({{ movie.getCountryLabel }})</div>
                    </div>
                    <div class="fact">
                        <div class="title">Running time</div>
                        <div class="details">{{ movie.getMinutes }} minutes</div>
                    </div>
                    <!--
                    <div class="fact">
                        <div class="title">Music composed by</div>
                        <div class="details">Isha</div>
                    </div>
                    <div class="fact">
                        <div class="title">Screenplay</div>
                        <div class="details">Joel Ruiz, Abi Aquino</div>
                    </div>
                    -->
                    <div class="fact">
                        <div class="title">Official Website</div>
                        <div class="details"><a href="{{ movie.getWebsiteURL }}" target="_blank">{{ movie.getWebsiteURL }}</a></div>
                    </div>
                    <div class="fact">
                        <div class="title">Country</div>
                        <div class="details">{{ movie.getCountryLabel }}</div>
                    </div>
                    <div class="fact">
                        <div class="title">Language</div>
                        <div class="details">{{ movie.getVocalLanguagesLabel }}</div>
                    </div>
                    <div class="fact">
                        <div class="title">Subtitle</div>
                        <div class="details">{{ movie.getSubLanguagesLabel }}</div>
                    </div>
                </section>
                <!-- end movie facts section -->
            </aside>
            <!-- end sidebar -->

            <!-- content -->
            <div class="col-xs-9">
                {% if movie.getAwards | length > 0 %}
                <!-- awards slider -->
                <div class="slider" id="awards">
                    <div class="flexslider inline-images">
                        <ul class="slides">
                            {% for a in movie.getAwards %}
                            <li>
                                <section class="award">
                                    <div class="col-xs-12 text-center">
                                        <img src="{{ a.getEvent.getLogo.getURL|default('') }}" alt="{{ a.getEvent.getName|default('') }}">
                                        <h5>{{ a.getName|default('') }}</h5>
                                        <div>{{ a.getPlacement|default('') }}</div>
                                    </div>
                                </section>
                            </li>
                            {% endfor %}
                            <!--
                            <li>
                                <section class="award">
                                    <div class="col-xs-12 text-center">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/gawad-urian-logo-sm.jpg') }}" alt="Cinemalaya">
                                        <h5>Best Production Design Nominee</h5>
                                        <div>Gawad Urian</div>
                                    </div>
                                </section>
                            </li>
                            -->
                        </ul>
                        <div id="awards-nav" class="slider-buttons vertical">
                            <button id="btn-next-shelf-row" type="button" class="btn btn-default flex-next"><span class="pluckt-arrow-right"></span></button>
                            <button id="btn-prev-shelf-row" type="button" class="btn btn-default flex-prev"><span class="pluckt-arrow-left"></span></button>
                        </div>
                    </div>
                </div>
                <!-- end awards slider -->
                {% endif %}

                <!-- storyline -->
                <section class="grid fluid" id="storyline">
                    <div class="section-header">
                        <div class="section-title">
                            <h3>Synopsis</h3>
                        </div>
                    </div>
                    <div>
                        <p>{{ movie.getDescription }}
                        </p>
                    </div>
                </section>
                <!-- end storyline section -->

                <!-- director info -->
                {% if director != null %}
                <section class="grid fluid" id="director-info">
                    <div class="section-header">
                        <div class="section-title">
                            <h3>Director</h3>
                        </div>
                    </div>
                    <div class="featured-row">
                        <div class="featured-portrait">
                            <a class="portrait-featured" href="{{ path('pluckt_client_user_profile_view', {'id': director.getUser.getID }) }}">
                                <img src="{{ director.getUser.getProfilePic.getURL | default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ director.getUser.getFullName }}" alt="{{ director.getUser.getFullName }}">
                                <div class="badge-star"></div>
                            </a>
                        </div>
                        <div class="featured-content">
                            <div class="info-line">
                                <span class="user-name featured">{{ director.getUser.getFullName }}</span>
                                <span class="user-role">Director</span>
                                <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ director.getUser.getCountry ~ '.png') }}" alt="{{ director.getUser.getCountryLabel }}" title="{{ director.getUser.getCountryLabel }}"></span>
                                <span><a href="{{ path('pluckt_client_user_profile_view', {'id': director.getUser.getID}) }}">View Profile</a></span>
                            </div>
                            <div class="featured-description">
                                <p>{{ director.getUser.getBio }}
                                </p>
                            </div>
                            <button type="button" class="button action-button">Follow</button>
                        </div>
                    </div>
                </section>
                {% endif %}
                <!-- end director info section -->

                <!-- cast slider -->
                {% set cast = movie.getCast %}
                {% if cast | length > 0 %}
                <section class="grid slider fluid" id="cast">
                    <div class="section-header">
                        <div class="section-title">
                            <h3>Cast</h3>
                        </div>
                    </div>
                    <div class="flexslider photo-slider side-nav">
                        <ul class="slides">
                        {% for ar in cast %}
                            {% set auser = ar.getArtist.getUser %}
                            <li>
                                <section class="cast-member">
                                    <div class="col-xs-12 text-center">
                                        <a class="portrait-cast-crew" href="{{ path('pluckt_client_user_profile_view', {'id': auser.getID }) }}">
                                            {% if auser.getProfilePic == null %}
                                            <img class="slider-portrait" id="profile-pic" src="{{ asset('bundles/plucktclienttemplate/images/no-profile.gif') }}" title="{{ auser.getFullName }}" alt="{{ auser.getFullName }}">
                                            {% else %}
                                            <img class="slider-portrait" id="profile-pic" src="{{ auser.getProfilePic.getURL }}" title="{{ auser.getFullName }}" alt="{{ auser.getFullName }}">
                                            <div class="badge-star"></div>
                                            {% endif %}
                                        </a>
                                        <h5 class="user-name">{{ auser.getFullName }}</h5>
                                        <div class="user-role">{{ ar.getArtistRoleLabel }}</div>
                                    </div>
                                </section>
                            </li>
                        {% endfor %}
                        </ul>
                        <div id="cast-nav" class="slider-buttons vertical">
                            <button id="btn-next-shelf-row" type="button" class="btn btn-default flex-next"><span class="pluckt-arrow-right"></span></button>
                            <button id="btn-prev-shelf-row" type="button" class="btn btn-default flex-prev"><span class="pluckt-arrow-left"></span></button>
                        </div>
                    </div>
                </section>
                {% endif %}
                <!-- end cast slider section -->

                <!-- crew slider -->
                {% set crew = movie.getCrew %}
                {% if crew | length > 0 %}
                <section class="grid slider fluid" id="crew">
                    <div class="section-header">
                        <div class="section-title">
                            <h3>Crew</h3>
                        </div>
                    </div>
                    <div class="flexslider photo-slider side-nav">
                        <ul class="slides">
                        {% for ar in crew %}
                            {% set auser = ar.getArtist.getUser %}
                            <li>
                                <section class="crew-member">
                                    <div class="col-xs-12 text-center">
                                        <a class="portrait-cast-crew" href="{{ path('pluckt_client_user_profile_view', {'id': auser.getID }) }}">
                                            {% if auser.getProfilePic == null %}
                                            <img class="slider-portrait" id="profile-pic" src="{{ asset('bundles/plucktclienttemplate/images/no-profile.gif') }}" title="{{ auser.getFullName }}" alt="{{ auser.getFullName }}">
                                            {% else %}
                                            <img class="slider-portrait" id="profile-pic" src="{{ auser.getProfilePic.getURL }}" title="{{ auser.getFullName }}" alt="{{ auser.getFullName }}">
                                            <div class="badge-star"></div>
                                            {% endif %}
                                        </a>
                                        <h5 class="user-name">{{ auser.getFullName }}</h5>
                                        <div class="user-role">{{ ar.getArtistRoleLabel }}</div>
                                    </div>
                                </section>
                            </li>
                        {% endfor %}
                        </ul>
                        <div id="crew-nav" class="slider-buttons vertical">
                            <button id="btn-next-shelf-row" type="button" class="btn btn-default flex-next"><span class="pluckt-arrow-right"></span></button>
                            <button id="btn-prev-shelf-row" type="button" class="btn btn-default flex-prev"><span class="pluckt-arrow-left"></span></button>
                        </div>
                    </div>
                </section>
                {% endif %}
                <!-- end crew slider section -->

                <!-- field notes section -->
                {% if featured_note != null %}
                {% set fn_user = featured_note.getUser %}
                <section class="grid fluid" id="field-notes">
                    <div class="section-header">
                        <div class="section-title">
                            <h3>Field Notes</h3>
                        </div>
                    </div>
                    <div class="article-block">
                        <div class="col-xs-4">
                            <div class="post-time">{{ featured_note.getDateCreate|date('n/j/Y') }}</div>
                            <h3 class="note-title"><a href="{{ path('pluckt_client_note_read', {'id': featured_note.getID}) }}">{{ featured_note.getName }}</a></h3>
                            <div class="info-line">
                                <div class="inline">
                                    <a class="portrait-md" href="{{ path('pluckt_client_user_profile_view', {'id': fn_user.getID|default('0')}) }}">
                                        <img src="{{ fn_user.getProfilePic.getURL|default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ fn_user.getFullName|default('') }}" alt="{{ fn_user.getFullName|default('') }}">
                                        <span class="badge-star"></span>
                                    </a>
                                </div>
                                <div class="inline">
                                    <div class="info-line">
                                        <span class="user-name">{{ fn_user.getFullName|default('') }}</span>
                                        <span class="user-role">{{ fn_user.getArtist.getTypesText|default('') }}</span>
                                        <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ fn_user.getCountry|default('PH') ~ '.png') }}" alt="{{ fn_user.getCountryLabel|default('Philippines') }}" title="{{ fn_user.getCountryLabel|default('Philippines') }}"></span>
                                    </div>
                                    <div><a href="{{ path('pluckt_client_user_profile_view', {'id': fn_user.getID|default('0')}) }}">View Profile</a></div>
                                </div>
                            </div>
                            <hr>
                            <!--
                            <div class="tags">
                                <a href="#" class="tag">Baby Angelo</a>
                                <a href="#" class="tag">Joel Ruiz</a>
                                <a href="#" class="tag">Drama</a>
                                <a href="#" class="tag">Documentary</a>
                                <a href="#" class="tag">Cinemalaya</a>
                            </div>
                            <div class="status-icons left">
                                <a href="#"><span class="pluckt-comment inline"></span>200</a>
                                <a href="#"><span class="pluckt-share inline"></span>200</a>
                                <a href="#"><span class="pluckt-more lg" title="Options"></span></a>
                            </div>
                            -->
                        </div>
                        <div class="col-xs-8">
                            {% if featured_note.getImage %}
                            <img class="article-image" src="{{ featured_note.getImage.getURL }}" alt="{{ featured_note.getVideo.getName }}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="loader-button-box">
                        <a href="{{ path('pluckt_client_movie_notes', {'movie': movie.getID }) }}" class="button">See All Field Notes</a>
                    </div>
                </section>
                {% endif %}
                <!-- end field notes section -->

                <!-- related activities -->
                <section class="fluid activities" id="related-activities">
                    <div class="section-header">
                        <div class="section-title">
                            <h3>Activities Related to {{ movie.getTitle }}</h3>
                        </div>
                        <!--
                        <div class="section-controls">
                            <div class="slider-buttons" role="group">
                                <button id="btn-prev-rel-activity" type="button" class="btn btn-default"><span class="pluckt-arrow-left"></span></button>
                                <button id="btn-next-rel-activity" type="button" class="btn btn-default"><span class="pluckt-arrow-right"></span></button>
                            </div>
                        </div>
                        -->
                    </div>
                    {% for log in logs %}
                        {{ macro_log.display_log(log) }}
                    {% endfor %}
                    <!--
                    <article class="activity">
                       <div class="activity-actions">
                            <button class="btn btn-block status-button" disabled>1 hour ago</button>
                            <button class="btn btn-block action-button">Field Note</button>
                        </div>
                        <div class="activity-details">
                            <div class="activity-byline">
                                <div class="inline">
                                    <a class="portrait-md" href="#">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-e-md.jpg') }}" title="Mario Cornejo" alt="Mario Cornejo">
                                        <span class="badge-star"></span>
                                    </a>
                                </div>
                                <div class="inline">
                                    <div><span class="user-name">Mario Cornejo</span></div>
                                    <div><span class="user-role">Producer</span></div>
                                </div>
                            </div>
                            <div class="activity-content">
                                <h3 class="activity-title">Story of Baby Angelo: Shooting the Film</h3>
                                <div class="activity-body">
                                    <p>Story inspirations could practically come from anywhere. In direk Joel Ruiz's case, it came from an elevator. "Please pray for baby Angelo," was what the note posted in the elevator of his office said.</p>
                                    <p>Much like the real experience, 'Baby Angelo' is a feature length film about an aborted baby found in the garbage of a run down apartment complex. An investigation ensues as to whose baby it was, but the film more importantly revolves around the apartment's inhabitants and how each of their diverse lives are after all, correlated.</p>
                                </div>
                            </div>
                            <div class="activity-status">
                                <div class="status-icons">
                                    <a href="#"><span class="pluckt-book inline"></span>400</a>
                                    <a href="#"><span class="pluckt-share inline"></span>200</a>
                                </div>
                            </div>
                        </div>
                        <div class="activity-photo">
                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-d-md.jpg') }}" alt="Baby Angelo"></a>
                        </div>
                    </article>
                    <article class="activity comments">
                        <div class="comments-list">
                            <div class="comments-summary">
                                <span class="pluckt-comment sm"></span>
                                <span class="total-comments">200 comments</span>
                                <a href="#"><span class="pluckt-arrow-down sm"></span></a>
                            </div>
                            <div class="comment">
                                <div class="comment-portrait">
                                    <a class="portrait-sm" href="#">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-d-sm.jpg') }}" title="Celine Lopez" alt="Celine Lopez">
                                    </a>
                                </div>
                                <div class="comment-details">
                                    <div class="info-line">
                                        <span class="user-name">Celine Lopez</span>
                                        <span class="user-role">Member</span>
                                    </div>
                                    <div class="comment-body">
                                        <p>Story inspirations could practically come from anywhere.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-box">
                                <form method="post">
                                    <span class="pluckt-comment inline"></span>
                                    <textarea name="comment" placeholder="Add a comment..." rows="1"></textarea>
                                </form>
                            </div>
                        </div>
                    </article>
                    -->
                    <!--
                    <article class="activity">
                        <div class="activity-actions">
                            <button class="btn btn-block status-button" disabled>1 hour ago</button>
                            <button class="btn btn-block action-button">Upload Photos</button>
                        </div>
                        <div class="activity-details">
                            <div class="activity-byline">
                                <div class="inline">
                                    <a class="portrait-md" href="#">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                        <span class="badge-star"></span>
                                    </a>
                                </div>
                                <div class="inline">
                                    <div><span class="user-name">Joel Ruiz</span></div>
                                    <div><span class="user-role">Director</span></div>
                                </div>
                            </div>
                            <div class="activity-content">
                                <div class="info-line base">
                                    <h3 class="activity-title">Baby Angelo - Photos</h3>
                                    <a href="#">20 Photos</a>
                                </div>
                                <div class="activity-body">
                                    <div class="movie-image-thumbs">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-photo-a-xs.jpg') }}" alt="">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-photo-b-xs.jpg') }}" alt="">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-photo-c-xs.jpg') }}" alt="">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/movie-d-photo-d-xs.jpg') }}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="activity-status">
                                <div class="status-icons">
                                    <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                                    <a href="#"><span class="pluckt-share inline"></span>200</a>
                                </div>
                                <div class="comment-box">
                                    <form method="post">
                                        <span class="pluckt-comment inline"></span>
                                        <textarea name="comment" placeholder="Add a comment..." rows="1"></textarea>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="activity-photo">
                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-d-md.jpg') }}" alt="Baby Angelo"></a>
                        </div>
                    </article>
                    -->
                    <!--
                    <div class="loader-button-box">
                        <button class="button action-button">See All</button>
                    </div>
                    -->
                </section>
                <!-- end related activities section -->

                <!-- reviews -->
                <section class="grid fluid no-divider" id="reviews">
                    <div class="section-header">
                        <div class="section-title">
                            <h3>Reviews</h3>
                        </div>
                        <!--
                        <div class="section-controls">
                            <div class="portraits-list">
                                <div class="portraits-row">
                                    <a class="portrait-md" href="#">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-b-md.jpg') }}" title="Christina Honrado" alt="Christina Honrado">
                                    </a>
                                    <a class="portrait-md" href="#">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-c-md.jpg') }}" title="Member" alt="Member">
                                    </a>
                                    <a class="portrait-md" href="#">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                        <span class="badge-star"></span>
                                    </a>
                                    <a class="portrait-md" href="#"><span class="pluckt-more lg" title="Options"></span></a>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>

                    <!-- rating summary -->
                    <div class="rating-summary">
                        <div class="rating-box curator" id="curator-ratings">
                            <div class="row">
                                <!-- curator review average -->
                                <div class="col-xs-4">
                                    <div class="average-rating">
                                        <h2>{{ movie.getAvgRating }}</h2>
                                        {{ rating.star(movie.getAvgRating|round(0, 'floor'), 'curator-avg-' ~ movie.getID) }}
                                        <div><a href="#">{{ movie.getReviews|length ~ (movie.getReviews|length == 1 ? ' curator' : ' curators') }}</a></div>
                                    </div>
                                </div>
                                <!--= end curator review average -->

                                <!-- curator review tally -->
                                <div class="col-xs-8">
                                    {{ rating.bars(movie.getReviewTally) }}
                                </div>
                                <!-- end curator review tally -->
                            </div>
                        </div>
                        <div class="rating-box user" id="user-ratings">
                            <div class="row">
                                <!-- user review average -->
                                <div class="col-xs-4">
                                    <div class="average-rating">
                                        <h2>{{ movie.getAvgRating }}</h2>
                                        {{ rating.star(movie.getAvgRating|round(0, 'floor'), 'user-avg-' ~ movie.getID) }}
                                        <div><a href="#">{{ movie.getReviews|length ~ (movie.getReviews|length == 1 ? ' user' : ' users') }}</a></div>
                                    </div>
                                </div>
                                <!-- end user review average -->

                                <!-- user review tally -->
                                <div class="col-xs-8">
                                    {{ rating.bars(movie.getReviewTally) }}
                                </div>
                                <!-- end user review tally -->
                            </div>
                        </div>
                    </div>
                    <!-- end rating summary -->

                    <!-- reviews blocks -->
                    <div class="review-blocks">
                        {% if movie.getReviews %}
                            {% for rv in movie.getReviews|reverse %}
                            {{ mm.review(rv, loop.index > 2 ? true : false) }}
                            {% endfor %}
                            {% if movie.getReviews.count > 2 %}
                            <div class="loader-button-box">
                                <button type="button" class="button" id="btn-more-reviews">See More</button>
                            </div>
                            {% endif %}
                        {% else %}
                            <div class="text-center">
                                No reviews for this movie yet.
                            </div>
                        {% endif %}

                        <!-- dummy review -->
                        <div id="review-model" class="hide">
                            {{ mm.review(null) }}
                        </div>
                        <!-- end dummy review -->

                        <!--
                        <div class="review">
                            <div class="info-line">
                                <div class="inline">
                                    <a class="portrait-md" href="#">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                        <span class="badge-star"></span>
                                    </a>
                                </div>
                                <div class="inline">
                                    <div>
                                        <span class="user-name">Joel Ruiz</span>
                                        <span class="user-role">Director</span>
                                        <small>reviewed this movie</small>
                                        <small>&#x25cf;</small>
                                        <small>14s</small>
                                    </div>
                                </div>
                            </div>
                            <article class="review-content">
                                <h3 class="review-title">The Lives of Others</h3>
                                <div class="review-body">
                                    <p>
                                        It is a different look at how lives intersect. How each of us unconsciously affects one another...
                                    </p>
                                </div>
                                <div class="star-rating">
                                    <input class="star star-5" id="star-5-d" type="radio" name="star-d" disabled>
                                    <label class="star star-5" for="star-5-d"></label>
                                    <input class="star star-4" id="star-4-d" type="radio" name="star-d" checked disabled>
                                    <label class="star star-4" for="star-4-d"></label>
                                    <input class="star star-3" id="star-3-d" type="radio" name="star-d" disabled>
                                    <label class="star star-3" for="star-3-d"></label>
                                    <input class="star star-2" id="star-2-d" type="radio" name="star-d" disabled>
                                    <label class="star star-2" for="star-2-d"></label>
                                    <input class="star star-1" id="star-1-d" type="radio" name="star-d" disabled>
                                    <label class="star star-1" for="star-1-d"></label>
                                </div>
                                <div class="review-footer">
                                    <button class="btn-sm button action-button small pull-right" data-toggle="modal">Add a Comment</button>
                                    <div class="info-line">
                                        <span>Was this review helpful to you?</span>
                                        <button type="button" class="button small yes">Yes</button>
                                        <button type="button" class="button small no">No</button>
                                    </div>
                                </div>
                            </article>
                            <hr class="dotted">
                            <div class="review-comments">
                                <div class="comment-block">
                                    <div class="reply-to"><img src="{{ asset('bundles/plucktclienttemplate/images/icon-reply-to.png') }}" alt=""></div>
                                    <div class="comment">
                                        <div class="info-line">
                                            <div class="inline">
                                                <a class="portrait-md" href="#">
                                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-i-md.jpg') }}" title="Rianne Hill Soriano" alt="Rianne Hill Soriano">
                                                </a>
                                            </div>
                                            <div class="inline">
                                                <div>
                                                    <span class="user-name">Rianne Hill Soriano</span>
                                                    <span class="user-role">Member</span>
                                                    <small>commented on this review</small>
                                                    <small>&#x25cf;</small>
                                                    <small>14s</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-content">
                                            <div class="comment-body">
                                                <p>
                                                    It is a different look at how lives intersect. How each of us unconsciously affects one another...
                                                </p>
                                            </div>
                                        </div>
                                        <hr class="dotted">
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                    <!-- end review blocks -->
                </section>
                <!-- end reviews section -->

                <!-- write a review -->
                <div class="grid fluid">
                    <form id="on-page-review-form" method="post" action="{{ path('pluckt_client_movie_review', {'id': movie.getID }) }}">
                        <div class="rating-input-box">
                            <div class="box-content">
                                Finished watching <a href="{{ path('pluckt_client_movie_details', {'id': movie.getID }) }}">{{ movie.getName }}</a>? Please write a review.
                                <div class="title-box">
                                    <input type="text" name="title" class="form-control" placeholder="Title" required>
                                </div>
                                <div class="body-box">
                                    <textarea name="message" class="form-control flush" rows="8" placeholder="Say something about this..." required></textarea>
                                </div>
                                <div class="info-line">
                                    <span>Your rating</span>
                                    {{ rating.star(0, 'new-review', 'rating', true)}}
                                </div>
                            </div>
                            <div class="box-footer">
                                <div>
                                    <div class="status-icons">
                                        <!--
                                        <a href="#"><span class="pluckt-facebook"></span></a>
                                        <a href="#"><span class="pluckt-twitter"></span></a>
                                        <a href="#"><span class="pluckt-tumblr"></span></a>
                                        -->
                                        <button type="submit" class="button action-button small"><div>Pluckt <span class="pluckt-logo"></span></div></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end write a review -->

                <!-- recommendations -->
                <!--
                <section class="grid fluid" id="recommendations">
                    <div class="section-header">
                        <div class="section-title">
                            <h3>People who watched this also watched...</h3>
                        </div>
                        <div class="section-controls">
                            <div class="portraits-list">
                                <div class="portraits-row">
                                    <a class="portrait-md" href="#">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-b-md.jpg') }}" title="Christina Honrado" alt="Christina Honrado">
                                    </a>
                                    <a class="portrait-md" href="#">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-c-md.jpg') }}" title="Member" alt="Member">
                                    </a>
                                    <a class="portrait-md" href="#">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                        <span class="badge-star"></span>
                                    </a>
                                    <a class="portrait-md" href="#"><span class="pluckt-more lg" title="Options"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="poster col-xs-3">
                            <img id="recommendations-poster" src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-b-xl.jpg') }}" alt="Big Time">
                            <div class="poster-controls">
                                <button class="button action-button small"><div>Pluckt <span class="pluckt-logo"></span></div></button>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <section class="slider">
                                <div class="flexslider side-nav">
                                    <ul class="slides">
                                        <li class="slide">
                                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-b-sm.jpg') }}" alt="Big Time"></a>
                                            <div class="slide-info hide">
                                                <h3 class="movie-title">Big Time</h3>
                                                <div class="info-line">
                                                    <a class="class-rating">R-18</a>
                                                    <span class="year">2008</span>
                                                    <span>&#x25cf;</span>
                                                    <span class="runtime">84 min</span>
                                                    <span class="genre">Drama</span>
                                                    <div class="star-rating">
                                                        <input class="star star-5" id="star-5-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-5" for="star-5-c"></label>
                                                        <input class="star star-4" id="star-4-c" type="radio" name="star-c" checked disabled>
                                                        <label class="star star-4" for="star-4-c"></label>
                                                        <input class="star star-3" id="star-3-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-3" for="star-3-c"></label>
                                                        <input class="star star-2" id="star-2-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-2" for="star-2-c"></label>
                                                        <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-1" for="star-1-c"></label>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="info-line">
                                                    <div class="inline">
                                                        <a class="portrait-md" href="#">
                                                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                            <span class="badge-star"></span>
                                                        </a>
                                                    </div>
                                                    <div class="inline">
                                                        <div>
                                                            <span class="user-name">Joel Ruiz</span>
                                                            <span class="user-role">Director</span>
                                                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                                        </div>
                                                        <div><small><a href="#">View Profile</a></small></div>
                                                    </div>
                                                </div>
                                                <div class="movie-description">
                                                    <p>Danny and Jonas are two petty crooks who dream of moving into the big scene. When their carefully-planned kidnapping goes askew, Danny and Jonas find themselves in a tangle neither of them can handle.</p>
                                                </div>
                                                <div class="movie-notes">
                                                    <a href="#">2 Notes</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="slide">
                                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-h-sm.jpg') }}" alt="Kano"></a>
                                            <div class="slide-info hide">
                                                <h3 class="movie-title">Kano</h3>
                                                <div class="info-line">
                                                    <a class="class-rating">R-18</a>
                                                    <span class="year">2008</span>
                                                    <span>&#x25cf;</span>
                                                    <span class="runtime">84 min</span>
                                                    <span class="genre">Drama</span>
                                                    <div class="star-rating">
                                                        <input class="star star-5" id="star-5-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-5" for="star-5-c"></label>
                                                        <input class="star star-4" id="star-4-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-4" for="star-4-c"></label>
                                                        <input class="star star-3" id="star-3-c" type="radio" name="star-c" checked disabled>
                                                        <label class="star star-3" for="star-3-c"></label>
                                                        <input class="star star-2" id="star-2-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-2" for="star-2-c"></label>
                                                        <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-1" for="star-1-c"></label>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="info-line">
                                                    <div class="inline">
                                                        <a class="portrait-md" href="#">
                                                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                            <span class="badge-star"></span>
                                                        </a>
                                                    </div>
                                                    <div class="inline">
                                                        <div>
                                                            <span class="user-name">Joel Ruiz</span>
                                                            <span class="user-role">Director</span>
                                                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                                        </div>
                                                        <div><small><a href="#">View Profile</a></small></div>
                                                    </div>
                                                </div>
                                                <div class="movie-description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ab enim quis sapiente soluta. Tenetur ut unde qui suscipit dolorum accusantium quisquam eos, sapiente ducimus. Iste eveniet quam id reprehenderit.</p>
                                                </div>
                                                <div class="movie-notes">
                                                    <a href="#">4 Notes</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="slide">
                                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-f-sm.jpg') }}" alt="Mansyon"></a>
                                            <div class="slide-info hide">
                                                <h3 class="movie-title">Mansyon</h3>
                                                <div class="info-line">
                                                    <a class="class-rating">R-18</a>
                                                    <span class="year">2008</span>
                                                    <span>&#x25cf;</span>
                                                    <span class="runtime">84 min</span>
                                                    <span class="genre">Drama</span>
                                                    <div class="star-rating">
                                                        <input class="star star-5" id="star-5-c" type="radio" name="star-c" checked disabled>
                                                        <label class="star star-5" for="star-5-c"></label>
                                                        <input class="star star-4" id="star-4-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-4" for="star-4-c"></label>
                                                        <input class="star star-3" id="star-3-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-3" for="star-3-c"></label>
                                                        <input class="star star-2" id="star-2-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-2" for="star-2-c"></label>
                                                        <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-1" for="star-1-c"></label>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="info-line">
                                                    <div class="inline">
                                                        <a class="portrait-md" href="#">
                                                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                            <span class="badge-star"></span>
                                                        </a>
                                                    </div>
                                                    <div class="inline">
                                                        <div>
                                                            <span class="user-name">Joel Ruiz</span>
                                                            <span class="user-role">Director</span>
                                                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                                        </div>
                                                        <div><small><a href="#">View Profile</a></small></div>
                                                    </div>
                                                </div>
                                                <div class="movie-description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ab enim quis sapiente soluta. Tenetur ut unde qui suscipit dolorum accusantium quisquam eos, sapiente ducimus. Iste eveniet quam id reprehenderit.</p>
                                                </div>
                                                <div class="movie-notes">
                                                    <a href="#">4 Notes</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="slide">
                                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-c-sm.jpg') }}" alt="Lakad ni Sammy"></a>
                                            <div class="slide-info hide">
                                                <h3 class="movie-title">Lakad ni Sammy</h3>
                                                <div class="info-line">
                                                    <a class="class-rating">R-18</a>
                                                    <span class="year">2008</span>
                                                    <span>&#x25cf;</span>
                                                    <span class="runtime">84 min</span>
                                                    <span class="genre">Drama</span>
                                                    <div class="star-rating">
                                                        <input class="star star-5" id="star-5-c" type="radio" name="star-c" checked disabled>
                                                        <label class="star star-5" for="star-5-c"></label>
                                                        <input class="star star-4" id="star-4-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-4" for="star-4-c"></label>
                                                        <input class="star star-3" id="star-3-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-3" for="star-3-c"></label>
                                                        <input class="star star-2" id="star-2-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-2" for="star-2-c"></label>
                                                        <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-1" for="star-1-c"></label>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="info-line">
                                                    <div class="inline">
                                                        <a class="portrait-md" href="#">
                                                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                            <span class="badge-star"></span>
                                                        </a>
                                                    </div>
                                                    <div class="inline">
                                                        <div>
                                                            <span class="user-name">Joel Ruiz</span>
                                                            <span class="user-role">Director</span>
                                                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                                        </div>
                                                        <div><small><a href="#">View Profile</a></small></div>
                                                    </div>
                                                </div>
                                                <div class="movie-description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ab enim quis sapiente soluta. Tenetur ut unde qui suscipit dolorum accusantium quisquam eos, sapiente ducimus. Iste eveniet quam id reprehenderit.</p>
                                                </div>
                                                <div class="movie-notes">
                                                    <a href="#">4 Notes</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="slide">
                                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-e-sm.jpg') }}" alt="Putot"></a>
                                            <div class="slide-info hide">
                                                <h3 class="movie-title">Putot</h3>
                                                <div class="info-line">
                                                    <a class="class-rating">R-18</a>
                                                    <span class="year">2008</span>
                                                    <span>&#x25cf;</span>
                                                    <span class="runtime">84 min</span>
                                                    <span class="genre">Drama</span>
                                                    <div class="star-rating">
                                                        <input class="star star-5" id="star-5-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-5" for="star-5-c"></label>
                                                        <input class="star star-4" id="star-4-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-4" for="star-4-c"></label>
                                                        <input class="star star-3" id="star-3-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-3" for="star-3-c"></label>
                                                        <input class="star star-2" id="star-2-c" type="radio" name="star-c" checked disabled>
                                                        <label class="star star-2" for="star-2-c"></label>
                                                        <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-1" for="star-1-c"></label>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="info-line">
                                                    <div class="inline">
                                                        <a class="portrait-md" href="#">
                                                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                            <span class="badge-star"></span>
                                                        </a>
                                                    </div>
                                                    <div class="inline">
                                                        <div>
                                                            <span class="user-name">Joel Ruiz</span>
                                                            <span class="user-role">Director</span>
                                                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                                        </div>
                                                        <div><small><a href="#">View Profile</a></small></div>
                                                    </div>
                                                </div>
                                                <div class="movie-description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ab enim quis sapiente soluta. Tenetur ut unde qui suscipit dolorum accusantium quisquam eos, sapiente ducimus. Iste eveniet quam id reprehenderit.</p>
                                                </div>
                                                <div class="movie-notes">
                                                    <a href="#">5 Notes</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="slide">
                                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-f-sm.jpg') }}" alt="Mansyon"></a>
                                            <div class="slide-info hide">
                                                <h3 class="movie-title">Mansyon</h3>
                                                <div class="info-line">
                                                    <a class="class-rating">R-18</a>
                                                    <span class="year">2008</span>
                                                    <span>&#x25cf;</span>
                                                    <span class="runtime">84 min</span>
                                                    <span class="genre">Drama</span>
                                                    <div class="star-rating">
                                                        <input class="star star-5" id="star-5-c" type="radio" name="star-c" checked disabled>
                                                        <label class="star star-5" for="star-5-c"></label>
                                                        <input class="star star-4" id="star-4-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-4" for="star-4-c"></label>
                                                        <input class="star star-3" id="star-3-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-3" for="star-3-c"></label>
                                                        <input class="star star-2" id="star-2-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-2" for="star-2-c"></label>
                                                        <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-1" for="star-1-c"></label>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="info-line">
                                                    <div class="inline">
                                                        <a class="portrait-md" href="#">
                                                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                            <span class="badge-star"></span>
                                                        </a>
                                                    </div>
                                                    <div class="inline">
                                                        <div>
                                                            <span class="user-name">Joel Ruiz</span>
                                                            <span class="user-role">Director</span>
                                                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                                        </div>
                                                        <div><small><a href="#">View Profile</a></small></div>
                                                    </div>
                                                </div>
                                                <div class="movie-description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ab enim quis sapiente soluta. Tenetur ut unde qui suscipit dolorum accusantium quisquam eos, sapiente ducimus. Iste eveniet quam id reprehenderit.</p>
                                                </div>
                                                <div class="movie-notes">
                                                    <a href="#">4 Notes</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="slide">
                                            <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-c-sm.jpg') }}" alt="Lakad ni Sammy"></a>
                                            <div class="slide-info hide">
                                                <h3 class="movie-title">Lakad ni Sammy</h3>
                                                <div class="info-line">
                                                    <a class="class-rating">R-18</a>
                                                    <span class="year">2008</span>
                                                    <span>&#x25cf;</span>
                                                    <span class="runtime">84 min</span>
                                                    <span class="genre">Drama</span>
                                                    <div class="star-rating">
                                                        <input class="star star-5" id="star-5-c" type="radio" name="star-c" checked disabled>
                                                        <label class="star star-5" for="star-5-c"></label>
                                                        <input class="star star-4" id="star-4-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-4" for="star-4-c"></label>
                                                        <input class="star star-3" id="star-3-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-3" for="star-3-c"></label>
                                                        <input class="star star-2" id="star-2-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-2" for="star-2-c"></label>
                                                        <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                                        <label class="star star-1" for="star-1-c"></label>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="info-line">
                                                    <div class="inline">
                                                        <a class="portrait-md" href="#">
                                                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                            <span class="badge-star"></span>
                                                        </a>
                                                    </div>
                                                    <div class="inline">
                                                        <div>
                                                            <span class="user-name">Joel Ruiz</span>
                                                            <span class="user-role">Director</span>
                                                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                                        </div>
                                                        <div><small><a href="#">View Profile</a></small></div>
                                                    </div>
                                                </div>
                                                <div class="movie-description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ab enim quis sapiente soluta. Tenetur ut unde qui suscipit dolorum accusantium quisquam eos, sapiente ducimus. Iste eveniet quam id reprehenderit.</p>
                                                </div>
                                                <div class="movie-notes">
                                                    <a href="#">4 Notes</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div id="recommendations-nav" class="slider-buttons vertical">
                                        <button type="button" class="btn btn-default flex-next"><span class="pluckt-arrow-right"></span></button>
                                        <button type="button" class="btn btn-default flex-prev"><span class="pluckt-arrow-left"></span></button>
                                    </div>
                                </div>
                            </section>
                            <article class="slide-info" id="recommendations-slide-info"></article>
                        </div>
                    </div>
                </section>
                -->
                <!-- end recommendations section -->
            </div>
            <!-- end content -->
        </div>
    </div>
    <!-- end movie body -->
</main>
<!-- end content -->
{% endblock %}

{% block dialogs %}
<!-- payment form -->
<div class="modal fade" id="payment-box" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="payment-box-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="loading-pane">
                <div><i class="pluckt-spinner spin"></i></div>
            </div>
            <form id="payment-form" action="" method="post">
                <div class="modal-body">
                    <h4 class="text-uppercase" id="payment-box-title">
                        You are about to <em id="payment-action"></em> this movie
                    </h4>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="poster-image social-image" src="{{ movie.getPoster == null ? asset('bundles/plucktclienttemplate/images/movie-placeholder.png') : movie.getPoster.getURL }}" alt="movie.getTitle">
                            </div>
                            <div class="col-xs-8">
                                <h3 class="movie-name social-title">{{ movie.getTitle }}</h3>
                                <div class="info-line">
                                    <a class="class-rating">{{ movie.getRatingID }}</a>
                                    <span class="year">{{ movie.getYearProduced }}</span>
                                    <span>&#x25cf;</span>
                                    <span class="runtime">{{ movie.getMinutes }} min</span>
                                    <span class="genre">{{ movie.getCategoriesText }}</span>
                                </div>
                                {% set cast = movie.getCast %}
                                {% if cast | length > 0 %}
                                <h5 class="subsection-title">Cast</h5>
                                <div class="portraits-list">
                                    <div class="portraits-row">
                                    {% for ar in cast %}
                                        {% set auser = ar.getArtist.getUser %}
                                        <a class="portrait-md" href="{{ path('pluckt_client_user_profile_view', {'id': auser.getID}) }}" target="_blank">
                                            <img src="{{ auser.getProfilePic.getURL | default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ auser.getFullName }}" alt="{{ auser.getFullName }}">
                                            <span class="badge-star"></span>
                                        </a>
                                    {% endfor %}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if director != null %}
                                <div class="info-line">
                                    <div class="inline">
                                        <a class="portrait-md" href="{{ path('pluckt_client_user_profile_view', {'id': director.getUser.getID}) }}" target="_blank">
                                            <img src="{{ director.getUser.getProfilePic.getURL | default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ director.getUser.getFullName }}" alt="{{ director.getUser.getFullName }}">
                                            <span class="badge-star"></span>
                                        </a>
                                    </div>
                                    <div class="inline">
                                        <div class="info-line">
                                            <span class="user-name">{{ director.getUser.getFullName }}</span>
                                            <span class="user-role">Director</span>
                                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ director.getUser.getCountry ~ '.png') }}" alt="{{ director.getUser.getCountryLabel }}" title="{{ director.getUser.getCountryLabel }}"></span>
                                        </div>
                                        <div><a href="{{ path('pluckt_client_user_profile_view', {'id': director.getUser.getID}) }}" target="_blank">View Profile</a></div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Price</label>
                                <h3 class="form-value" id="payment-price"></h3>
                            </div>
                            <div class="col-xs-8">
                                <label>Payment Options</label>
                                <select class="form-control" name="payment_option" required>
                                    <option value="1">Pluckt Wallet (Current Balance: ${{ app.user ? app.user.getWalletAmount() : 0 }})</option>
                                    <!--
                                    <option value="2">PayPal</option>
                                    <option value="3">Credit Card</option>
                                    <option value="4">BancNet / Megalink</option>
                                    <option value="5">Globe G-Cash / Smart Money</option>
                                    <option value="6">Bitcoin (BTC)</option>
                                    -->
                                </select>
                            </div>
                        </div>
                    </div>        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn auxilliary-button" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn action-button payment-submit">Proceed</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end payment form -->
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('bundles/plucktclienttemplate/css/flexslider.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/plucktclienttemplate/css/venobox.css') }}">
{% endblock %}

{% block js %}
<script src="{{ asset('bundles/plucktclienttemplate/js/vendor/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/vendor/venobox.min.js') }}"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/pages/movie-details.js') }}"></script>
<script>
    var followers = [];

    {% for follow in movie.getFollows %}
    {% set follower = follow.getUser %}
    followers.push({
        page: "{{ path('pluckt_client_user_profile_view', {'id': follower.getID}) }}",
        portrait: "{{ follower.getProfilePic.getURL | default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}",
        fullName: "{{ follower.getFullName }}",
        isArtist: {{ follower.isArtist ? 1 : 0}},
        role: "{{ follower.isArtist ? follower.getArtist.getTypesText : 'Member' }}",
        location: "{{ follower.getCity or follower.getCountry ? ((follower.getCity ? follower.getCity ~ ", " : "") ~ (follower.getCountryLabel ?: "")) }}",
        flag: "{{ follower.getCountry ? asset('bundles/plucktclienttemplate/images/flags/' ~ follower.getCountry ~ '.png') }}",
        country: "{{ follower.getCountry ? follower.getCountryLabel }}"
    });
    {% endfor %}

    purchase_paths = {
        'purchase': "{{ path('pluckt_api_video_buy', {'id': movie.getID}) }}",
        'rent': "{{ path('pluckt_api_video_rent', {'id': movie.getID}) }}"
    };
</script>
{% endblock %}
