{% extends "PlucktClientTemplateBundle::base.html.twig" %}
{% import "PlucktClientBundle::macro.movie.html.twig" as movie_macro %}
{% import "PlucktClientBundle::macro.rating.html.twig" as rating %}

{% block title %}Pluckt - Movies{% endblock %}

{% block content %}
<!-- content -->
<main role="main">
    <!-- banner section -->
    {% if feat_movie != null %}
    <section class="banner">
        <div class="banner-movie" style="background-image: url('{{ feat_movie.getBackground.getURL|default('') }}');">
            <div class="overlay-dim">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="inline">
                                <div class="movie-main-tag">Featured Movie</div>
                                <h1 class="movie-title"><a title="View movie page" href="{{ path('pluckt_client_movie_details', {'id': feat_movie.getID}) }}">{{ feat_movie.getTitle }}</a></h1>
                                <div class="info-line">
                                    <a class="class-rating inverse">{{ feat_movie.getRatingID }}</a>
                                    <span>{{ feat_movie.getYearProduced }} &#x25cf; {{ feat_movie.getMinutes }} min</span>
                                    <span class="genre">{{ feat_movie.getCategoriesText }}</span>
                                    <div class="star-rating inverse">
                                        <input class="star star-5" id="feat-star-5" type="radio" name="feat-star" disabled>
                                        <label class="star star-5" for="feat-star-5"></label>
                                        <input class="star star-4" id="feat-star-4" type="radio" name="feat-star" disabled>
                                        <label class="star star-4" for="feat-star-4"></label>
                                        <input class="star star-3" id="feat-star-3" type="radio" name="feat-star" checked disabled>
                                        <label class="star star-3" for="feat-star-3"></label>
                                        <input class="star star-2" id="feat-star-2" type="radio" name="feat-star" disabled>
                                        <label class="star star-2" for="feat-star-2"></label>
                                        <input class="star star-1" id="feat-star-1" type="radio" name="feat-star" disabled>
                                        <label class="star star-1" for="feat-star-1"></label>
                                    </div>
                                </div>
                                <div class="movie-description">
                                    <p>{{ feat_movie.getDescription }}
                                    </p>
                                </div>
                                <hr class="dim">
                                {% set director = feat_movie.getDirector %}
                                <div class="info-line">
                                    <div class="inline">
                                        <a class="portrait-md" href="{{ path('pluckt_client_user_profile_view', {'id': director.getUser.getID}) }}">
                                            <img src="{{ director.getUser.getProfilePic.getURL|default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ director.getUser.getFullName }}" alt="{{ director.getUser.getFullName }}">
                                            <span class="badge-star"></span>
                                        </a>
                                    </div>
                                    <div class="inline">
                                        <div class="info-line">
                                            <span class="user-name">{{ director.getUser.getFullname }}</span>
                                            <span class="user-role">Director</span>
                                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ director.getUser.getCountry ~ '.png') }}" alt="{{ director.getUser.getCountryLabel }}" title="{{ director.getUser.getCountryLabel }}"></span>
                                        </div>
                                        <div><a href="{{ path('pluckt_client_user_profile_view', {'id': director.getUser.getID}) }}">View Profile</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <!--
                            <div class="countdown">
                                <h4>Exclusive web premiere in:</h4>
                                <div class="timer"></div>
                            </div>
                            <div class="countdown-note">Please watch this movie starting on <strong>January 1, 2016, 12:00 AM</strong></div>
                            -->
                            <!--
                            <div class="thumbnail-image" style="background-image: url('{{ asset('bundles/plucktclienttemplate/images/movie-d-thumbnail-a-sm.jpg') }}');">
                                <div class="overlay-dim">
                                    <a class="btn video-overlay-button" href="#">Watch Trailer<span class="pluckt-play"></span></a>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                    <div style="position: absolute; right: 20px; bottom: 20px;">
                        {{ logo.menu('right', feat_movie) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- end banner section -->

    {% if genres %}
    <!-- genre slider -->
    <section class="grid {{ feat_movie == null ? ' static' }}" id="genres">
        <div class="section-header">
            <div class="section-title">
                <h3>Genres</h3>
            </div>
        </div>
        <section class="slider">
            <div class="flexslider full-image">
                <ul class="slides">
                    {% for genre in genres %}
                    <li>
                        <a href="{{ path('pluckt_client_movies_genre', {'id': genre.getID}) }}"><img src="{{ genre.getImage.getURL|default(asset('bundles/plucktclienttemplate/images/genre-placeholder.png')) }}" alt="{{ genre.getName }}"></a>
                        <div class="caption">{{ genre.getName }}</div>
                    </li>
                    {% endfor %}
                    <!--
                    <li>
                        <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/category-thumb-comedy.jpg') }}" alt="Comedy"></a>
                        <div class="caption">Comedy</div>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/category-thumb-action.jpg') }}" alt="Action"></a>
                        <div class="caption">Action</div>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/category-thumb-documentary.jpg') }}" alt="Documentary"></a>
                        <div class="caption">Documentary</div>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/category-thumb-drama.jpg') }}" alt="Drama"></a>
                        <div class="caption">Drama</div>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/category-thumb-horror.jpg') }}" alt="Horror"></a>
                        <div class="caption">Horror</div>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/category-thumb-horror.jpg') }}" alt="Horror"></a>
                        <div class="caption">Horror</div>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/category-thumb-horror.jpg') }}" alt="Horror"></a>
                        <div class="caption">Horror</div>
                    </li>
                    -->
                </ul>
                <div id="genre-nav" class="slider-buttons vertical overlay">
                    <button type="button" class="btn btn-default flex-next"><span class="pluckt-arrow-right"></span></button>
                    <button type="button" class="btn btn-default flex-prev"><span class="pluckt-arrow-left"></span></button>
                </div>
            </div>
        </section>
        <!--
        <div class="text-center">
            <a href="#">View All Genres</a>
        </div>
        -->
    </section>
    <!-- end genre slider section -->
    {% endif %}
        
    {% if app.user %}
    <!-- recommendations -->
    <!--
    <section class="grid {{ feat_movie == null and not genres ? ' static' }}" id="recommendations">
        <div class="section-header">
            <div class="section-title">
                <h3>Recommended For You</h3>
            </div>
        </div>
        <div class="row">
            <div class="poster col-xs-3">
                <img id="recommendations-poster" src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-b-xl.jpg') }}" alt="Big Time">
                <div class="poster-controls">
                </div>
            </div>
            <div class="col-xs-9">
                <section class="slider">
                    <div class="flexslider side-nav">
                        <ul class="slides">
                            <li class="slide">
                                <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-b-sm.jpg') }}" alt="Big Time"></a>
                                <div class="slide-info hide">
                                    <h3 class="movie-title">Big Time</h3>
                                    <div class="info-line">
                                        <a class="class-rating">R-18</a>
                                        <span class="year">2008</span>
                                        <span>&#x25cf;</span>
                                        <span class="runtime">84 min</span>
                                        <span class="genre">Drama</span>
                                        <div class="star-rating">
                                            <input class="star star-5" id="star-5-c" type="radio" name="star-c" disabled>
                                            <label class="star star-5" for="star-5-c"></label>
                                            <input class="star star-4" id="star-4-c" type="radio" name="star-c" checked disabled>
                                            <label class="star star-4" for="star-4-c"></label>
                                            <input class="star star-3" id="star-3-c" type="radio" name="star-c" disabled>
                                            <label class="star star-3" for="star-3-c"></label>
                                            <input class="star star-2" id="star-2-c" type="radio" name="star-c" disabled>
                                            <label class="star star-2" for="star-2-c"></label>
                                            <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                            <label class="star star-1" for="star-1-c"></label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="info-line">
                                        <div class="inline">
                                            <a class="portrait-md" href="#">
                                                <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                <span class="badge-star"></span>
                                            </a>
                                        </div>
                                        <div class="inline">
                                            <div>
                                                <span class="user-name">Joel Ruiz</span>
                                                <span class="user-role">Director</span>
                                                <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                            </div>
                                            <div><small><a href="#">View Profile</a></small></div>
                                        </div>
                                    </div>
                                    <div class="movie-description">
                                        <p>Danny and Jonas are two petty crooks who dream of moving into the big scene. When their carefully-planned kidnapping goes askew, Danny and Jonas find themselves in a tangle neither of them can handle.</p>
                                    </div>
                                    <div class="movie-notes">
                                        <a href="#">2 Notes</a>
                                    </div>
                                </div>
                            </li>
                            <li class="slide">
                                <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-h-sm.jpg') }}" alt="Kano"></a>
                                <div class="slide-info hide">
                                    <h3 class="movie-title">Kano</h3>
                                    <div class="info-line">
                                        <a class="class-rating">R-18</a>
                                        <span class="year">2008</span>
                                        <span>&#x25cf;</span>
                                        <span class="runtime">84 min</span>
                                        <span class="genre">Drama</span>
                                        <div class="star-rating">
                                            <input class="star star-5" id="star-5-c" type="radio" name="star-c" disabled>
                                            <label class="star star-5" for="star-5-c"></label>
                                            <input class="star star-4" id="star-4-c" type="radio" name="star-c" disabled>
                                            <label class="star star-4" for="star-4-c"></label>
                                            <input class="star star-3" id="star-3-c" type="radio" name="star-c" checked disabled>
                                            <label class="star star-3" for="star-3-c"></label>
                                            <input class="star star-2" id="star-2-c" type="radio" name="star-c" disabled>
                                            <label class="star star-2" for="star-2-c"></label>
                                            <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                            <label class="star star-1" for="star-1-c"></label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="info-line">
                                        <div class="inline">
                                            <a class="portrait-md" href="#">
                                                <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                <span class="badge-star"></span>
                                            </a>
                                        </div>
                                        <div class="inline">
                                            <div>
                                                <span class="user-name">Joel Ruiz</span>
                                                <span class="user-role">Director</span>
                                                <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                            </div>
                                            <div><small><a href="#">View Profile</a></small></div>
                                        </div>
                                    </div>
                                    <div class="movie-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ab enim quis sapiente soluta. Tenetur ut unde qui suscipit dolorum accusantium quisquam eos, sapiente ducimus. Iste eveniet quam id reprehenderit.</p>
                                    </div>
                                    <div class="movie-notes">
                                        <a href="#">4 Notes</a>
                                    </div>
                                </div>
                            </li>
                            <li class="slide">
                                <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-f-sm.jpg') }}" alt="Mansyon"></a>
                                <div class="slide-info hide">
                                    <h3 class="movie-title">Mansyon</h3>
                                    <div class="info-line">
                                        <a class="class-rating">R-18</a>
                                        <span class="year">2008</span>
                                        <span>&#x25cf;</span>
                                        <span class="runtime">84 min</span>
                                        <span class="genre">Drama</span>
                                        <div class="star-rating">
                                            <input class="star star-5" id="star-5-c" type="radio" name="star-c" checked disabled>
                                            <label class="star star-5" for="star-5-c"></label>
                                            <input class="star star-4" id="star-4-c" type="radio" name="star-c" disabled>
                                            <label class="star star-4" for="star-4-c"></label>
                                            <input class="star star-3" id="star-3-c" type="radio" name="star-c" disabled>
                                            <label class="star star-3" for="star-3-c"></label>
                                            <input class="star star-2" id="star-2-c" type="radio" name="star-c" disabled>
                                            <label class="star star-2" for="star-2-c"></label>
                                            <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                            <label class="star star-1" for="star-1-c"></label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="info-line">
                                        <div class="inline">
                                            <a class="portrait-md" href="#">
                                                <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                <span class="badge-star"></span>
                                            </a>
                                        </div>
                                        <div class="inline">
                                            <div>
                                                <span class="user-name">Joel Ruiz</span>
                                                <span class="user-role">Director</span>
                                                <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                            </div>
                                            <div><small><a href="#">View Profile</a></small></div>
                                        </div>
                                    </div>
                                    <div class="movie-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ab enim quis sapiente soluta. Tenetur ut unde qui suscipit dolorum accusantium quisquam eos, sapiente ducimus. Iste eveniet quam id reprehenderit.</p>
                                    </div>
                                    <div class="movie-notes">
                                        <a href="#">4 Notes</a>
                                    </div>
                                </div>
                            </li>
                            <li class="slide">
                                <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-c-sm.jpg') }}" alt="Lakad ni Sammy"></a>
                                <div class="slide-info hide">
                                    <h3 class="movie-title">Lakad ni Sammy</h3>
                                    <div class="info-line">
                                        <a class="class-rating">R-18</a>
                                        <span class="year">2008</span>
                                        <span>&#x25cf;</span>
                                        <span class="runtime">84 min</span>
                                        <span class="genre">Drama</span>
                                        <div class="star-rating">
                                            <input class="star star-5" id="star-5-c" type="radio" name="star-c" checked disabled>
                                            <label class="star star-5" for="star-5-c"></label>
                                            <input class="star star-4" id="star-4-c" type="radio" name="star-c" disabled>
                                            <label class="star star-4" for="star-4-c"></label>
                                            <input class="star star-3" id="star-3-c" type="radio" name="star-c" disabled>
                                            <label class="star star-3" for="star-3-c"></label>
                                            <input class="star star-2" id="star-2-c" type="radio" name="star-c" disabled>
                                            <label class="star star-2" for="star-2-c"></label>
                                            <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                            <label class="star star-1" for="star-1-c"></label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="info-line">
                                        <div class="inline">
                                            <a class="portrait-md" href="#">
                                                <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                <span class="badge-star"></span>
                                            </a>
                                        </div>
                                        <div class="inline">
                                            <div>
                                                <span class="user-name">Joel Ruiz</span>
                                                <span class="user-role">Director</span>
                                                <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                            </div>
                                            <div><small><a href="#">View Profile</a></small></div>
                                        </div>
                                    </div>
                                    <div class="movie-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ab enim quis sapiente soluta. Tenetur ut unde qui suscipit dolorum accusantium quisquam eos, sapiente ducimus. Iste eveniet quam id reprehenderit.</p>
                                    </div>
                                    <div class="movie-notes">
                                        <a href="#">4 Notes</a>
                                    </div>
                                </div>
                            </li>
                            <li class="slide">
                                <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-e-sm.jpg') }}" alt="Putot"></a>
                                <div class="slide-info hide">
                                    <h3 class="movie-title">Putot</h3>
                                    <div class="info-line">
                                        <a class="class-rating">R-18</a>
                                        <span class="year">2008</span>
                                        <span>&#x25cf;</span>
                                        <span class="runtime">84 min</span>
                                        <span class="genre">Drama</span>
                                        <div class="star-rating">
                                            <input class="star star-5" id="star-5-c" type="radio" name="star-c" disabled>
                                            <label class="star star-5" for="star-5-c"></label>
                                            <input class="star star-4" id="star-4-c" type="radio" name="star-c" disabled>
                                            <label class="star star-4" for="star-4-c"></label>
                                            <input class="star star-3" id="star-3-c" type="radio" name="star-c" disabled>
                                            <label class="star star-3" for="star-3-c"></label>
                                            <input class="star star-2" id="star-2-c" type="radio" name="star-c" checked disabled>
                                            <label class="star star-2" for="star-2-c"></label>
                                            <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                            <label class="star star-1" for="star-1-c"></label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="info-line">
                                        <div class="inline">
                                            <a class="portrait-md" href="#">
                                                <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                <span class="badge-star"></span>
                                            </a>
                                        </div>
                                        <div class="inline">
                                            <div>
                                                <span class="user-name">Joel Ruiz</span>
                                                <span class="user-role">Director</span>
                                                <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                            </div>
                                            <div><small><a href="#">View Profile</a></small></div>
                                        </div>
                                    </div>
                                    <div class="movie-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ab enim quis sapiente soluta. Tenetur ut unde qui suscipit dolorum accusantium quisquam eos, sapiente ducimus. Iste eveniet quam id reprehenderit.</p>
                                    </div>
                                    <div class="movie-notes">
                                        <a href="#">5 Notes</a>
                                    </div>
                                </div>
                            </li>
                            <li class="slide">
                                <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-f-sm.jpg') }}" alt="Mansyon"></a>
                                <div class="slide-info hide">
                                    <h3 class="movie-title">Mansyon</h3>
                                    <div class="info-line">
                                        <a class="class-rating">R-18</a>
                                        <span class="year">2008</span>
                                        <span>&#x25cf;</span>
                                        <span class="runtime">84 min</span>
                                        <span class="genre">Drama</span>
                                        <div class="star-rating">
                                            <input class="star star-5" id="star-5-c" type="radio" name="star-c" checked disabled>
                                            <label class="star star-5" for="star-5-c"></label>
                                            <input class="star star-4" id="star-4-c" type="radio" name="star-c" disabled>
                                            <label class="star star-4" for="star-4-c"></label>
                                            <input class="star star-3" id="star-3-c" type="radio" name="star-c" disabled>
                                            <label class="star star-3" for="star-3-c"></label>
                                            <input class="star star-2" id="star-2-c" type="radio" name="star-c" disabled>
                                            <label class="star star-2" for="star-2-c"></label>
                                            <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                            <label class="star star-1" for="star-1-c"></label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="info-line">
                                        <div class="inline">
                                            <a class="portrait-md" href="#">
                                                <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                <span class="badge-star"></span>
                                            </a>
                                        </div>
                                        <div class="inline">
                                            <div>
                                                <span class="user-name">Joel Ruiz</span>
                                                <span class="user-role">Director</span>
                                                <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                            </div>
                                            <div><small><a href="#">View Profile</a></small></div>
                                        </div>
                                    </div>
                                    <div class="movie-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ab enim quis sapiente soluta. Tenetur ut unde qui suscipit dolorum accusantium quisquam eos, sapiente ducimus. Iste eveniet quam id reprehenderit.</p>
                                    </div>
                                    <div class="movie-notes">
                                        <a href="#">4 Notes</a>
                                    </div>
                                </div>
                            </li>
                            <li class="slide">
                                <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-c-sm.jpg') }}" alt="Lakad ni Sammy"></a>
                                <div class="slide-info hide">
                                    <h3 class="movie-title">Lakad ni Sammy</h3>
                                    <div class="info-line">
                                        <a class="class-rating">R-18</a>
                                        <span class="year">2008</span>
                                        <span>&#x25cf;</span>
                                        <span class="runtime">84 min</span>
                                        <span class="genre">Drama</span>
                                        <div class="star-rating">
                                            <input class="star star-5" id="star-5-c" type="radio" name="star-c" checked disabled>
                                            <label class="star star-5" for="star-5-c"></label>
                                            <input class="star star-4" id="star-4-c" type="radio" name="star-c" disabled>
                                            <label class="star star-4" for="star-4-c"></label>
                                            <input class="star star-3" id="star-3-c" type="radio" name="star-c" disabled>
                                            <label class="star star-3" for="star-3-c"></label>
                                            <input class="star star-2" id="star-2-c" type="radio" name="star-c" disabled>
                                            <label class="star star-2" for="star-2-c"></label>
                                            <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                            <label class="star star-1" for="star-1-c"></label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="info-line">
                                        <div class="inline">
                                            <a class="portrait-md" href="#">
                                                <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                <span class="badge-star"></span>
                                            </a>
                                        </div>
                                        <div class="inline">
                                            <div>
                                                <span class="user-name">Joel Ruiz</span>
                                                <span class="user-role">Director</span>
                                                <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                            </div>
                                            <div><small><a href="#">View Profile</a></small></div>
                                        </div>
                                    </div>
                                    <div class="movie-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ab enim quis sapiente soluta. Tenetur ut unde qui suscipit dolorum accusantium quisquam eos, sapiente ducimus. Iste eveniet quam id reprehenderit.</p>
                                    </div>
                                    <div class="movie-notes">
                                        <a href="#">4 Notes</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div id="recommendations-nav" class="slider-buttons vertical">
                            <button type="button" class="btn btn-default flex-next"><span class="pluckt-arrow-right"></span></button>
                            <button type="button" class="btn btn-default flex-prev"><span class="pluckt-arrow-left"></span></button>
                        </div>
                    </div>
                </section>
                <article class="slide-info" id="recommendations-slide-info"></article>
            </div>
        </div>
    </section>
    -->
    <!-- end recommendations section -->
    {% endif %}

    <!-- featured category -->
    {% for clist in clists %}
    <section class="grid" id="featured-category">
        <div class="section-header">
            <div class="section-title">
                <h3>{{ clist.getName }}</h3>
            </div>
        </div>
        <div class="shelf-row">
        {% for clist_video in clist.getVideos %}
            {% set movie = clist_video.getVideo %}
            {{ movie_macro.poster(movie) }}
        {% endfor %}
        </div>
    </section>
    {% endfor %}
    <!-- end featured category section -->

    <!-- cinemalaya -->
    <!--
    <section class="grid" id="cinemalaya">
        <div class="section-header">
            <div class="shelf-title">
                <h3>Cinemalaya 2014</h3>
            </div>
        </div>
        <div class="shelf-row">
            <section class="shelf col-xs-3">
                <div class="movie-poster">
                    <div class="poster">
                        <img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-d-xl.jpg') }}" alt="Baby Angelo">
                        <div class="overlay-white">
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque corporis, amet excepturi. Temporibus nostrum natus officia quasi quae recusandae nihil, in dolores praesentium ad amet, dignissimos unde quos similique impedit.
                                </p>
                                <div class="movie-actions">
                                    <a href="#"><span class="pluckt-circle-play"></span></a>
                                    {{ logo.menu() }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="movie-info">
                        <h4 class="movie-name">Baby Angelo</h4>
                        <div class="info-line">
                            <span class="user-name">Joel Ruiz</span>
                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                        </div>
                        <div class="info-line">
                            <a class="class-rating">R-18</a>
                            <span class="year">2008</span>
                            <span>&#x25cf;</span>
                            <span class="runtime">84 min</span>
                            <span class="genre">Drama</span>
                        </div>
                        <div class="movie-rating">
                            <div class="star-rating">
                                <input class="star star-5" id="star-5-b" type="radio" name="star-b" disabled>
                                <label class="star star-5" for="star-5-b"></label>
                                <input class="star star-4" id="star-4-b" type="radio" name="star-b" checked disabled>
                                <label class="star star-4" for="star-4-b"></label>
                                <input class="star star-3" id="star-3-b" type="radio" name="star-b" disabled>
                                <label class="star star-3" for="star-3-b"></label>
                                <input class="star star-2" id="star-2-b" type="radio" name="star-b" disabled>
                                <label class="star star-2" for="star-2-b"></label>
                                <input class="star star-1" id="star-1-b" type="radio" name="star-b" disabled>
                                <label class="star star-1" for="star-1-b"></label>
                            </div>
                        </div>
                        <div class="movie-notes">
                            <a href="#">2 Notes</a>
                        </div>
                    </div>
                    <div class="movie-status">
                        <div class="status-icons">
                            <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                            <a href="#"><span class="pluckt-comment inline"></span>200</a>
                            <a href="#"><span class="pluckt-share inline"></span>200</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="shelf col-xs-3">
                <div class="movie-poster">
                    <div class="poster">
                        <img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-c-xl.jpg') }}" alt="Lakad ni Sammy">
                        <div class="overlay-white">
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque corporis, amet excepturi. Temporibus nostrum natus officia quasi quae recusandae nihil, in dolores praesentium ad amet, dignissimos unde quos similique impedit.
                                </p>
                                <div class="movie-actions">
                                    <a href="#"><span class="pluckt-circle-play"></span></a>
                                    {{ logo.menu() }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="movie-info">
                        <h4 class="movie-name">Lakad ni Sammy</h4>
                        <div class="info-line">
                            <span class="user-name">Joel Ruiz</span>
                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                        </div>
                        <div class="info-line">
                            <a class="class-rating">R-18</a>
                            <span class="year">2008</span>
                            <span>&#x25cf;</span>
                            <span class="runtime">84 min</span>
                            <span class="genre">Drama</span>
                        </div>
                        <div class="movie-rating">
                            <div class="star-rating">
                                <input class="star star-5" id="star-5-b" type="radio" name="star-b" disabled>
                                <label class="star star-5" for="star-5-b"></label>
                                <input class="star star-4" id="star-4-b" type="radio" name="star-b" checked disabled>
                                <label class="star star-4" for="star-4-b"></label>
                                <input class="star star-3" id="star-3-b" type="radio" name="star-b" disabled>
                                <label class="star star-3" for="star-3-b"></label>
                                <input class="star star-2" id="star-2-b" type="radio" name="star-b" disabled>
                                <label class="star star-2" for="star-2-b"></label>
                                <input class="star star-1" id="star-1-b" type="radio" name="star-b" disabled>
                                <label class="star star-1" for="star-1-b"></label>
                            </div>
                        </div>
                        <div class="movie-notes">
                            <a href="#">2 Notes</a>
                        </div>
                    </div>
                    <div class="movie-status">
                        <div class="status-icons">
                            <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                            <a href="#"><span class="pluckt-comment inline"></span>200</a>
                            <a href="#"><span class="pluckt-share inline"></span>200</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="shelf col-xs-3">
                <div class="movie-poster">
                    <div class="poster">
                        <img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-e-xl.jpg') }}" alt="Putot">
                        <div class="overlay-white">
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque corporis, amet excepturi. Temporibus nostrum natus officia quasi quae recusandae nihil, in dolores praesentium ad amet, dignissimos unde quos similique impedit.
                                </p>
                                <div class="movie-actions">
                                    <a href="#"><span class="pluckt-circle-play"></span></a>
                                    {{ logo.menu() }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="movie-info">
                        <h4 class="movie-name">Putot</h4>
                        <div class="info-line">
                            <span class="user-name">Joel Ruiz</span>
                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                        </div>
                        <div class="info-line">
                            <a class="class-rating">R-18</a>
                            <span class="year">2008</span>
                            <span>&#x25cf;</span>
                            <span class="runtime">84 min</span>
                            <span class="genre">Drama</span>
                        </div>
                        <div class="movie-rating">
                            <div class="star-rating">
                                <input class="star star-5" id="star-5-b" type="radio" name="star-b" disabled>
                                <label class="star star-5" for="star-5-b"></label>
                                <input class="star star-4" id="star-4-b" type="radio" name="star-b" checked disabled>
                                <label class="star star-4" for="star-4-b"></label>
                                <input class="star star-3" id="star-3-b" type="radio" name="star-b" disabled>
                                <label class="star star-3" for="star-3-b"></label>
                                <input class="star star-2" id="star-2-b" type="radio" name="star-b" disabled>
                                <label class="star star-2" for="star-2-b"></label>
                                <input class="star star-1" id="star-1-b" type="radio" name="star-b" disabled>
                                <label class="star star-1" for="star-1-b"></label>
                            </div>
                        </div>
                        <div class="movie-notes">
                            <a href="#">2 Notes</a>
                        </div>
                    </div>
                    <div class="movie-status">
                        <div class="status-icons">
                            <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                            <a href="#"><span class="pluckt-comment inline"></span>200</a>
                            <a href="#"><span class="pluckt-share inline"></span>200</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="shelf col-xs-3">
                <div class="movie-poster">
                    <div class="poster">
                        <img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-f-xl.jpg') }}" alt="Mansyon">
                        <div class="overlay-white">
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque corporis, amet excepturi. Temporibus nostrum natus officia quasi quae recusandae nihil, in dolores praesentium ad amet, dignissimos unde quos similique impedit.
                                </p>
                                <div class="movie-actions">
                                    <a href="#"><span class="pluckt-circle-play"></span></a>
                                    {{ logo.menu() }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="movie-info">
                        <h4 class="movie-name">Mansyon</h4>
                        <div class="info-line">
                            <span class="user-name">Joel Ruiz</span>
                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                        </div>
                        <div class="info-line">
                            <a class="class-rating">R-18</a>
                            <span class="year">2008</span>
                            <span>&#x25cf;</span>
                            <span class="runtime">84 min</span>
                            <span class="genre">Drama</span>
                        </div>
                        <div class="movie-rating">
                            <div class="star-rating">
                                <input class="star star-5" id="star-5-b" type="radio" name="star-b" disabled>
                                <label class="star star-5" for="star-5-b"></label>
                                <input class="star star-4" id="star-4-b" type="radio" name="star-b" checked disabled>
                                <label class="star star-4" for="star-4-b"></label>
                                <input class="star star-3" id="star-3-b" type="radio" name="star-b" disabled>
                                <label class="star star-3" for="star-3-b"></label>
                                <input class="star star-2" id="star-2-b" type="radio" name="star-b" disabled>
                                <label class="star star-2" for="star-2-b"></label>
                                <input class="star star-1" id="star-1-b" type="radio" name="star-b" disabled>
                                <label class="star star-1" for="star-1-b"></label>
                            </div>
                        </div>
                        <div class="movie-notes">
                            <a href="#">2 Notes</a>
                        </div>
                    </div>
                    <div class="movie-status">
                        <div class="status-icons">
                            <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                            <a href="#"><span class="pluckt-comment inline"></span>200</a>
                            <a href="#"><span class="pluckt-share inline"></span>200</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    -->
    <!-- end cinemalaya section -->

    <!-- most activity -->
    <!--
    <section class="grid" id="most-activity">
        <div class="row">
            <div class="col-xs-6">
                <div class="section-header">
                    <div class="section-title">
                        <h3>Most Shared This Week</h3>
                    </div>
                    <div class="section-controls">
                        <a href="#">See More</a>
                    </div>
                </div>
                <div class="shelf-row">
    -->
                    <!-- most shared -->
    <!--
                    <section class="shelf col-xs-12" id="most-shared">
                        <div class="movie-poster">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="poster">
                                        <img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-d-xl.jpg') }}" alt="Baby Angelo">
                                        <div class="overlay-white">
                                            <div>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque corporis, amet excepturi. Temporibus nostrum natus officia quasi quae recusandae nihil, in dolores praesentium ad amet, dignissimos unde quos similique impedit.
                                                </p>
                                                <div class="movie-actions">
                                                    <a href="#"><span class="pluckt-circle-play"></span></a>
                                                    {{ logo.menu() }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="poster-info col-xs-6">
                                    <div class="movie-info">
                                        <h4 class="movie-name">Baby Angelo</h4>
                                        <div class="info-line">
                                            <a class="class-rating">R-18</a>
                                            <span class="year">2008</span>
                                            <span>&#x25cf;</span>
                                            <span class="runtime">84 min</span>
                                            <span class="genre">Drama</span>
                                        </div>
                                        <div class="movie-rating">
                                            <div class="star-rating">
                                                <input class="star star-5" id="star-5-b" type="radio" name="star-b" disabled>
                                                <label class="star star-5" for="star-5-b"></label>
                                                <input class="star star-4" id="star-4-b" type="radio" name="star-b" checked disabled>
                                                <label class="star star-4" for="star-4-b"></label>
                                                <input class="star star-3" id="star-3-b" type="radio" name="star-b" disabled>
                                                <label class="star star-3" for="star-3-b"></label>
                                                <input class="star star-2" id="star-2-b" type="radio" name="star-b" disabled>
                                                <label class="star star-2" for="star-2-b"></label>
                                                <input class="star star-1" id="star-1-b" type="radio" name="star-b" disabled>
                                                <label class="star star-1" for="star-1-b"></label>
                                            </div>
                                        </div>
                                        <div class="movie-notes">
                                            <a href="#">2 Notes</a>
                                        </div>
                                        <hr>
                                        <div class="info-line">
                                            <div class="inline">
                                                <a class="portrait-md" href="#">
                                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                                    <span class="badge-star"></span>
                                                </a>
                                            </div>
                                            <div class="inline">
                                                <div>
                                                    <span class="user-name">Joel Ruiz</span>
                                                    <span class="user-role">Director</span>
                                                    <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                                </div>
                                                <div><small><a href="#">View Profile</a></small></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="movie-status">
                                        <div class="status-icons lg">
                                            <a href="#"><span class="pluckt-share inline"></span></a>
                                            <div class="pull-right text-right">
                                                <div><a class="action-link" href="#">2000</a></div>
                                                <div><small class="text-uppercase">Shares</small></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
    -->
                    <!-- end most shared section -->
    <!--
                </div>
            </div>
            <div class="col-xs-6">
                <div class="section-header">
                    <div class="section-title">
                        <h3>Most Talked About This Week</h3>
                    </div>
                    <div class="section-controls">
                        <a href="#">See More</a>
                    </div>
                </div>
                <div class="shelf-row">
    -->
                    {% if top_talk != null %}
                    {% set movie = top_talk %}
                    <!-- most shared -->
    <!--
                    <section class="shelf col-xs-12" id="most-talked-about">
                        <div class="movie-poster">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="poster">
                                        <img src="{{ movie.getPoster.getURL|default('') }}" alt="{{ movie.getTitle|default('') }}">
                                        <div class="overlay-white">
                                            <div>
                                                <p>
                                                    {{ movie ? movie.getDescription }}
                                                </p>
                                                <div class="movie-actions">
                                                    <a href="{{ movie ? path('pluckt_client_movie_player', {'id': movie.getID}) }}"><span class="pluckt-circle-play"></span></a>
                                                    {{ logo.menu() }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="poster-info col-xs-6">
                                    <div class="movie-info">
                                        <h4 class="movie-name">{{ movie.getTitle }}</h4>
                                        <div class="info-line">
                                            <a class="class-rating">{{ movie.getRatingID }}</a>
                                            <span class="year">{{ movie.getYearProduced }}</span>
                                            <span>&#x25cf;</span>
                                            <span class="runtime">{{ movie.getMinutes }} min</span>
                                            <span class="genre">{{ movie.getCategoriesText }}</span>
                                        </div>
                                        <div class="movie-rating">
                                            {{ rating.star(movie ? movie.getAvgRating|round(0, 'floor') : 0, movie ? random() : 'shelf-item') }}
                                        </div>
                                        <div class="movie-notes">
                                            <a href="#">2 Notes</a>
                                        </div>
                                        <hr>
                                        {% set director = movie.getDirector.getUser %}
                                        <div class="info-line">
                                            <div class="inline">
                                                <a class="portrait-md" href="#">
                                                    <img src="{{ director.getProfilePic.getURL|default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ director.getFullName|default('') }}" alt="{{ director.getFullName|default('') }}">
                                                    <span class="badge-star"></span>
                                                </a>
                                            </div>
                                            <div class="inline">
                                                <div>
                                                    <span class="user-name">{{ director.getFullName|default('') }}</span>
                                                    <span class="user-role">Director</span>
                                                    <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ director.getCountry|default('PH') ~ '.png') }}" alt="{{ director.getCountryLabel|default('Philippines') }}" title="{{ director.getCountryLabel|default('Philippines') }}"></span>
                                                </div>
                                                <div><small><a href="{{ path('pluckt_client_user_profile_view', {'id': director.getID }) }}">View Profile</a></small></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="movie-status">
                                        <div class="status-icons lg">
                                            <a href="#"><span class="pluckt-comment inline"></span></a>
                                            <div class="pull-right text-right">
                                                <div><a class="action-link" href="#">{{ counter.getScore('talk', movie, 'all') }}</a></div>
                                                <div><small class="text-uppercase">Comments and Reviews</small></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
    -->
                    {% endif %}
                    <!-- end most shared section -->
    <!--
                </div>
            </div>
        </div>
    </section>
    -->
    <!-- end most activity section -->

    <!-- staff picks -->
    {% for pick in picks %}
    <section class="grid" id="staff-picks">
        <div class="section-header">
            <div class="section-title">
                <h3>{{ pick.getName }}</h3>
            </div>
            <div class="section-controls">
            <!--
                <select class="form-control" id="staff-picks-category">
                    <option value="today">Popular Today</option>
                </select>
            -->
            </div>
        </div>
        <div class="row">
            <div class="poster col-xs-3">
                <a href="#"><img id="staff-picks-poster" src="" alt=""></a>
                <div class="poster-controls">
                    <!--<button class="button action-button small"><div>Pluckt <span class="pluckt-logo"></span></div></button>-->
                </div>
            </div>
            <div class="col-xs-9">
                <section class="slider">
                    <div class="flexslider side-nav">
                        <ul class="slides">
                            {% for pickvid in pick.getVideos %}
                            {% set vid = pickvid.getVideo %}
                            {% set starname = 'star-' ~ pick.getID ~ '-' ~ vid.getID %}
                            <li class="slide">
                                <a href="{{ path('pluckt_client_movie_details', {'id': vid.getID}) }}"><img src="{{ vid.getPoster.getURL|default('') }}" alt="{{ vid.getTitle|default('') }}"></a>
                                <div class="slide-number">{{ loop.index }}</div>
                                <div class="slide-info hide">
                                    <h3 class="movie-title"><a title="View movie page" href="{{ path('pluckt_client_movie_details', {'id': vid.getID}) }}">{{ vid.getTitle|default('') }}</a></h3>
                                    <div class="info-line">
                                        <a class="class-rating">{{ vid.getRatingID|default('') }}</a>
                                        <span class="year">{{ vid.getYearProduced|default('') }}</span>
                                        <span>&#x25cf;</span>
                                        <span class="runtime">{{ vid.getMinutes|default('') }} min</span>
                                        <span class="genre">{{ vid.getCategoriesText|default('') }}</span>
                                        <div class="star-rating">
                                            <input class="star star-5" id="{{ starname }}-5" type="radio" name="{{ starname }}" disabled>
                                            <label class="star star-5" for="{{ starname }}-5"></label>
                                            <input class="star star-4" id="{{ starname }}-4" type="radio" name="{{ starname }}" checked disabled>
                                            <label class="star star-4" for="{{ starname }}-4"></label>
                                            <input class="star star-3" id="{{ starname }}-3" type="radio" name="{{ starname }}" disabled>
                                            <label class="star star-3" for="{{ starname }}-3"></label>
                                            <input class="star star-2" id="{{ starname }}-2" type="radio" name="{{ starname }}" disabled>
                                            <label class="star star-2" for="{{ starname }}-2"></label>
                                            <input class="star star-1" id="{{ starname }}-1" type="radio" name="{{ starname }}" disabled>
                                            <label class="star star-1" for="{{ starname }}-1"></label>
                                        </div>
                                    </div>
                                    <hr>
                                    {% set director = vid.getDirector.getUser | default(null) %}
                                    <div class="info-line">
                                        <div class="inline">
                                            <a class="portrait-md" href="{{ path('pluckt_client_user_profile_view', {'id': director.getID}) }}">
                                                <img src="{{ director.getProfilePic.getURL|default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ director.getFullName|default('') }}" alt="{{ director.getFullName|default('') }}">
                                                <span class="badge-star"></span>
                                            </a>
                                        </div>
                                        <div class="inline">
                                            <div>
                                                <span class="user-name">{{ director.getFullName|default('') }}</span>
                                                <span class="user-role">Director</span>
                                                <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ director.getCountry|default('PH') ~ '.png') }}" alt="{{ director.getCountryLabel|default('Philippines') }}" title="{{ director.getCountryLabel|default('Philippines') }}"></span>
                                            </div>
                                            <div><small><a href="{{ path('pluckt_client_user_profile_view', {'id': director.getID}) }}">View Profile</a></small></div>
                                        </div>
                                    </div>
                                    <div class="movie-description">
                                        <p>
                                        {{ vid.getDescription|default('') }}
                                        </p>
                                    </div>
                                    <div class="movie-notes">
                                        <a href="{{ path('pluckt_client_movie_notes', {'movie': vid.getID }) }}">{{ vid.getFieldNotes.count }} Notes</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <div id="staff-picks-nav" class="slider-buttons vertical">
                            <button type="button" class="btn btn-default flex-next"><span class="pluckt-arrow-right"></span></button>
                            <button type="button" class="btn btn-default flex-prev"><span class="pluckt-arrow-left"></span></button>
                        </div>
                    </div>
                </section>
                <article class="slide-info" id="staff-picks-slide-info"></article>
            </div>
        </div>
    </section>
    {% endfor %}
    <!-- end staff picks section -->

    {% if featured_note != null or second_note != null %}
    <!-- field notes -->
    <section class="grid" id="field-notes">
        <div class="section-header">
            <div class="section-title">
                <h3>Field Notes</h3>
            </div>
        </div>
        <div class="row">
            {% if featured_note != null %}
            {% set fn_user = featured_note.getUser %}
            <article class="article-summary">
                <img src="{{ featured_note.getImage.getURL }}" alt="{{ featured_note.getVideo.getName }}">
                <div class="post-time">{{ featured_note.getDateCreate|date('n/j/Y') }}</div>
                <h3 class="note-title"><a href="{{ path('pluckt_client_note_read', {'id': featured_note.getID}) }}">{{ featured_note.getName }}</a></h3>
                <div class="info-line">
                    <div class="inline">
                        <a class="portrait-md" href="{{ path('pluckt_client_user_profile_view', {'id': fn_user.getID|default('0')}) }}">
                            <img src="{{ fn_user.getProfilePic.getURL|default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ fn_user.getFullName|default('') }}" alt="{{ fn_user.getFullName|default('') }}">
                            <span class="badge-star"></span>
                        </a>
                    </div>
                    <div class="inline">
                        <div>
                            <span class="user-name">{{ fn_user.getFullName|default('') }}</span>
                            <span class="user-role">{{ fn_user.getArtist.getTypesText|default('') }}</span>
                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ fn_user.getCountry|default('PH') ~ '.png') }}" alt="{{ fn_user.getCountryLabel|default('Philippines') }}" title="{{ fn_user.getCountryLabel|default('Philippines') }}"></span>
                        </div>
                        <div><small><a href="{{ path('pluckt_client_user_profile_view', {'id': fn_user.getID|default('0')}) }}">View Profile</a></small></div>
                    </div>
                </div>
            </article>
            {% endif %}
            {% if second_note != null %}
            {% set fn_user = second_note.getUser %}
            <article class="article-summary">
                <img src="{{ second_note.getImage.getURL }}" alt="{{ second_note.getVideo.getName }}">
                <div class="post-time">{{ second_note.getDateCreate|date('n/j/Y') }}</div>
                <h3 class="note-title"><a href="{{ path('pluckt_client_note_read', {'id': second_note.getID}) }}">{{ second_note.getName }}</a></h3>
                <div class="info-line">
                    <div class="inline">
                        <a class="portrait-md" href="{{ path('pluckt_client_user_profile_view', {'id': fn_user.getID|default('0')}) }}">
                            <img src="{{ fn_user.getProfilePic.getURL|default(asset('bundles/plucktclienttemplate/images/no-profile.gif')) }}" title="{{ fn_user.getFullName|default('') }}" alt="{{ fn_user.getFullName|default('') }}">
                            <span class="badge-star"></span>
                        </a>
                    </div>
                    <div class="inline">
                        <div>
                            <span class="user-name">{{ fn_user.getFullName|default('') }}</span>
                            <span class="user-role">{{ fn_user.getArtist.getTypesText|default('') }}</span>
                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/' ~ fn_user.getCountry|default('PH') ~ '.png') }}" alt="{{ fn_user.getCountryLabel|default('Philippines') }}" title="{{ fn_user.getCountryLabel|default('Philippines') }}"></span>
                        </div>
                        <div><small><a href="{{ path('pluckt_client_user_profile_view', {'id': fn_user.getID|default('0')}) }}">View Profile</a></small></div>
                    </div>
                </div>
            </article>
            {% endif %}
        </div>
    </section>
    <!-- end field notes section -->
    {% endif %}
</main>
<!-- end content -->
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('bundles/plucktclienttemplate/css/flexslider.css') }}">
{% endblock %}

{% block js %}
<script src="{{ asset('bundles/plucktclienttemplate/js/vendor/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/vendor/jquery.plugin.min.js') }}"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/vendor/jquery.countdown.min.js') }}"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/pages/movie-category.js') }}"></script>
{% endblock %}
