{% extends "PlucktClientTemplateBundle::base.html.twig" %}
{% import "PlucktTemplateBundle::form.html.twig" as form %}
{% import "PlucktClientBundle::macro.movie.html.twig" as mm %}

{% block title %}Pluckt - {{ genre.getName }} Movies{% endblock %}

{% block content %}
<!-- content -->
<main role="main">
    <!-- page header -->
    <div class="grid top-section">
        <div class="section-header">
            <div class="section-title">
                <h2>{{ genre.getName }}</h2>
            </div>
        </div>
    </div>
    <!-- end page header -->

    <!-- list of movies -->
    <div class="grid" id="movies">
        <div class="section-header">
            <div class="section-filters">
                <div class="col-xs-3">
                    <select class="form-control list-filter" id="movie-country">
                        <option value="">All Countries</option>
                        {{ form.options(countries, null) }}
                    </select>
                </div>
                <div class="col-xs-6">
                    <input type="text" id="movie-name" class="form-control list-filter" placeholder="Start typing a name...">
                </div>
            </div>
            <!--
            <div class="row-letter"><h3>J</h3></div>
            -->
            <div class="shelf-row grid-view">
                {% set fl = '' %}
                {% for movie in movies %}
                {% if movie.getName|first|upper != fl %}
                {% set fl = movie.getName|first|upper %}
                <div class="row-letter"><h3>{{ fl }}</h3></div>
                {% endif %}
                {{ mm.poster(movie) }}
                {% endfor %}

                <!--
                <div class="person-column">
                    <div class="person-block">
                        <div class="person-info">
                            <div class="person-portrait">
                                <a class="portrait-box" href="#">
                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-lg.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                    <div class="badge-star"></div>
                                </a>
                            </div>
                            <div class="person-details">
                                <div class="user-name">Joel Ruiz</div>
                                <div class="user-role">Director</div>
                                <div class="user-location">Manila, Philippines <img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></div>
                                <button class="button btn-follow btn-follow-grid">Following</button>
                            </div>
                        </div>
                        <hr>
                        <div class="person-social">
                            <div>
                                <h5>Filmography</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Notes</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Following</h5>
                                <span class="counter">1414</span>
                            </div>
                            <div>
                                <h5>Followers</h5>
                                <span class="counter">176K</span>
                            </div>
                        </div>
                        <button class="button btn-follow btn-follow-list">Following</button>
                    </div>
                </div>

                <div class="person-column">
                    <div class="person-block">
                        <div class="person-info">
                            <div class="person-portrait">
                                <a class="portrait-box" href="#">
                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-lg.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                    <div class="badge-star"></div>
                                </a>
                            </div>
                            <div class="person-details">
                                <div class="user-name">Joel Ruiz</div>
                                <div class="user-role">Director</div>
                                <div class="user-location">Manila, Philippines <img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></div>
                                <button class="button action-button btn-follow btn-follow-grid">Follow</button>
                            </div>
                        </div>
                        <hr>
                        <div class="person-social">
                            <div>
                                <h5>Filmography</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Notes</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Following</h5>
                                <span class="counter">1414</span>
                            </div>
                            <div>
                                <h5>Followers</h5>
                                <span class="counter">176K</span>
                            </div>
                        </div>
                        <button class="button action-button btn-follow btn-follow-list">Follow</button>
                    </div>
                </div>

                <div class="person-column">
                    <div class="person-block">
                        <div class="person-info">
                            <div class="person-portrait">
                                <a class="portrait-box" href="#">
                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-lg.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                    <div class="badge-star"></div>
                                </a>
                            </div>
                            <div class="person-details">
                                <div class="user-name">Joel Ruiz</div>
                                <div class="user-role">Director</div>
                                <div class="user-location">Manila, Philippines <img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></div>
                                <button class="button action-button btn-follow btn-follow-grid">Follow</button>
                            </div>
                        </div>
                        <hr>
                        <div class="person-social">
                            <div>
                                <h5>Filmography</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Notes</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Following</h5>
                                <span class="counter">1414</span>
                            </div>
                            <div>
                                <h5>Followers</h5>
                                <span class="counter">176K</span>
                            </div>
                        </div>
                        <button class="button action-button btn-follow btn-follow-list">Follow</button>
                    </div>
                </div>

                <div class="person-column">
                    <div class="person-block">
                        <div class="person-info">
                            <div class="person-portrait">
                                <a class="portrait-box" href="#">
                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-lg.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                    <div class="badge-star"></div>
                                </a>
                            </div>
                            <div class="person-details">
                                <div class="user-name">Joel Ruiz</div>
                                <div class="user-role">Director</div>
                                <div class="user-location">Manila, Philippines <img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></div>
                                <button class="button action-button btn-follow btn-follow-grid">Follow</button>
                            </div>
                        </div>
                        <hr>
                        <div class="person-social">
                            <div>
                                <h5>Filmography</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Notes</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Following</h5>
                                <span class="counter">1414</span>
                            </div>
                            <div>
                                <h5>Followers</h5>
                                <span class="counter">176K</span>
                            </div>
                        </div>
                        <button class="button action-button btn-follow btn-follow-list">Follow</button>
                    </div>
                </div>

                <div class="person-column">
                    <div class="person-block">
                        <div class="person-info">
                            <div class="person-portrait">
                                <a class="portrait-box" href="#">
                                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-lg.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                    <div class="badge-star"></div>
                                </a>
                            </div>
                            <div class="person-details">
                                <div class="user-name">Joel Ruiz</div>
                                <div class="user-role">Director</div>
                                <div class="user-location">Manila, Philippines <img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></div>
                                <button class="button action-button btn-follow btn-follow-grid">Follow</button>
                            </div>
                        </div>
                        <hr>
                        <div class="person-social">
                            <div>
                                <h5>Filmography</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Notes</h5>
                                <span class="counter">10</span>
                            </div>
                            <div>
                                <h5>Following</h5>
                                <span class="counter">1414</span>
                            </div>
                            <div>
                                <h5>Followers</h5>
                                <span class="counter">176K</span>
                            </div>
                        </div>
                        <button class="button action-button btn-follow btn-follow-list">Follow</button>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
    <!-- end list of artists section -->
</main>
<!-- end content -->
{% endblock %}

{% block js %}
<script src="{{ asset('bundles/plucktclienttemplate/js/vendor/jquery-ui.min.js') }}"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/pages/movie-list.js') }}"></script>
{% endblock %}
