{{ form.group_datepicker('Date', 'date_create', o.getDateCreate.format("Y-m-d h:i A")|default("now"|date("Y-m-d h:i A")), 3, 7) }}
{{ form.group_text('Name', 'name', o.getName, 3, 7) }}
{{ form.group_select('Video', 'video_id', video_opts, o.getVideo.getID|default(''), 3, 7) }}
{{ form.group_select('Author', 'user_id', user_opts, o.getUser.getID|default(''), 3, 7) }}
{{ form.group_text('Template', 'template', o.getTemplate, 3, 7) }}
{{ form.group_textarea('Description', 'description', o.getDescription, 5, 3, 7) }}
{{ form.group_textarea('Body', 'body', o.getBody, 25, 3, 7) }}
{{ upload.group_upload('Image', 'image_id', o.getImage.getURL|default(''), o.getImage.getURL|default(''), o.getImage.getID|default('0'), 3, 7) }}
 