// Pluckt CSS 2015

@import "mixins";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "bootstrap";

// fonts and icons
$base-font:                    'Roboto', sans-serif;
$icon-font:                    'pluckt-icons';
$quote-font:                   Arial, 'Helvetica Neue', Helvetica, sans-serif;
$icon-font-size:               20px;
$icon-hero-font-size:          100px;
$icon-large-font-size:         34px;
$icon-med-font-size:           30px;
$icon-small-font-size:         16px;
$icon-smaller-font-size:       10px;
$icon-tiny-font-size:          8px;

// font size and weight
$base-font-size:               14px;
$giant-font-size:              74px;
$hero-font-size:               60px;
$cover-font-size:              48px;
$banner-long-text-font-size:   36px;
$featured-title-font-size:     30px;
$sub-head-font-size:           24px;
$title-font-size:              20px;
$sub-title-font-size:          18px;
$med-font-size:                16px;
$slider-font-size:             13px;
$small-font-size:              12px;
$tiny-font-size:               11px;
$badge-font-size:              9px;
$light-font-weight:            300;
$normal-font-weight:           400;
$semibold-font-weight:         500;
$bold-font-weight:             700;

// colors
$page-bg-color:                #fff;
$dim-bg-color:                 #1d1d1d;
$highlight-color:              #2ab574;
$warning-color:                #d0402f;
$warning-hover-color:          #b03628;
$inverse-font-color:           #fff;
$inverse-link-hover-color:     #ccc;
$light-font-color:             #999;
$lighter-font-color:           #ccc;
$divider-dim-color:            #fff;
$content-nav-border-color:     #e6e6e6;
$action-color:                 #15ad66;
$action-button-hover-bg-color: #21905c;
$aux-color:                    #7a7a7a;
$aux-button-hover-bg-color:    #5d5d5d;
$footnote-color:               #b2b2b1;

$row-border-color:             #e5e5e5;
$activity-border-color:        #cbcbcc;
$activity-title-color:         #0d0805;
$activity-body-color:          #666;
$comments-bg-color:            #f4f4f5;

$input-box-footer-bg-color:    #f3f3f3;

$button-font-color:            #787878;
$button-border-color:          #e7e6e6;

$status-button-color:          #989797;
$status-button-bg-color:       #e8eae5;
$status-button-hover-bg-color: #b2b2b1;

$banner-dim-link-color:        #646464;
$banner-bg-color:              #000;
$banner-main-tag-bg-color:     #111;
$banner-countdown-color:       #61f565;

$star-light-on-color:          #b2b2b1;
$star-light-off-color:         #e7e6e8;
$star-dark-on-color:           #b2b2b1;
$star-dark-off-color:          #666;

$tag-bg-color:                 #dedede;

$box-shadow-color:             #000;
$box-light-shadow-color:       #999;
$text-shadow-color:            #000;

$footer-link-color:            #666;
$footer-border-color:          #ebebec;
$footer-bg-color:              #e6e5e8;

$facebook-color:               #415995;
$facebook-hover-color:         #2f4273;
$twitter-color:                #39cfe0;
$twitter-hover-color:          #2b9ba8;
$google-color:                 #f03530;
$google-hover-color:           #c22f2b;

$featured-note-bg-color:       #f9f9f9;

// rating bar colors
$rating-curator-5-bg-color:    #49ca8e;
$rating-curator-4-bg-color:    #51d799;
$rating-curator-3-bg-color:    #60e4a7;
$rating-curator-2-bg-color:    #7cf0ba;
$rating-curator-1-bg-color:    #b8f5d0;
$rating-user-5-bg-color:       #737373;
$rating-user-4-bg-color:       #878787;
$rating-user-3-bg-color:       #a5a5a5;
$rating-user-2-bg-color:       #bababa;
$rating-user-1-bg-color:       #d4d4d4;

// fixed heights
$info-line-height:             60px;
$header-search-height:         35px;

// image dimensions
$video-thumb-width:            160px;
$video-thumb-height:           100px;

// portrait sizes
$portrait-sm:                  35px;
$portrait-md:                  45px;
$portrait-lg:                  160px;
$portrait-xl:                  270px;

$portrait-home:                80px;
$portrait-cast-crew:           112px;
$portrait-modal-grid:          95px;
$portrait-user-grid:           150px;
$portrait-featured:            200px;

// layers
.dim-overlay                                    { z-index: 10; }
.bright-overlay                                 { z-index: 10; }
.form-divider .divider-label                    { z-index: 10; }
.slider-buttons                                 { z-index: 20; }
.full-video .slides video                       { z-index: 1; }
.full-video .slides .caption,
.full-video .slides .filmmaker                  { z-index: 30; }
.page-down                                      { z-index: 40; }
.loading-pane                                   { z-index: 1000; }
.block .block-bg                                { z-index: 1; }
.block > .container                             { z-index: 10; }
.block.cover.dim .container-fluid               { z-index: 10; }
header nav .navbar-nav > li .dropdown-menu      { z-index: 500; }
.progress                                       { z-index: 10; }
.dropdown-menu                                  { z-index: 2000; }

[class^="overlay-"],
[class*=" overlay-"]                            { z-index: 1000; }

// basics
body {
  display: flex;
  flex-direction: column;
  font-family: $base-font;
  height: 100vh;
  min-height: 100vh;
}

header {
  flex-shrink: 0;

  .dropdown-menu {
    margin-top: -20px !important;
  }

  nav {
    @include opacity(.8);
    font-weight: $bold-font-weight;
    text-transform: uppercase;

    .navbar-brand {
      padding: 10px 0 10px 15px;
    }

    [class^="pluckt-"],
    [class*=" pluckt-"] {
      @include rem('font-size', $icon-font-size);
    }

    .navbar-nav {
      >li {
        height: $navbar-height;
        margin-left: 30px;
        position: relative;

        &.icon {
          a {
            position: relative;

            &:focus {
              background-color: transparent !important;
              color: $action-color !important;
            }
          }
        }

        &.nav-btn {
          .btn {
            padding: 10px 15px;
          }

          + .nav-btn {
            margin-left: 10px;
          }
        }

        >a {
          @include vcenter;
        }

        [class^="portrait-"],
        [class*=" portrait-"] {
          margin-right: 5px;
          padding: 0;
        }

        .btn-icon {
          color: $inverse-font-color;
        }
        
        form {
          height: 100%;

          button {
            .pluckt-search:before {
              vertical-align: baseline;
            }
          }

          input[type='text'] {
            @include vcenter;
            @include opacity(.8);
            border: 0;
            height: $header-search-height;
            width: calc(100% - 40px);
          }
        }
      }
    }
  }
}

main {
  display: block;
  flex: 1 0 auto;

  .banner {
    &:not(.flush) {
      margin-bottom: 25px;
    }
  }

  .content-menu {
    @extend .navbar;
    @extend .navbar-default;
    background-color: transparent;
    border-bottom: 2px solid $content-nav-border-color;
    margin-bottom: 0;
    margin-top: $navbar-height;
    min-height: 0;

    .nav {
      li {
        margin-bottom: -2px;

        a {
          @include rem('font-size', $title-font-size);
          font-weight: $normal-font-weight;
          padding: 20px 30px;
          text-transform: uppercase;

          &:hover,
          &:focus {
            background-color: inherit !important;
            border-bottom: 2px solid $action-color;
            color: $action-color !important;
          }
        }

        &.active a {
          background-color: transparent;
          border-bottom: 2px solid $action-color;
          color: $action-color;

          &:hover {
            background-color: inherit;
            color: $action-color;
          }
        }
      }
    }
  }
}

.page-footer {
  flex-shrink: 0;
  margin-top: 50px;
  border-top: 1px solid $footer-border-color;
  background-color: $footer-bg-color;
  color: $light-font-color;
  @include rem('font-size', $small-font-size);

  >.container {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .navbar-nav > li {
    height: auto;
    margin-left: 20px;

    >a {
      color: $footer-link-color;
      padding: 0;
      text-transform: uppercase;

      &:hover {
        background-color: inherit;
        text-decoration: underline;
      }
    }
  }

  .copyright {
    @include rem('font-size', $tiny-font-size);
  }
}

.sidebar {
  @include make-xs-column(3);

  .status-icons {
    margin-bottom: 30px;
  }

  .portraits-row {
    text-align: left !important;
  }
}

// basic section blocks
.section-header {
  @include make-row();

  .section-filters {
    align-items: center;
    display: flex;
    flex-flow: row;
    margin: 20px 0 40px;

    a {
      color: $lighter-font-color;

      &:hover {
        color: $light-font-color;
      }

      &.active {
        color: $action-color;
      }

      >[class^="pluckt-"],
      >[class*=" pluckt-"] {
        @include rem('font-size', $icon-med-font-size);
      }
    }
  }

  .section-title {
    @include make-xs-column(8);

    >h3 {
      text-transform: uppercase;
    }

    small {
      color: $light-font-color;
      margin-left: 20px;
      text-transform: none;
    }
  }

  .section-controls {
    @include make-xs-column(4);
    text-align: right;

    .btn-icon {
      @include rem('font-size', $icon-large-font-size);
      color: $action-color;

      &:hover {
        color: $link-hover-color;
      }
    }

    .portraits-list {
      display: inline-block;
      float: right;
    }

    >a {
      display: block;
      margin-top: 27px;
    }
  }
}

// for smaller headers
.col-xs-6 {
  .section-title {
    @include make-xs-column(10);
  }

  .section-controls {
    @include make-xs-column(2);
  }
}

.section-info {
  @include make-row();

  >.info-line {
    @include make-xs-column(12);

    >.status-icons {
      float: right;
      margin-top: 0;

      a {
        color: $inverse-link-hover-color;

        &:hover {
          color: $text-color;
        }
      }
    }
  }
}

.article-summary {
  @include make-xs-column(6);

  >img:first-child {
    margin-bottom: 25px;
    width: 100%;
  }
}

.post-time {
  @include rem('font-size', $tiny-font-size);
  color: $light-font-color;
}

// activities section
.activities {
  padding-top: 10px;

  &:not(.fluid) {
    @extend .container;
  }

  [class*="portrait-"] img {
    @include box-shadow($box-light-shadow-color 1px 1px 3px);
  }

  .activity {
    @include make-row();
    border-bottom: 1px solid $row-border-color;
    border-top: 1px solid $row-border-color;

    + .activity {
      border-top: 0;
    }

    >[class*="activity-"] {
      padding-bottom: 35px;
      padding-top: 35px;
    }

    &.comments {
      background-color: $comments-bg-color;
      margin-top: -1px;

      >.comments-list {
        @include make-xs-column(10);
        @include make-xs-column-offset(2);
        border-left: 3px solid $activity-border-color;
        padding: 20px 0 20px 30px;
      }

      .comments-summary {
        @include rem('font-size', $small-font-size);
        color: $light-font-color;
        margin-bottom: 20px;

        .total-comments {
          margin: 0 10px 0 5px;
        }

        a {
          color: $light-font-color;
        }
      }

      .comment {
        margin: 0 25px 10px 0;
        overflow: auto;
        position: relative;

        >* {
          float: left;
        }

        &:after {
          @include clearfix;
        }

        + .comment {
          border-top: 1px solid $row-border-color;
          padding-top: 10px;
        }

        .comment-portrait {
          width: 45px;
        }

        .comment-details {
          width: calc(100% - 45px);
        }
      }

      .comment-box {
        margin-top: 10px;
        width: calc(100% - 25px);
      }
    }

    .activity-actions {
      @include make-xs-column(2);
      padding-right: 40px;
    }

    .activity-details {
      @include make-xs-column(8);
      border-left: 3px solid $activity-border-color;
      padding-left: 30px;
    }

    .activity-title {
      color: $activity-title-color;

      small {
        color: $activity-title-color;
      }
    }

    .activity-body {
      color: $activity-body-color;
    }

    .activity-byline {
      @extend .info-line;
      margin: -10px 0 0 -55px;
    }

    .activity-status {
      @extend .info-line;
      margin-top: 30px;

      >* {
        vertical-align: top !important;
      }
    }

    .activity-photo {
      @include make-xs-column(2);
      text-align: center;
      padding: 20px 20px 0 20px;
    }

    .video-activity {
      @include make-row();

      >.video-thumbnail {
        @include make-xs-column(3);
      }

      >.activity-content {
        @include make-xs-column(9);

        >h3 {
          margin-top: 0;
        }
      }
    }
  }

  .comment-box {
    width: calc(100% - 125px);
    border: 1px solid $button-border-color;
    padding: 5px 10px;
    position: relative;
    display: inline-block;
    color: $lighter-font-color;
    background-color: $page-bg-color;

    .pluckt-comment {
      float: left;
      margin-right: 10px;
    }

    textarea {
      @include rem('font-size', $base-font-size);
      background-color: transparent;
      border: 0;
      color: $text-color;
      max-height: 200px;
      outline: none;
      overflow-x: hidden;
      padding: 0;
      resize: none;
      width: calc(100% - 25px);
    }
  }
}

// block section
.block {
  position: relative;

  &.cover {
    min-height: 100vh;
    overflow: hidden;

    &.dim {
      >.container {
        @include text-shadow($text-shadow-color 1px 1px 10px);
        left: 0;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
      }

      .container-fluid {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  >.container {
    padding: 45px 0;
  }

  .block-title {
    text-align: center;
  }

  .block-sub-title {
    @include rem('font-size', $sub-title-font-size);
    margin-top: 10px;
    text-align: center;
  }

  .block-text {
    @include rem('font-size', $sub-title-font-size);
    margin-top: 40px;
    text-align: center;
  }

  .block-bg {
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .block-content {
    margin-top: 60px;
    position: relative;
  }

  .floater {
    @include hcenter;
    top: 50%;
  }

  [class*="portrait-"] img {
    @include box-shadow($box-light-shadow-color 1px 1px 3px);
    margin-bottom: 8px;
  }

  .well {
    @include border-radius(10px);
    background-color: $action-color;
  }

  .row + .row {
    margin-top: 45px;
  }

  blockquote {
    color: $inverse-font-color;
    margin-bottom: 0;
  }

  button {
    padding: 10px 15px;
    text-transform: uppercase;

    + button {
      margin-left: 10px;
    }
  }

  .tiled-images {
    [class*="col-"] {
      padding: 0;
    }

    img {
      width: 100%;
    }

    .tile {
      @include text-shadow($box-light-shadow-color 1px 1px 10px);
      color: $text-color;
      padding: 30px;
      position: absolute;
      top: 0;

      .block-title,
      .block-text {
        font-weight: $bold-font-weight;
        text-align: inherit;

        img {
          margin: 20px 0;
        }
      }
    }
  }
}

// single static section
.static {
  @extend .container;
  margin-top: 120px;

  .block-title {
    text-align: center;
    text-transform: uppercase;

    >h2 {
      @include rem('font-size', $banner-long-text-font-size);
    }

    img {
      vertical-align: -25%;
    }
  }
}

// grid section
.grid {
  border-bottom: 1px solid $row-border-color;
  padding-bottom: 30px;

  &.fluid {
    @extend .container-fluid;
  }

  &:not(.fluid) {
    @extend .container;
  }

  + section {
    margin-top: 25px;
  }

  &:last-child,
  &.no-divider {
    border-bottom: 0;
  }

  &.top-section {
    margin-top: 120px;
  }

  .article-block {
    @include make-row();
    margin-top: 40px;

    .article-image {
      width: 100%;
    }
  }

  .featured-row {
    display: flex;
    flex-direction: row;
    margin: 30px 0;

    .featured-portrait {
      display: inline-block;
      margin-right: 35px;
      text-align: center;
    }

    .featured-content {
      display: inline-block;
      flex: 1;
    }

    .featured-description {
      margin: 15px 0 25px 0;
    }

    .info-line {
      >* {
        vertical-align: baseline;

        + * {
          margin-left: 8px;
        }
      }

      .user-name {
        @include rem('font-size', $featured-title-font-size);
      }
    }
  }

  .shelf-title {
    @include make-xs-column(8);
  }

  .shelf-row {
    @include make-row();
    margin-top: 20px;
    position: relative;
  }

  .shelf-placeholder {
    align-items: center;
    background-color: $activity-border-color;
    color: $inverse-font-color;
    display: flex;
    flex-flow: column;
    font-size: $sub-title-font-size;
    font-weight: $bold-font-weight;
    height: 193px;
    justify-content: center;
  }
}

.grid-item {
  border: 6px solid $activity-border-color;
  display: block;

  &:hover {
    border-color: $action-color;
  }

  .cover-stack {
    background-color: $activity-border-color;
    position: relative;

    >img {
      @include box-shadow($box-shadow-color 4px 0 4px -4px);
      border: none !important;
      height: 193px !important;
      position: absolute;
      right: 0;
      top: 0;
      width: 131px !important;

      &:nth-child(2) {
        @include transform(translateX(-50%));
      }

      &:last-child {
        position: relative;
      }
    }

    &.v2 {
      >img {
        &:nth-child(2) {
          @include transform(translateX(0));
        }
      }
    }
  }
}

// movie poster sub-section
.poster {
  position: relative;

  img {
    width: 100%;
  }

  .poster-controls {
    text-align: center;
  }
}

// movie rating summary sub-section
.rating-summary {
  clear: both;
  display: flex;
  flex-flow: row;
  margin-bottom: 30px;

  .rating-box {
    border: 1px solid $row-border-color;
    display: inline-block;
    flex: 1;
    padding: 20px;

    + .rating-box {
      border-left: 0;
    }

    .average-rating {
      align-items: center;
      display: flex;
      flex-flow: column;

      h2 {
        @include rem('font-size', $hero-font-size);
      }
    }

    .star-rating {
      margin-bottom: 10px;
    }

    .rating-tally {
      font-size: $small-font-size;
    }

    &.curator {
      .bar {
        &.bar-5 {
          background-color: $rating-curator-5-bg-color;
        }

        &.bar-4 {
          background-color: $rating-curator-4-bg-color;
        }

        &.bar-3 {
          background-color: $rating-curator-3-bg-color;
        }

        &.bar-2 {
          background-color: $rating-curator-2-bg-color;
        }

        &.bar-1 {
          background-color: $rating-curator-1-bg-color;
        }
      }
    }

     &.user {
      .bar {
        &.bar-5 {
          background-color: $rating-user-5-bg-color;
        }

        &.bar-4 {
          background-color: $rating-user-4-bg-color;
        }

        &.bar-3 {
          background-color: $rating-user-3-bg-color;
        }

        &.bar-2 {
          background-color: $rating-user-2-bg-color;
        }

        &.bar-1 {
          background-color: $rating-user-1-bg-color;
        }
      }
    }

    .bar {
      color: $text-color;
      display: inline-block;
      font-weight: $bold-font-weight;
      line-height: 1.5;
      margin-left: 10px;
      max-width: 85%;
      padding: 2px 0;
      width: 0;

      >span {
        padding: 0 5px;
      }
    }
  }
}

// review blocks
.review {
  + .review {
    border-top: 1px dotted $row-border-color;
    margin-top: 30px;
    padding-top: 30px;
  }
}

.review-blocks {
  border-top: 1px dotted $row-border-color;
  padding-top: 30px;

  .info-line {
    a {
      font-weight: normal;
    }

    .inline {
      * + * {
        margin-left: 8px;
      }
    }
  }

  .review-content,
  .comment-content {
    margin: 0 0 20px 55px;

    .star-rating {
      margin: 20px 0;
    }
  }

  .comment-block {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;

    .reply-to {
      display: inline-block;
      width: 55px;
    }

    .comment {
      display: inline-block;
      flex: 1;
    }

    .comment-body {
      margin-top: 10px;
    }
  }

  .review-footer {
    @include make-row();
    align-items: center;
    display: flex;
    flex-flow: row;

    &:after {
      clear: both;
      content: ' ';
      display: block;
    }
  }
}

// rating input box
.rating-input-box {
  border: 1px solid $row-border-color;

  .box-content {
    padding: 20px;

    &:after {
      clear: both;
      content: " ";
      display: block;
    }
  }

  input,
  textarea {
    @include box-shadow(none);
    border: 1px solid $inverse-font-color;
    padding-left: 0;
    padding-right: 0;

    &:focus {
      @include box-shadow(none);
      border: 1px dotted $row-border-color;
    }
  }

  .title-box {
    margin-top: 30px;

    input {
      @include rem('font-size', $sub-title-font-size);
      font-weight: $bold-font-weight;
    }
  }

  .body-box {
    margin-bottom: 20px;

    textarea {
      resize: none;
    }

    & + button {
      margin-top: 20px;
    }
  }

  .box-footer {
    align-items: center;
    background-color: $input-box-footer-bg-color;
    border-top: 1px solid $row-border-color;
    display: flex;
    flex-flow: row;
    padding: 20px;

    >* {
      flex: 1;
    }

    >:first-child {
      text-align: left;
    }

    >:last-child {
      text-align: right;
    }

    .status-icons {
      justify-content: flex-end;

      button {
        margin-left: 20px;
      }
    }
  }
}

// rating box in modal
.modal {
  .container-fluid {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .rating-input-box {
    .title-box {
      margin-top: 0;
    }
  }

  .social-title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .subsection-title {
    margin-top: 20px;
  }

  .poster-image {
    margin-bottom: 20px;
    width: 100%;
  }

  .portraits-row {
    text-align: left !important;
  }

  .form-value {
    color: $action-color;
    margin: 0;
  }

  hr {
    margin-top: 0;
  }
}

// person list
.person-list {
  margin: 30px 20px 0 0;
  min-height: 320px;

  .person-portrait {
    padding-right: 0 !important;
    width: auto !important;
  }

  .user-name {
    font-size: 1.6rem !important;
  }
}

// person row
.person-row {
  @include make-row();

  &.grid-view {
    &.compact {
      .portrait-box {
        @extend .portrait-modal-grid
      }

      .user-name,
      .user-location {
        margin-bottom: 0;
      }
    }

    .person-column {
      @include make-xs-column(4);
      margin-bottom: 30px;
    }

    .person-block {
      border: 1px solid $row-border-color;
    }

    .person-portrait,
    .person-details {
      @include make-xs-column(6);
    }

    .person-social {
      align-items: center;
      display: flex;
      flex-flow: row;
      justify-content: center;
      padding: 15px;
    }

    .btn-follow-list {
      display: none;
    }

    .portrait-box {
      @extend .portrait-user-grid;
    }
  }

  &.list-view {
    hr {
      display: none;
    }

    .person-block {
      align-items: center;
      display: flex;
      flex-flow: row;

      >* + * {
        margin-left: 20px;
      }
    }

    .person-column {
      @include make-xs-column(12);

      + .person-column {
        border-top: 1px dotted $row-border-color;
      }
    }

    .person-info {
      align-items: center;
      display: inline-flex;
      flex: 1;
      flex-flow: row;
    }

    .person-portrait {
      margin: 0 20px;
      width: auto;
    }

    .portrait-box {
      @extend .portrait-md;
    }

    .person-details {
      @extend .info-line;
      flex: 1;

      >.user-name {
        @include rem('font-size', $sub-title-font-size, true);
      }

      >div {
        display: inline-block;
        margin: 0;

        + * {
          margin-left: 10px;
        }
      }
    }

    .person-social {
      align-items: center;
      display: inline-flex;
      flex-flow: row;
      justify-content: center;
    }

    .btn-follow-grid {
      display: none;
    }
  }
}

// person block
.person-block {
  @include rem('font-size', $small-font-size);

  hr {
    margin: 0;
  }

  .person-info {
    @include make-row(); 
    padding: 15px;

    &:after {
      clear: both;
      content: " ";
      display: block;
    }

    .user-name {
      @include rem('font-size', $sub-title-font-size);
      margin-bottom: 10px;
    }

    .user-role {
      font-weight: $bold-font-weight;
    }

    .user-location {
      color: $light-font-color;
      margin-bottom: 20px;
      text-transform: none;
    }
  }

  .person-social {
    >div {
      text-align: center;

      + div {
        margin-left: 20px;
      }
    }
  }

  .btn-follow-list {
    margin-right: 20px;
  }
}

// row letters
.row-letter {
  @include make-xs-column(12);
  margin-bottom: 20px;
}

// field notes section
.banner-movie.notes {
  .post-time {
    color: $inverse-font-color;
    font-weight: $normal-font-weight;
    margin-bottom: 20px;
  }

  .note-byline {
    margin: 20px 0 40px;
  }

  .note-body {
    @include rem('font-size', $med-font-size);
    font-weight: $normal-font-weight;
  }
}

.note {
  margin-bottom: 30px;

  &[class^="featured-"],
  &[class*=" featured-"] {
    background-color: $featured-note-bg-color;
    border: 1px solid $row-border-color;

    &.featured-row {
      .note-details {
        padding: 20px 20px 20px 0;
      }
    }

    &.featured-block {
      .note-details {
        padding: 20px;
      }
    }

    .read-link {
      float: right;
    }

    .post-time {
      margin-top: 0;
    }
  }

  .post-time {
    @include rem('font-size', $tiny-font-size);
    margin-top: 20px;
  }

  .note-title {
    margin-bottom: 20px;
  }

  .note-image {
    width: 100%;
  }

  .note-body {
    margin-top: 30px;

    &:after {
      clear: both;
      content: " ";
      display: block;
    }

    blockquote {
      padding: 40px 0;

      footer {
        @include rem('font-size', $base-font-size);
        text-align: right;
      }

      cite {
        color: $light-font-color;
        font-style: normal;
      }
    }
  }

  .read-link {
    margin-top: 30px;
  }

  .status-icons.left {
    margin-top: 20px;
  }
}

.note-title,
.movie-title,
.user-name {
  a {
    color: inherit;
  }
}

.inline-left {
  float: left;
  padding: 0 20px 20px 0;
}

// movie list section
.movie-list {
  @extend .container;

  >.list-table {
    @extend .table-responsive;

    >table {
      border-top: 1px solid $row-border-color;
      margin-top: 25px;
      width: 100%;

      >tbody {
        >tr {
          border-bottom: 1px solid $row-border-color;

          >td {
            padding: 20px 10px;
            vertical-align: middle;

            &.item-no {
              @include rem('font-size', $title-font-size);
              color: $light-font-color;
              font-weight: $bold-font-weight;
              padding-left: 0;
              white-space: nowrap;
              width: 2%;
            }

            &.movie-poster,
            &.user-name,
            &.rating,
            &.genre,
            &.runtime {
              white-space: nowrap;
              width: 1%;
            }

            .footnote {
              color: $action-color;
              font-size: $small-font-size;
            }
          }
        }
      }
    }
  }
}

// movie facts section (sidebar)
.movie-facts {
  margin-top: 50px;

  .fact {
    margin-top: 35px;

    >.title {
      font-weight: $bold-font-weight;
    }
  }
}

// portraits row
.portraits {
  @extend .container;
  margin: 25px auto 15px;

  + section {
    border-top: 1px solid $row-border-color;
    margin-top: 20px;
    padding-top: 20px;
  }
}

.portraits-list {
  @include make-row();

  [class*="portrait-"] img {
    @include box-shadow($box-light-shadow-color 1px 1px 3px);
  }

  .portraits-row {
    @include make-xs-column(12);
    margin: 20px 0;
    text-align: center;

    >a {
      color: $lighter-font-color;
      display: inline-block;
      vertical-align: middle;

      &:hover {
        color: $light-font-color;
      }

      + a {
        margin-left: 8px;
      }
    }

    [class^="portrait-"]:last-child,
    [class*=" portrait-"]:last-child {
      @include box-shadow(none);
    }
  }
}

// slider button group
.slider-buttons {
  &:not(.vertical):not(.cover) {
    @extend .btn-group;
  }

  &.vertical {
    @extend .btn-group-vertical;
  }

  &.cover {
    @include rem('font-size', $cover-font-size);
    bottom: 95px;
    font-weight: $bold-font-weight;
    left: 0;
    position: absolute;
    width: 100%;

    >a {
      @include opacity(.5);
      @include text-shadow($text-shadow-color 0 0 0);
      color: $inverse-font-color !important;

      &:hover {
        @include opacity(1);
      }
    }

    >a:first-child {
      float: left;
      margin-left: 5%;
    }

    >a:last-child {
      float: right;
      margin-right: 5%;
    }
  }

  &.overlay {
    @include opacity(.7);

    &:hover {
      @include opacity(1);
    }
  }

  &.inverse {
    .btn {
      background-color: transparent;
      border: none;
      color: $light-font-color;

      &:hover {
        background-color: transparent;
        color: $inverse-font-color;
      }
    }
  }

  .btn {
    @include rem('font-size', $icon-smaller-font-size);
    @include border-radius(0);
    background-color: $page-bg-color;
    border-color: $button-border-color;
    color: $button-font-color;
    padding: 12px 14px;

    &:hover {
      background-color: $button-border-color;
    }

    [class^="pluckt-"],
    [class*=" pluckt-"] {
      @include rem('font-size', $icon-smaller-font-size);
    }
  }
}

// dropdown menus
.dropdown-menu {
  @include alpha-bg($page-bg-color, .9);
  @include border-radius(0);
  @include text-shadow(none);
  margin-top: -4px;
  text-transform: none;

  a {
    @include transition-property(none);
    
    &:hover {
      background-color: $action-color !important;
      color: $inverse-font-color !important;
    }
  }

  .dropdown-header {
    font-size: $base-font-size;
  }

  .shelf-name {
    margin-left: 15px;
  }
}

// visual only
p {
  margin: 0;

  + p {
    margin-top: 20px;
  }
}

em {
  color: $action-color;
  font-style: normal;
}

a {
  @include transition-property(all);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in-out);
  font-weight: $bold-font-weight;

  &:focus {
    outline: 0;
  }
}

.delete-link {
  color: $warning-color;

  &:hover {
    color: $warning-hover-color;
  }
}

.action-link {
  color: $action-color !important;
}

.counter {
  color: $lighter-font-color;

  &:hover {
    color: $action-color;
  }
}

.squeeze {
  @include transition-property(all);
  @include transition-duration(.1s);
  @include transition-timing-function(ease-in-out);
  padding-left: 0;
  padding-right: 0;
  width: 0 !important;
}

.form-control {
  @include transition-property(all);
  @include transition-duration(.1s);
  @include transition-timing-function(ease-in-out);

  &.round {
    @include border-radius(4px);
  }
}

.button {
  @extend .btn;
  @extend .btn-lg;
  text-transform: uppercase;

  >div {
    align-items: center;
    display: inline-flex;
    flex-flow: row;
    justify-content: center;
  }

  &:hover {
    border-color: $action-color;
    color: $action-color;
  }

  &.small {
    padding: 5px 10px;
  }

  .pluckt-logo {
    display: inline-block;
    margin-left: 10px;
  }
}

.button,
.action-button,
.status-button,
.slider-buttons,
.grid-item {
  @include transition-property(all);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in-out);
}

.pluck-button {
  font-weight: $bold-font-weight;
  text-transform: uppercase;
}

.inline {
  display: inline-block;
}

.hint {
  color: $action-color;
  cursor: pointer;
  margin-left: 5px;
}

blockquote {
  @include rem('font-size', $sub-head-font-size);
  border-left: 0;
  color: $text-color;
  padding: 0;

  [class^="quote-"] {
    color: $lighter-font-color;
    font-family: $quote-font;

    &.quote-open {
      @include rem('font-size', $giant-font-size);
      line-height: $sub-head-font-size;
      vertical-align: -150%;
    }
  }
}

// dim section
.dim {
  background-color: $dim-bg-color;
  color: $inverse-font-color;

  .page-down {
    @include hcenter;
    margin-top: -18px;
  }
}

// row-less fixed height grid
.shifty-grid {
  @extend .container;
  height: 620px;
  overflow: hidden;
  padding-top: 40px;

  [class^="col-"] {
    padding: 0 5px;
  }

  .note {
    @include rem('font-size', $sub-title-font-size);
    color: $inverse-font-color;
    padding: 15px;
  }

  .action-button {
    @include rem('font-size', $sub-title-font-size);
    padding: 20px;
    text-transform: uppercase;
    width: 100%;
  }

  img {
    @include transition-property(all);
    @include transition-duration(.25s);
    width: 100%;

    &.genre {
      @include opacity(.5);

      &:hover {
        @include opacity(1);
      }
    }

    &.movie {
      &:hover {
        @include opacity(.5);
      }
    }
  }

  .item-box {
    position: relative;

    + .item-box {
      margin-top: 10px;
    }

    .caption {
      @include hvcenter;
      @include text-shadow($text-shadow-color 1px 1px 10px);
      color: $inverse-font-color;
      pointer-events: none;
      text-transform: uppercase;
    }
  }
}

// dialogs
.modal-content {
  @include opacity(.94);
}

.modal-body {
  .form-group {
    margin-top: 20px;
  }
}

.modal-header {
  text-align: center;
}

.modal-title {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.modal-footer {
  button {
    text-transform: uppercase;
  }
}

// subsections
.info-line {
  align-items: center;
  display: flex;
  flex-flow: row;

  &.base {
    align-items: baseline;
  }

  &.icons {
    [class^="pluckt-"],
    [class*=" pluckt-"] {
      &:not(.lg) {
        &:before {
          vertical-align: middle;
        }
      }

      &.lg:last-child {
        margin-left: 10px;
      }
    }
  }

  >.pull-right {
    flex: 1;
    text-align: right;
  }

  >* + * {
    margin-left: 10px;
  }

  >.inline > * + * {
    margin-left: 5px;
  }

  + .info-line {
    margin-top: 10px;
  }

  &:after {
    @include clearfix;
  }

  [class^="pluckt-"],
  [class*=" pluckt-"] {
    @include rem('font-size', $icon-small-font-size);
  }

  [class^="user-"],
  [class*=" user-"] {
    @include rem('font-size', $small-font-size);
  }

  [class^="movie-"],
  [class*=" movie-"] {
    @include rem('font-size', $sub-title-font-size);
  }

  &.inverse {
    color: $inverse-font-color;

    a {
      color: $inverse-font-color;
    }

    >a:hover {
      color: $inverse-link-hover-color;
    }
  }

  small {
    color: $light-font-color;
  }
}

.next-movie {
  >div {
    float: right;
  }

  img {
    @include box-shadow($box-shadow-color 1px 1px 10px);
    margin-right: 15px;
  }

  a {
    text-transform: uppercase;
  }

  [class^="pluckt-"],
  [class*=" pluckt-"] {
    @include rem('font-size', $icon-smaller-font-size);
    color: $inverse-font-color;
    margin-left: 10px;
  }
}

.genre {
  @include rem('font-size', $tiny-font-size);
  color: $highlight-color;
  font-weight: $bold-font-weight;
  text-transform: uppercase;
}

[class^="user-"],
[class*=" user-"] {
  font-weight: $normal-font-weight;
  text-transform: uppercase;
}

.user-name {
  font-weight: $bold-font-weight;
}

// forms
input[type], textarea {
  font-weight: $normal-font-weight;
}

button:focus:active {
  outline: none !important;
}

.btn {
  background-color: transparent;
  border-color: $row-border-color;
  color: $activity-body-color;
}

.status-button {
  background-color: $status-button-bg-color;
  border-color: $status-button-bg-color;
  color: $status-button-color;

  &:hover:not([disabled]) {
    background-color: $status-button-hover-bg-color;
    color: $status-button-color;
  }
}

.action-button {
  background-color: $action-color;
  border: 1px solid $action-color;
  color: $inverse-font-color;

  &:hover,
  &:focus {
    background-color: $action-button-hover-bg-color !important;
    border-color: $action-button-hover-bg-color !important;
    color: $inverse-font-color !important;
  }

  .pluckt-logo {
    margin: 0 0 0 8px !important;

    &:before {
      vertical-align: baseline !important;
    }
  }
}

.auxilliary-button {
  background-color: $aux-color;
  border-color: $aux-color;
  color: $inverse-font-color;

  &:hover,
  &:focus {
    background-color: $aux-button-hover-bg-color !important;
    border-color: $aux-button-hover-bg-color !important;
    color: $inverse-font-color !important;
  }
}

.video-overlay-button {
  @extend .action-button;
  @include hvcenter;
  @include rem('font-size', $tiny-font-size);
  padding: 3px 7px;
  text-transform: uppercase;

  [class^="pluckt-"],
  [class*=" pluckt-"] {
    @include rem('font-size', $icon-tiny-font-size);
    @include box-shadow($box-light-shadow-color 1px 1px 3px);
    margin-left: 8px;

    &:before {
      vertical-align: baseline;
    }
  }
}

.facebook-button {
  background-color: $facebook-color;
  border-color: $facebook-color;
  color: $inverse-font-color;

  &:hover,
  &:focus {
    background-color: $facebook-hover-color !important;
    border-color: $facebook-hover-color !important;
    color: $inverse-font-color !important;
  }
}

.twitter-button {
  background-color: $twitter-color;
  border-color: $twitter-color;
  color: $inverse-font-color;

  &:hover,
  &:focus {
    background-color: $twitter-hover-color !important;
    border-color: $twitter-hover-color !important;
    color: $inverse-font-color !important;
  }
}

.google-button {
  background-color: $google-color;
  border-color: $google-color;
  color: $inverse-font-color;

  &:hover,
  &:focus {
    background-color: $google-hover-color !important;
    border-color: $google-hover-color !important;
    color: $inverse-font-color !important;
  }
}

.btn-icon {
  @include vcenter;
  @include border-radius(0);
  @include transition-property(all);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in-out);
  background-color: transparent;
  border-width: 0;
  height: 35px;
  padding: 0 10px;

  &.active {
    background-color: $highlight-color;
  }
}

.loader-button-box {
  margin-top: 50px;
  text-align: center;
}

.class-rating {
  @extend .btn;
  @include rem('font-size', 12px);
  @include transition-property(all);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in-out);
  background-color: transparent;
  border: 1px solid $light-font-color;
  color: $light-font-color;
  font-weight: $normal-font-weight;
  padding: 2px 6px;

  &:hover {
    border-color: $action-color;
    color: $action-color;
  }

  &.inverse {
    @include alpha-bg($banner-bg-color, .5);
    border: 1px solid $inverse-font-color;
    color: $inverse-font-color;
    font-weight: $bold-font-weight;

    &:hover {
      border-color: $action-color;
      color: $action-color;
    }
  }
}

.loading-pane {
  @include opacity(.5);
  background-color: $banner-bg-color;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.loading-pane > div {
  @include hvcenter;
  @include rem('font-size', $cover-font-size);
  height: 64px;
  margin: auto;
  width: 64px;
}

.tooltip {
  white-space: nowrap;
}

.tooltip-inner {
  max-width: 1000px;
}

.popover {
  white-space: nowrap;

  &.fade.in {
    @include opacity(.95);
  }

  &.left { // hackjob for now since we only have one left popover. apparently bootstrap 3 popovers don't work well when opened from absolutely positioned triggers
    left: 700px !important;
  }

  .expanding-wrapper {
    width: 400px;
  }

  textarea {
    left: 0 !important;
    resize: vertical;
    top: 0 !important;
    width: 100%;
  }
}

// typography
h1 {
  @include rem('font-size', $hero-font-size);
  @include rem('margin-bottom', $hero-font-size / 2);
  margin-top: 0;
}

h2 {
  @include rem('font-size', $cover-font-size);
  margin: 0;
}

h3 {
  @include rem('font-size', $sub-head-font-size);
  font-weight: $normal-font-weight;
}

h4 {
  @include rem('font-size', $sub-title-font-size);
  margin: 0;

  + h4 {
    margin-top: 10px;
  }
}

h5 {
  font-weight: $bold-font-weight;
  margin: 0;
}

// icons
[class^="pluckt-"],
[class*=" pluckt-"] {
  &.lg {
    @include rem('font-size', $icon-large-font-size, true);
  }

  &.xl {
    @include rem('font-size', $icon-hero-font-size, true);
  }

  &.inline {
    margin-right: 8px;
  }
}

// UI elements
hr {
  @include opacity(.8);
  border-top: 1px solid $row-border-color;
  margin: 20px 0;

  &.dim {
    border-top-color: $divider-dim-color;
  }

  &.dotted {
    @include opacity(1);
    border-top: 1px dotted $row-border-color;
  }
}

.form-divider {
  @include rem('font-size', $tiny-font-size);
  margin-bottom: 10px;
  padding: 10px 0;
  position: relative;
  text-align: center;

  .divider-label {
    @include hcenter;
    background-color: $page-bg-color;
    display: inline-block;
    padding: 0 5px;
  }

  .line {
    border-top: 1px solid $row-border-color;
    position: absolute;
    top: 85%;
    width: 100%;
  }
}

.separator {
  background: url('../images/nav-separator.png') no-repeat center center;
  float: left;
  height: $navbar-height;
  margin-left: 30px !important;
  width: 5px;
}

.tags {
  margin: 30px 0 50px;

  .tag {
    @include rem('font-size', $small-font-size);
    background-color: $tag-bg-color;
    color: $text-color;
    display: inline-block;
    font-weight: $bold-font-weight;
    margin: 0 3px 6px 0;
    padding: 4px 7px;
  }
}

[class^="overlay-"],
[class*=" overlay-"] {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.overlay-dim {
  @include alpha-bg($banner-bg-color, .3);
}

.overlay-dim-gradient {
  @include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 42%,rgba(0,0,0,1) 100%));
}

.overlay-white {
  @include alpha-bg($inverse-font-color, .8);
}

.bullet:after {
  @include rem('font-size', $icon-large-font-size);
  color: $light-font-color;
  content: "\b7";
  font-weight: $bold-font-weight;
  vertical-align: middle;
}

.status-icons {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;

  &.lg {
    [class^="pluckt-"],
    [class*=" pluckt-"] {
      @include rem('font-size', $sub-head-font-size);
      margin-top: 3px;
    }
  }

  &:not(.lg) {
    [class^="pluckt-"],
    [class*=" pluckt-"] {
      &:before {
        vertical-align: middle;
      }
    }
  }

  .pluckt-more {
    &:before {
      vertical-align: baseline !important;
    }
  }

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  >* + * {
    margin-left: 10px;
  }

  [class^="pluckt-"],
  [class*=" pluckt-"] {
    @include rem('font-size', $icon-small-font-size);

    &.lg:last-child {
      margin-left: 10px;
    }
  }

  a {
    color: $lighter-font-color;

    &.action-link {
      @include rem('font-size', $sub-title-font-size);
    }

    &:hover {
      color: $text-color;
    }
  }

  .view-more {
    margin-left: 20px;

    [class^="pluckt-"],
    [class*=" pluckt-"] {
      @include rem('font-size', $icon-large-font-size);
    }
  }
}

.thumbnail-image {
  background-repeat: no-repeat;
  height: $video-thumb-height;
  position: relative;
  width: $video-thumb-width;

  .btn-icon {
    @include hvcenter;
    color: $inverse-font-color;

    &:hover {
      color: $inverse-link-hover-color;
    }

    [class^="pluckt-"],
    [class*=" pluckt-"] {
      @include rem('font-size', $icon-large-font-size);
      @include text-shadow($text-shadow-color 2px 2px 5px);

      &:before {
        vertical-align: baseline;
      }
    }
  }
}

// sliders
.slider {
  margin-bottom: 20px;

  .side-nav .flex-viewport {
    display: inline-block;
    width: calc(100% - 65px);
  }

  .inline-images {
    img {
      margin: 0 auto 20px;
      width: auto !important;
    }

    li + li {
      margin-left: 0 !important;

      .award {
        border-left: 0;
      }
    }
  }

  .photo-slider {
    h5 {
      @include rem('font-size', $slider-font-size);
    }

    img {
      width: auto !important;
    }

    [class^="portrait-"],
    [class*=" portrait-"] {
      margin-bottom: 15px;
    }

    li + li {
      margin-left: 0 !important;
    }
  }

  .slider-buttons {
    @include vcentera(true);
    float: right;

    >button {
      @include border-radius(0);
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }
}

// slides
.slides {
  li {
    @include rem('font-size', $slider-font-size);
    position: relative;

    + li {
      margin-left: 30px;
    }

    .popover {
      top: 40% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);

      .arrow {
        display: none;
      }
    }

    img {
      &:not(.inline) {
        display: inline-block;
        vertical-align: middle;
        width: 100%;

        &:not(.slider-portrait) {
          border: 2px solid $inverse-font-color;
        }
      }
    }

    &.active img {
      border: 2px solid $action-color;
    }

    .award {
      border: 1px solid $row-border-color;
      display: inline-block;
      width: 100%;
    }

    [class^="col-"] {
      padding: 20px 15px;

      + [class^="col-"] {
        border-left: 1px solid $row-border-color;
      }
    }

    .caption {
      @include hvcenter;
      @include rem('font-size', $sub-title-font-size);
      @include text-shadow($text-shadow-color 1px 1px 10px);
      color: $inverse-font-color;
      pointer-events: none;
      text-transform: uppercase;
    }

    .slide-number {
      @include opacity(.9);
      background-color: $action-color;
      color: $inverse-font-color;
      left: 2px;
      padding: 5px 10px;
      position: absolute;
      top: 2px;
    }
  }
}

// image gallery
.image-gallery {
  background-color: $banner-bg-color;
  color: $inverse-font-color;
  margin: 50px 0;
  position: relative;

  .gallery-info {
    @include alpha-bg($banner-bg-color, .8);
    bottom: 0;
    left: 0;
    padding: 15px 20px 20px;
    position: absolute;
    width: 100%;
  }

  .main-image {
    .slides {
      li {
        + li {
          margin-left: 0;
        }
        
        img {
          border: none !important;
        }
      }
    }
  }

  .thumbs {
    .active {
      img {
        @include opacity(1);
      }
    }
  }
}
  

.thumbs {
  margin-top: 30px;

  li {
    background-color: $banner-bg-color;

    + li {
      margin-left: 15px;
    }
  }

  img {
    @include box-shadow($box-shadow-color 1px 1px 10px);
    @include opacity(.5);
    @include transition-property(all);
    @include transition-duration(.25s);
    border: 0 !important;

    &:hover {
      @include opacity(1);
      border-color: $action-color;
    }
  }
}

.full-image {
  li {
    background-color: $banner-bg-color;
  }

  img {
    @include opacity(.5);
    @include transition-property(all);
    @include transition-duration(.25s);

    &:hover {
      @include opacity(1);
      border-color: $action-color;
    }
  }
}

.full-video {
  border: 0;
  height: calc(100vh - 30px);
  overflow: hidden;

  h2 {
    @include rem('font-size', $banner-long-text-font-size);
  }

  .slides {
    li {
      background-color: $banner-bg-color;
      height: calc(100vh - 30px);

      + li {
        margin-left: 0;
      }
    }

    video {
      min-height: 120vh;
      min-width: 100vw;
      position: relative;
    }

    .caption {
      font-weight: $normal-font-weight;
      text-align: center;
      text-transform: none !important;

      img {
        border: 0;
        display: inline-block;
        width: auto;
      }
    }

    .filmmaker {
      @extend .info-line;
      bottom: 100px;
      position: absolute;
      right: 10%;
    }
  }
}

.covers {
  .slides {
    li {
      + li {
        margin-left: 30px;
      }
    }
  }

  .slider-buttons {
    top: 37%;
  }
}

.shelf {
  padding-bottom: 20px;

  &.active {
    >.grid-item {
      border-color: $action-color;
    }
  }

  .shelf-name,
  .movie-title {
    margin: 20px 0 5px;
  }

  .movie-poster {
    @include transition-property(all);
    @include transition-duration(.25s);
    border: 2px solid $row-border-color;
    position: relative;

    &.active {
      border-color: $action-color;
    }

    .overlay-white {
      display: none;

      >div {
        @include hvcenter;
        height: calc(100% - 40px);
        width: calc(100% - 40px);
      }
    }

    .movie-actions {
      @include rem('font-size', $cover-font-size);
      margin-top: 20px;
      text-align: center;

      >* + * {
        margin-left: 10px;
      }

      .dropdown {
        display: inline-block;
      }
    }

    .poster-info {
      position: static;
      width: calc(50% - 30px);

      .movie-status {
        bottom: 0;
        right: 0;
        padding: 8px 15px;
        position: absolute;
        text-align: left;
        width: calc(50% + 15px);
      }
    }

    >.movie-info {
      padding: 0 10px 10px;
    }
  }

  .movie-status {
    background-color: $comments-bg-color;
    border-top: 1px solid $row-border-color;
    padding: 8px 0;
    text-align: center;

    .status-icons {
      width: 100%;
    }

    a {
      color: $lighter-font-color;

      &:hover {
        color: $text-color;
      }
    }

    small {
      color: $lighter-font-color;
    }
  }
}

// badges
[class^="badge-"],
[class*=" badge-"] {
  position: absolute;
}

.badge-notifs {
  @include border-radius(2px);
  @include rem('font-size', $badge-font-size);
  background-color: $highlight-color;
  color: $inverse-font-color;
  font-family: $base-font;
  left: -7px;
  line-height: normal;
  padding: 1px 2px;
  top: 2px;
}

// star rating
.movie-rating {
  display: inline-block;
  margin-top: 15px;
}

.star-rating {
  &.active {
    label.star {
      cursor: pointer;
    }
  }

  display: inline-block;
  font-family: $icon-font;

  &.inverse {
    label.star {
      color: $star-dark-off-color;
    }

    input.star:checked ~ label.star:before {
      color: $star-dark-on-color !important;
    }
  }
}

input.star {
  display: none;
}

label.star {
  @include rem('font-size', $base-font-size);
  @include transition-property(all);
  @include transition-duration(.25s);
  color: $star-light-off-color;
  float: right;
  margin: 0;
  padding: 0 2px;
}

input.star:checked ~ label.star:before {
  @include transition-property(all);
  @include transition-duration(.25s);
  color: $star-light-on-color;
  content: "\e014";
}

label.star:before {
  content: "\e014";
}

// portraits
[class^="portrait-"],
[class*=" portrait-"] {
  @include box-shadow($box-light-shadow-color 1px 1px 3px);
  background-color: $page-bg-color;
  display: inline-block;
  position: relative;

  .profile-controls {
    @include hcenter;
    @include alpha-bg($banner-bg-color, .3);
    @include border-radius(3px);
    @include transition-property(all);
    @include transition-duration(.25s);
    bottom: 35px;
    color: $inverse-font-color;
    margin-left: 0;
    padding: 2px 6px;

    [class^="pluckt-"]:before,
    [class*=" pluckt-"]:before {
      @include rem('font-size', $base-font-size);
      margin-right: 8px;
    }
  }

  .progress {
    @include hcenter;
    @include alpha-bg($page-bg-color, .8);
    bottom: 50px;
    visibility: hidden;
    width: 50%;
  }

  &.no-shadow {
    @include box-shadow(none);
  }
}

.portrait-sm {
  @include circle($portrait-sm);
  height: $portrait-sm;
  width: $portrait-sm;

  img {
    @include circle($portrait-sm, $navbar-inverse-link-color, 2px);
  }
}

.portrait-md {
  @include circle($portrait-md);
  height: $portrait-md;
  width: $portrait-md;

  .badge-star {
    background: url('../images/round-star-md.png') no-repeat center center;
    bottom: -2px;
    height: 17px;
    right: -3px;
    width: 17px;
  }

  >img {
    @include circle($portrait-md, $navbar-inverse-link-color, 2px);
  }
}

.portrait-lg {
  @include circle($portrait-lg);
  height: $portrait-lg;
  width: $portrait-lg;

  .badge-star {
    background: url('../images/round-star-lg.png') no-repeat center center;
    bottom: 7px;
    height: 30px;
    right: 7px;
    width: 30px;
  }

  >img {
    @include circle($portrait-lg, $navbar-inverse-link-color, 2px);
  }
}

.portrait-xl {
  @include circle($portrait-xl);
  @include box-shadow(none);
  height: $portrait-xl;
  width: $portrait-xl;

  .badge-star {
    background: url('../images/round-star-xl.png') no-repeat center center;
    bottom: 20px;
    height: 48px;
    right: 20px;
    width: 48px;
  }

  img {
    @include circle($portrait-xl, $row-border-color, 15px);
  }
}

.portrait-home {
  @include circle($portrait-home);
  height: $portrait-home;
  width: $portrait-home;

  img {
    @include circle($portrait-home, $navbar-inverse-link-color, 5px);
  }
}

.portrait-cast-crew {
  @include circle($portrait-cast-crew);
  height: $portrait-cast-crew;
  width: $portrait-cast-crew;

  .badge-star {
    background: url('../images/round-star-cast-crew.png') no-repeat center center;
    bottom: 0;
    height: 25px;
    right: 0;
    width: 25px;
  }

  img {
    @include circle($portrait-cast-crew, $row-border-color, 2px);
  }
}

.portrait-modal-grid {
  @include circle($portrait-modal-grid);
  height: $portrait-modal-grid;
  width: $portrait-modal-grid;

  .badge-star {
    background: url('../images/round-star-md.png') no-repeat center center;
    bottom: 4px;
    height: 17px;
    right: 4px;
    width: 17px;
  }

  >img {
    @include circle($portrait-modal-grid, $navbar-inverse-link-color, 2px);
  }
}

.portrait-user-grid {
  @include circle($portrait-user-grid);
  height: $portrait-user-grid;
  width: $portrait-user-grid;

  .badge-star {
    background: url('../images/round-star-lg.png') no-repeat center center;
    bottom: 7px;
    height: 30px;
    right: 7px;
    width: 30px;
  }

  >img {
    @include circle($portrait-user-grid, $navbar-inverse-link-color, 2px);
  }
}

.portrait-featured {
  @include circle($portrait-featured);
  height: $portrait-featured;
  width: $portrait-featured;

  .badge-star {
    background: url('../images/round-star-featured.png') no-repeat center center;
    bottom: 12px;
    height: 37px;
    right: 12px;
    width: 37px;
  }

  img {
    @include circle($portrait-featured, $navbar-inverse-link-color, 3px);
  }
}

// video player
.jw-tab-focus:focus {
  outline: none;
}

.player-box {
  background-color: $dim-bg-color;
  color: $inverse-font-color;
  //height: 728px;

  .video-wrapper {
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 0;
    position: relative;

    >iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  >.container {
    height: 100%;
    padding-top: 70px;
  }

  .player {
    @include box-shadow($box-shadow-color 4px 0 4px -4px);
    height: 100%;
  }

  .install-player {
    align-items: center;
    background: url('../images/bg-install-player.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;

    img {
      margin: 70px 0 40px 0;
    }

    .footnote {
      margin-top: 90px;

      >div {
        line-height: 2;
      }
    }
  }
}

// banners
[class^="banner-"],
[class*=" banner-"] {
  @include text-shadow($text-shadow-color 1px 1px 10px);
  background-position: center center;
  background-size: cover;
  color: $inverse-font-color;
  font-weight: $bold-font-weight;
  position: relative;

  .info-row {
    @include make-row();
    align-items: center;
    display: flex;
    flex-flow: row;

    & + hr {
      margin-top: 0;
    }
  }

  .dim-content {
    @include alpha-bg($banner-bg-color, .4);
    padding: 20px 5px;

    &:after {
      clear: both;
      content: " ";
      display: block;
    }

    .product-details {
      @include rem('font-size', $med-font-size);
    }
  }

  .container {
    height: 100%;
    position: relative;

    >.row:first-child {
      height: 100%;

      >div {
        @include vcenter;
        padding-top: $navbar-height;
      }
    }

    >.row-bottom {
      width: 100%;
      position: absolute;
      @include rem('bottom', 15px);
      font-weight: $normal-font-weight;
      @include rem('font-size', $small-font-size);
    }
  }

  .footnote {
    @include rem('font-size', $tiny-font-size);
    color: $footnote-color;
    font-weight: $normal-font-weight;
    margin-top: 15px;
  }

  [class^="portrait-"],
  [class*=" portrait-"] {
    @include box-shadow(none);
  }
}

.banner-movie {
  background-position: center top;
  height: 60vh;
  padding-top: 50px;

  .movie-title {
    a {
      color: $inverse-font-color;
      font-weight: $semibold-font-weight;
    }
  }

  &.details {
    height: 80vh;
    min-height: 780px;

    h1 {
      margin-bottom: 0;
    }

    .movie-details {
      align-items: flex-end;
      display: flex;
      flex-flow: row;

      .thumbs {
        li,
        img {
          height: 100px !important;
          width: auto !important;
        }
      }
    }

    .movie-poster {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  .play-button-row {
    align-items: center;
    display: flex;
    flex-flow: row;
    height: 320px;
    justify-content: center;
  }

  .social-summary {
    justify-content: flex-end;

    .line {
      color: $activity-body-color;
    }

    >:last-child {
      margin-left: 20px;
    }
  }

  .movie-main-tag {
    @include rem('font-size', $sub-head-font-size);
    background-color: $banner-main-tag-bg-color;
    color: $action-color;
    display: inline-block;
    padding: 5px 10px;
  }

  .countdown {
    @include alpha-bg($banner-bg-color, .4);
    padding: 20px;

    h3 {
      margin: 0;
    }

    .timer {
      @include make-row();
      margin: 20px 0;
    }

    [class^="timer-"] {
      @include make-sm-column(3);
      text-align: center;
    }

    .time {
      @include rem('font-size', $giant-font-size);
      color: $banner-countdown-color;
      font-weight: $light-font-weight;
    }

    .caption {
      color: $lighter-font-color;
      text-transform: uppercase;
    }
  }

  .countdown-note {
    @include alpha-bg($banner-bg-color, .4);
    padding: 20px;
    font-weight: $normal-font-weight;
    margin-top: 1px;
  }

  .thumbnail-image {
    @include box-shadow($box-shadow-color 1px 1px 3px);
    float: right;
    margin-top: 25px;
  }

  .pluckt-logo {
    @include rem('font-size', $icon-large-font-size);

    &:before {
      vertical-align: baseline;
    }
  }
}

.movie-description {
  font-weight: $normal-font-weight;
  margin-top: 25px;
}

.movie-notes {
  margin-top: 10px;
}

// user profile
.profile-cover {
  border-bottom: 1px solid $row-border-color;
  margin-bottom: 25px;
  min-height: 485px;

  .cover-photo {
    background-color: $banner-bg-color;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid $text-color;
    border-top: 1px solid $text-color;
    height: 320px;
    overflow: hidden;
    position: relative;

    .cover-sizer {
      width: 220px;
    }

    .cover-item {
      width: 220px;
      height: 160px;
      margin-bottom: 10px;

      &.full-height {
        height: 320px;
        margin-bottom: 0;
      }

      >img {
        width: 100%;
      }
    }

    .progress {
      @include alpha-bg($page-bg-color, .8);
      @include hvcenter;
      visibility: hidden;
      width: 20%;
    }

    .profile-controls {
      @include alpha-bg($banner-bg-color, .3);
      @include border-radius(10px);
      color: $inverse-font-color;
      left: 15px;
      margin-left: 0;
      padding: 8px;
      position: absolute;
      top: 15px;

      &:hover {
        color: $lighter-font-color;
      }

      [class^="pluckt-"]:before,
      [class*=" pluckt-"]:before {
        @include rem('font-size', $base-font-size);
        margin-right: 8px;
      }
    }
  }

  .profile-details {
    @include make-row();
    margin-top: 20px;

    .profile-pic {
      @include make-xs-column(3);
    }

    .basic-info {
      @include make-xs-column(6);
    }

    .social-links {
      @include make-xs-column(3);

      .info-line {
        margin-bottom: 10px;
      }
    }
  }

  .portrait-xl {
    margin: -175px 30px 10px 0;
  }

  .user-role {
    font-weight: $bold-font-weight;
    margin-bottom: 10px;
  }
}

.profile-controls {
  @include transition-property(none);
  margin-left: 10px;
  visibility: hidden;

  [class^="pluckt-"]:before,
  [class*=" pluckt-"]:before {
    @include rem('font-size', $icon-font-size);
  }
}

.profile-intro {
  @extend .container;
  border-bottom: 1px solid $row-border-color;
  margin-bottom: 30px;
  padding: 25px 0 50px;
  position: relative;

  .about-me {
    @include make-xs-column(12);
    color: $light-font-color;
    font-weight: $light-font-weight;
  }

  .profile-controls {
    bottom: 15px;
    position: absolute;
    right: 15px;
  }
}

#quotes {
  .left-arrow,
  .right-arrow {
    position: relative;
    background: $action-color;

    &:after {
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(21, 173, 102, 0);
      border-width: 10px;
      margin-top: -10px;
    }
  }

  .left-arrow {
    &:after {
      right: 100%;
      border-right-color: $action-color;
    }
  }

  .right-arrow {
    &:after {
      left: 100%;
      border-left-color: $action-color;
    }
  }
}