<table id="artist-row" class="hidden">
<tbody>
    <tr>
        <td>
            <select name="artist_id[]" class="form-control">
                {{ form.options(artist_opts, '') }}
            </select>
        </td>
        <td>
            <select name="type_id[]" class="form-control">
                {{ form.options(role_opts, '') }}
            </select>
        </td>
        <td><a href="#" class="btn red btn-sm btn-artist-remove">Remove</a></td>
    </tr>
</tbody>
</table>


<table id="award-row" class="hidden">
<tbody>
    <tr>
        <td>
            <select name="aw_event_id[]" class="form-control">
                {{ form.options(event_opts, 0) }}
            </select>
        </td>
        <td>
            {{ form.text('Year', 'aw_year[]') }}
        </td>
        <td>
            {{ form.text('Award', 'aw_name[]') }}
        </td>
        <td>
            {{ form.text('Placement', 'aw_placement[]') }}
        </td>
        <td><a href="#" class="btn red btn-sm btn-award-remove">Remove</a></td>
    </tr>
</tbody>
</table>

