<h3 class="form-section">Information</h3>
{{ form.group_text('Name', 'name', o.getName, 3, 7) }}
{{ form.group_text('Media ID', 'media_id', o.getMediaID, 3, 7) }}
{{ form.group_text('Title', 'title', o.getTitle, 3, 7) }}
{{ form.group_text('English Title', 'english_title', o.getEnglishTitle, 3, 7) }}
{{ form.group_textarea('Description', 'description', o.getDescription, 5, 3, 7) }}
{{ form.group_textarea('Synopsis', 'synopsis', o.getSynopsis, 5, 3, 7) }}
{{ form.group_textarea('Tags', 'tags', o.getTags, 5, 3, 7) }}

{{ form.group_number('Running Time', 'mins', o.getMinutes, 3, 7) }}
{{ form.group_number('Year Produced', 'year', o.getYearProduced, 3, 7) }}
{{ form.group_text('Production Company', 'company', o.getProductionCompany, 3, 7) }}
{{ form.group_select('Country', 'country', country_opts, o.getCountry, 3, 7) }}
{{ form.group_text('Website', 'website', o.getWebsiteURL, 3, 7) }}
{{ form.group_select('Aspect Ratio', 'ratio_id', ratio_opts, o.getAspectRatioID, 3, 7) }}
{{ form.group_select('Rating', 'rating_id', rating_opts, o.getRatingID, 3, 7) }}
{{ form.group_checkbox_set('Categories', 'vcat_id', vcat_opts, o.getCategoryHash, 3, 7) }}
{{ form.group_checkbox_set('Vocal Languages', 'vocal_lang', vlang_opts, o.getVocalLanguageHash, 3, 7) }}
{{ form.group_checkbox_set('Subtitle Languages', 'sub_lang', slang_opts, o.getSubLanguageHash, 3, 7) }}

<div class="form-group">
    <label class="col-md-3 control-label">Release Date</label>
    <div class="col-md-7">
        <input type="date" id="form-name" name="date_release" placeholder="Release Date" class="form-control" value="{{ o.getDateRelease.format('Y-m-d') }}" data-cip-id="form-date_release">
    </div>
</div>

<h3 class="form-section">Assets</h3>
{{ upload.group_upload('Poster', 'poster_id', o.getPoster.getURL|default(''), o.getPoster.getURL|default(''), o.getPoster.getID|default('0'), 3, 7) }}
{{ upload.group_upload('Background', 'background_id', o.getBackground.getURL|default(''), o.getBackground.getURL|default(''), o.getBackground.getID|default('0'), 3, 7) }}
{{ upload.group_gallery_upload('Gallery', 'gallery', o.getGallery, 3, 4) }}

<h3 class="form-section">Artists</h3>
<button class="btn green btn-artist-add">Add Artist</button>
<br><br>
<table id="artist-role-table" class="table table-striped table-bordered">
<thead>
    <tr>
        <th>Artist</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
    {% for ar in o.getArtistRoles %}
    <tr>
        <td>
            <select name="artist_id[]" class="form-control">
                {{ form.options(artist_opts, ar.getArtist.getID) }}
            </select>
        </td>
        <td>
            <select name="type_id[]" class="form-control">
                {{ form.options(role_opts, ar.getArtistRoleID) }}
            </select>
        </td>
        <td><a href="#" class="btn red btn-sm btn-artist-remove">Remove</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>


<h3 class="form-section">Awards</h3>
<button class="btn green btn-award-add">Add Award</button>
<br><br>
<table id="award-table" class="table table-striped table-bordered">
<thead>
    <tr>
        <th>Event</th>
        <th>Year</th>
        <th>Award</th>
        <th>Placement</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {% for aw in o.getAwards %}
    <tr>
        <td>
            <select name="aw_event_id[]" class="form-control">
                {{ form.options(event_opts, aw.getEvent.getID|default('0')) }}
            </select>
        </td>
        <td>
            {{ form.text('Year', 'aw_year[]', aw.getYear|default('')) }}
        </td>
        <td>
            {{ form.text('Award', 'aw_name[]', aw.getName|default('')) }}
        </td>
        <td>
            {{ form.text('Placement', 'aw_placement[]', aw.getPlacement|default('')) }}
        </td>
        <td><a href="#" class="btn red btn-sm btn-award-remove">Remove</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

