<script src="{{ asset('bundles/zulumedia/js/lightbox.min.js') }}"></script>
<script src="{{ asset('bundles/zulumedia/js/dropzone.js') }}"></script>
<script src="{{ asset('bundles/zulumedia/js/upload.js') }}"></script>

