{% macro group_upload(label, name, image_url, thumb_url, image_id, label_size, body_size) %}
<div id="{{ name }}-dropzone" class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <div class="real-container">
            <div style="width:200px; overflow:hidden;">
            <a id="{{ name }}-main-image-link" class="dzp-image" href="{{ image_url|default(asset('bundles/zulumedia/img/no_image.jpg')) }}" data-lightbox="{{ name }}-main-image">
                <img id="{{ name }}-main-image" src="{{ thumb_url|default(asset('bundles/zulumedia/img/no_image.jpg')) }}" style="min-height:150px;max-height:150px;">
                <input id="{{ name }}-main-image-id" type="hidden" name="{{ name }}" value="{{ image_id|default('0') }}">
            </a>
            </div>
            <br>
        </div>
        <div id="{{ name }}-prev-container">
        </div>
        <button id="{{ name }}-dz-upload" class="btn btn-primary" type="button">Upload</button>
    </div>
</div>
{% endmacro %}

{% macro group_gallery_upload(label, name, uploads, label_size, cell_size) %}
<div id="{{ name }}-dropzone" class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ 12 - label_size }}">
        <button id="{{ name }}-dz-upload" class="btn btn-primary" type="button">Upload to Gallery</button>
        <br>
        <div id="{{ name }}-prev-container">
        </div>
        <br>

        <div id="{{ name }}-gallery-container">
            {% for g_upload in uploads %}
            <div class="col-md-{{ cell_size }}">
                <div style="width:200px; overflow:hidden;">
                    <a class="dzp-image" href="{{ g_upload.getURL|default(asset('bundles/zulumedia/img/no_image.jpg')) }}" data-lightbox="{{ name }}-main-image">
                        <img src="{{ g_upload.getURL|default(asset('bundles/zulumedia/img/no_image.jpg')) }}" style="min-height:150px;max-height:150px;">
                        <input type="hidden" name="{{ name }}[]" value="{{ g_upload.getID|default('0') }}">
                    </a>
                </div>
                <br>
                <button class="{{ name }}-gallery-remove btn btn-primary" type="button">Remove</button>
                <br>
                <br>
            </div>
            {% endfor %}
        <!--
            <div class="col-md-{{ cell_size }}">
                <div style="width:200px; overflow:hidden;">
                    <a id="{{ name }}-main-image-link" class="dzp-image" href="{{ image_url|default(asset('bundles/zulumedia/img/no_image.jpg')) }}" data-lightbox="{{ name }}-main-image">
                        <img id="{{ name }}-main-image" src="{{ thumb_url|default(asset('bundles/zulumedia/img/no_image.jpg')) }}" style="min-height:150px;max-height:150px;">
                        <input id="{{ name }}-main-image-id" type="hidden" name="{{ name }}" value="{{ image_id|default('0') }}">
                    </a>
                </div>
            </div>
            <div class="col-md-{{ cell_size }}">
                <div style="width:200px; overflow:hidden;">
                    <a id="{{ name }}-main-image-link" class="dzp-image" href="{{ image_url|default(asset('bundles/zulumedia/img/no_image.jpg')) }}" data-lightbox="{{ name }}-main-image">
                        <img id="{{ name }}-main-image" src="{{ thumb_url|default(asset('bundles/zulumedia/img/no_image.jpg')) }}" style="min-height:150px;max-height:150px;">
                        <input id="{{ name }}-main-image-id" type="hidden" name="{{ name }}" value="{{ image_id|default('0') }}">
                    </a>
                </div>
            </div>
        -->
        </div>
    </div>
</div>
{% endmacro %}

{% macro upload_preview() %}
<div id="dz-image-preview" class="hidden">
    <div>
        <div style="width:200px; overflow:hidden;">
        <a class="dzp-image" href="#" data-lightbox="donor">
            <img data-dz-thumbnail style="min-height:150px;max-height:150px;">
        </a>
        </div>

        <div class="dzp-progress progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width:200px">
          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
        </div>

        <strong class="error text-danger dzp-error" data-dz-errormessage></strong>

        <br>
    </div>
</div>
{% endmacro %}
