{% macro group_text(label, name, value, label_size, body_size, readonly = false) %}
<div class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <input type="text" id="form-{{ name }}" name="{{ name }}" type="text" placeholder="{{ label }}" class="form-control" value="{{ value }}" {% if readonly %}readonly{% endif %}>
    </div>
</div>
{% endmacro %}

{% macro text(label, name, value = '', readonly = false) %}
    <input type="text" id="form-{{ name }}" name="{{ name }}" type="text" placeholder="{{ label }}" class="form-control" value="{{ value }}" {% if readonly %}readonly{% endif %}>
{% endmacro %}

{% macro group_number(label, name, value, label_size, body_size, readonly = false) %}
<div class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <input type="number" id="form-{{ name }}" name="{{ name }}" type="text" placeholder="{{ label }}" class="form-control" value="{{ value }}" {% if readonly %}readonly{% endif %}>
    </div>
</div>
{% endmacro %}

{% macro group_file(label, name, value, label_size, body_size, readonly = false) %}
<div class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <input type="file" id="form-{{ name }}" name="{{ name }}" type="text" placeholder="{{ label }}" class="form-control" value="{{ value }}" {% if readonly %}readonly{% endif %}>
    </div>
</div>
{% endmacro %}

{% macro group_password(label, name, value, label_size, body_size, readonly = false) %}
<div class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <input type="password" id="form-{{ name }}" name="{{ name }}" type="text" placeholder="{{ label }}" class="form-control" value="{{ value }}" {% if readonly %}readonly{% endif %}>
    </div>
</div>
{% endmacro %}

{% macro options(fields, selected) %}
{% for value,display in fields %}
    {% if (value == selected) %}
        <option value="{{ value }}" selected="selected">{{ display }}</option>
    {% else %}
        <option value="{{ value }}">{{ display }}</option>
    {% endif %}
{% endfor %}
{% endmacro %}

{% macro group_select(label, name, options, value, label_size, body_size, disabled = false) %}
{% import _self as self %}
<div class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <select id="form-{{ name }}" name="{{ name }}" class="form-control select_2" {{ disabled ? 'disabled ' : '' }}>
        {{ self.options(options, value) }}
        </select>
    </div>
</div>
{% endmacro %}

{% macro group_select_add(label, name, options, value, label_size, body_size, button_size, disabled = false) %}
{% import _self as self %}
<div class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <select id="form-{{ name }}" name="{{ name }}" class="form-control select_2" {{ disabled ? 'disabled ' : '' }}>
        {{ self.options(options, value) }}
        </select>
    </div>
    <div class="col-md-{{ button_size }}">
        <a href="#modal-add-{{ name }}" class="btn btn-large btn-primary" role="button" data-toggle="modal">Add</a>
    </div>
</div>
{% endmacro %}

{% macro group_textarea(label, name, value, row_size, label_size, body_size, readonly = false) %}
<div class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <textarea id="form-{{ name }}" name="{{ name }}" class="form-control" rows="{{ row_size }}" placeholder="{{ label }}" {{ readonly ? 'readonly ' : '' }}>{{ value }}</textarea>
    </div>
</div>
{% endmacro %}

{% macro checkbox(name, value, display, checked) %}
<div class="checkbox">
    <label>
        <input type="checkbox" name="{{ name }}" value="{{ value }}" {{ checked ? 'checked' : ''}}>
        {{ display }}
    </label>
</div>
{% endmacro %}

{% macro checkbox_set(name, fields, checked_arr) %}
{% import _self as form %}
<div class="checkbox-list">
{% for id,display in fields %}
    {{ form.checkbox(name ~ '[]', id, display, checked_arr[id] is defined ? true : false) }}
{% endfor %}
</div>
{% endmacro %}

{% macro group_checkbox_set(label, name, fields, checked_arr, label_size, body_size) %}
{% import _self as form %}
<div class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        {{ form.checkbox_set(name, fields, checked_arr) }}
    </div>
</div>
{% endmacro %}


{% macro basic_form(title, o, fields_twig, size = 7, context = null) %}
{% import _self as form %}
<div class="row">
    <div class="col-md-{{ size }}">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>

            <div class="panel-body">
                <form method="post" class="form-horizontal">
                    <fieldset>
                        {% include fields_twig %}

                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-responsive btn-primary btn-large">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endmacro %}

{% macro group_select_grouping(label, name, options, value, label_size, body_size, disabled = false) %}
{% import _self as self %}
<div class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <select id="form-{{ name }}" name="{{ name }}" class="form-control select_2" {{ disabled ? 'disabled ' : '' }}>
        {% for label,sub_options in options %}
            <optgroup label="{{ label }}">
                {{ self.options(sub_options, value) }}
            </optgroup>
        {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}

{% macro group_datepicker(label, name, value, label_size, body_size, readonly = true) %}
<div class="form-group">
    <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
    <div class="col-md-{{ body_size }}">
        <input type="text" id="form-{{ name }}" name="{{ name }}" type="text" placeholder="{{ label }}" class="date-picker form-control" value="{{ value }}" {% if readonly %}readonly{% endif %}>
    </div>
</div>
{% endmacro %}

