{% macro main_menu(menu_items) %}
    {% import _self as menu %}
    <div class="hor-menu">
        <ul class="nav navbar-nav">
            {% for mi in menu_items %}
            <li class="{{ mi.active ? 'active': '' }} {{ mi.children|length > 0 ? 'menu-dropdown classic-menu-dropdown' : '' }}">
                {% if mi.children|length > 0 %}
                <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">
                    {{ mi.label }}<i class="fa fa-angle-down"></i>
                </a>
                {{ menu.sub_menu(mi.children) }}
                {% else %}
                <a href="{{ mi.link }}">{{ mi.label }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro sub_menu(menu_items) %}
    {% import _self as menu %}
    <ul class="dropdown-menu pull-left">
        {% for mi in menu_items %}
        <li class="{{ mi.active ? 'active' : '' }}">
            <a href="{{ mi.link }}">{{ mi.label }}</a>
        </li>
        {% endfor %}
    </ul>
{% endmacro %}
