<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pluckt - Cinemalaya</title>
    <style>
        html, body {
            margin: 0;
            width: 100%;
        }

        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <img src="{{ asset('bundles/plucktclienttemplate/images/festivals.jpg') }}" alt="">
</body>
</html>