{% extends "PlucktClientTemplateBundle::base.html.twig" %}

{% block title %}Pluckt - Home{% endblock %}

{% block content %}
<!-- content -->
<main role="main">
    <!-- banner section -->
    <section class="banner flush" id="movie-slider">
        <div class="flexslider full-video banner-videos">
            <ul class="slides">
                <li>
                    <video autoplay loop="loop">
                        <source type="video/webm" src="{{ asset('bundles/plucktclienttemplate/video/habhab.webm') }}" class="webm"></source>
                        <source type="video/mp4" src="{{ asset('bundles/plucktclienttemplate/video/habhab.mp4') }}" class="mp4"></source>
                    </video>
                    <div class="caption">
                        <h2>Discover great and hard-to-find <em>movies</em><br>
                        from cutting-edge <em>filmmakers</em></h2>
                    </div>
                    <div class="filmmaker">
                        <div class="inline">
                            <div class="portrait-md">
                                <img class="inline" src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                            </div>
                        </div>
                        <div class="inline">
                            <div class="movie-title">Habhab a Nice Day!</div>
                            <div>
                                <span class="user-name">Joel Ruiz</span>
                                <span><img class="inline" src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <video autoplay loop="loop">
                        <source class="webm" type="video/webm" src="{{ asset('bundles/plucktclienttemplate/video/haunted.webm') }}"></source>
                        <source class="mp4" type="video/mp4" src="{{ asset('bundles/plucktclienttemplate/video/haunted.mp4') }}"></source>
                    </video>
                    <div class="caption">
                        <h2><img class="inline" src="{{ asset('bundles/plucktclienttemplate/images/logo-shadow.png') }}" alt="Pluckt"> allows you to pluck movies <br>to <em>share</em> and <em>curate</em></h2> 
                    </div>
                    <div class="filmmaker">
                        <div class="inline">
                            <div class="portrait-md">
                                <img class="inline" src="{{ asset('bundles/plucktclienttemplate/images/profile-director-d-md.jpg') }}" title="Jade Castro" alt="Jade Castro">
                            </div>
                        </div>
                        <div class="inline">
                            <div class="movie-title">Doon sa Haunted House</div>
                            <div>
                                <span class="user-name">Jade Castro</span>
                                <span><img class="inline" src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <video autoplay loop="loop">
                        <source class="webm" type="video/webm" src="{{ asset('bundles/plucktclienttemplate/video/patintero.webm') }}"></source>
                        <source class="mp4" type="video/mp4" src="{{ asset('bundles/plucktclienttemplate/video/patintero.mp4') }}"></source>
                    </video>
                    <div class="caption">
                        <h2><img class="inline" src="{{ asset('bundles/plucktclienttemplate/images/logo-shadow.png') }}" alt="Pluckt"> is a movie <em>streaming</em> and <em>downloading</em> service kept vibrant by a community of passionate <em>people</em></h2>
                    </div>
                    <div class="filmmaker">
                        <div class="inline">
                            <div class="portrait-md">
                                <img class="inline" src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                            </div>
                        </div>
                        <div class="inline">
                            <div class="movie-title">Patintero</div>
                            <div>
                                <span class="user-name">Joel Ruiz</span>
                                <span><img class="inline" src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div id="movie-slider-nav" class="slider-buttons cover">
                <a href="#" class="flex-prev"><span class="pluckt-arrow-left"></span></a>
                <a href="#" class="flex-next"><span class="pluckt-arrow-right"></span></a>
            </div>
        </div>
    </section>
    <!-- end banner section -->

    <!-- features -->
    <section class="dim" id="features">
        <a class="page-down" id="page-down" href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/circle-arrow-down.png') }}" alt="v"></a>
        <div class="shifty-grid">
            <div class="row">
                <div class="col-xs-2">
                    <div class="item-box">
                        <img class="genre" src="{{ asset('bundles/plucktclienttemplate/images/category-thumb-comedy-b.jpg') }}" alt="Comedy">
                        <div class="caption">Comedy</div>
                    </div>
                    <div class="item-box">
                        <img class="movie" src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-c-md.jpg') }}" alt="Lakad ni Sammy">
                    </div>
                    <div class="item-box">
                        <img class="movie" src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-b-md.jpg') }}" alt="Big Time">
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="item-box">
                        <div class="note">Full-length movies and Short films</div>
                    </div>
                    <div class="item-box">
                        <img class="genre" src="{{ asset('bundles/plucktclienttemplate/images/category-thumb-drama-b.jpg') }}" alt="Drama">
                        <div class="caption">Drama</div>
                    </div>
                    <div class="item-box">
                        <img class="genre" src="{{ asset('bundles/plucktclienttemplate/images/category-thumb-documentary.jpg') }}" alt="Documentary">
                        <div class="caption">Documentary</div>
                    </div>
                    <div class="item-box">
                        <img class="movie" src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-h-md.jpg') }}" alt="Kano">
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="item-box">
                        <img class="genre" src="{{ asset('bundles/plucktclienttemplate/images/category-thumb-action.jpg') }}" alt="Action">
                        <div class="caption">Action</div>
                    </div>
                    <div class="item-box">
                        <button type="button" id="btn-free-movies" class="action-button">Free Movies</button>
                    </div>
                    <div class="item-box">
                        <img class="movie" src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-f-md.jpg') }}" alt="Mansyon">
                    </div>
                    <div class="item-box">
                        <img class="movie" src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-i-md.jpg') }}" alt="Ora Pro Nobis">
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="item-box">
                        <img class="movie" src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-e-md.jpg') }}" alt="Putot">
                    </div>
                    <div class="item-box">
                        <button type="button" id="btn-buy-movies" class="action-button">Buy Movies</button>
                    </div>
                    <div class="item-box">
                        <img class="movie" src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-j-md.jpg') }}" alt="Insiang">
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="item-box">
                        <img class="genre" src="{{ asset('bundles/plucktclienttemplate/images/category-thumb-horror.jpg') }}" alt="Horror">
                        <div class="caption">Horror</div>
                    </div>
                    <div class="item-box">
                        <button type="button" id="btn-rent-movies" class="action-button">Rent Movies</button>
                    </div>
                    <div class="item-box">
                        <img class="movie" src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-g-md.jpg') }}" alt="Ang Ibang Mga Pamilya">
                    </div>
                    <div class="item-box">
                        <img class="movie" src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-k-md.jpg') }}" alt="Bona">
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="item-box">
                        <img class="movie" src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-d-md.jpg') }}" alt="Baby Angelo">
                    </div>
                    <div class="item-box">
                        <div class="note">Award-winning Movies and Accolades from International Film Festivals</div>
                    </div>
                    <div class="item-box">
                        <img class="movie" src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-a-md.jpg') }}" alt="Maynila">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end features section -->

    <!-- quotes -->
    <section class="block cover" id="quotes">
        <div class="container">
            <h2 class="block-title"><em>Interact</em> with the <em>Filmmakers</em> and <em>Artists</em><br>
            who create the movies you love</h2>
            <div class="block-content">
                <div class="row" id="user-quote-1">
                    <div class="col-xs-2">
                        <div class="pull-right text-center">
                            <div class="portrait-home"><img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-home.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz"></div>
                            <div class="user-name">Joel Ruiz</div>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="well text-center left-arrow">
                            <blockquote>
                                Story inspirations could practically come from anywhere.
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="row" id="user-quote-2">
                    <div class="col-xs-10">
                        <div class="well text-center right-arrow">
                            <blockquote>
                                It’s about hitting it big, and everyone, especially in the Philippines, wants to hit the big time. It’s very Pinoy, too!
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pull-left text-center">
                            <div class="portrait-home"><img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-h-home.jpg') }}" title="Monster Jimenez" alt="Monster Jimenez"></div>
                            <div class="user-name">Monster Jimenez</div>
                        </div>
                    </div>
                </div>
                <div class="row" id="user-quote-3">
                    <div class="col-xs-2">
                        <div class="pull-right text-center">
                            <div class="portrait-home"><img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-c-home.jpg') }}" title="Mario Cornejo" alt="Mario Cornejo"></div>
                            <div class="user-name">Mario Cornejo</div>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="well text-center left-arrow">
                            <blockquote>
                                Our actors were first and foremost amazingly talented. But more than that, they were so easy to get along with and amazingly fun to work with.
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="row" id="user-quote-4">
                    <div class="col-xs-10">
                        <div class="well text-center right-arrow">
                            <blockquote>
                                <cite>Putot</cite>, which means "small" in Visayan language, is the heartfelt story of a young boy growing up at a squatter colony by the sea.
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pull-left text-center">
                            <div class="portrait-home"><img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-b-home.jpg') }}" title="Jeck Cogama" alt="Jeck Cogama"></div>
                            <div class="user-name">Jeck Cogama</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end quotes section -->

    <!-- curators -->
    <section class="block cover dim" id="curators">
        <div class="block-bg" style="background-image: url('{{ asset('bundles/plucktclienttemplate/images/home-bg-1.jpg') }}');"></div>
        <div class="container">
            <h2 class="block-title">Curated by <em>Independent Artists</em> &hellip;<br>
            &hellip; and Passionate <em>People like You</em></h2>
            <div class="block-sub-title"><strong>Pluckt</strong> is a community of people who love great quality independent movies and support the brave filmmakers who create them</div>
            <div class="block-content">
                <img id="features-img-1" class="floater" src="{{ asset('bundles/plucktclienttemplate/images/home-features-1.png') }}" alt="Share" data-x="-200%" data-y="0">
                <img id="features-img-2" class="floater" src="{{ asset('bundles/plucktclienttemplate/images/home-features-2.png') }}" alt="Review" data-x="-200%" data-y="170%">
                <img id="features-img-3" class="floater" src="{{ asset('bundles/plucktclienttemplate/images/home-features-3.png') }}" alt="Group to Shelves" data-x="-50%" data-y="200%">
                <img id="features-img-4" class="floater" src="{{ asset('bundles/plucktclienttemplate/images/home-features-4.png') }}" alt="Comment" data-x="100%" data-y="140%">
                <img id="features-img-5" class="floater" src="{{ asset('bundles/plucktclienttemplate/images/home-features-5.png') }}" alt="Watch" data-x="70%" data-y="0">
            </div>
        </div>
    </section>
    <!-- end curators section -->

    <!-- other images -->
    <section class="block" id="other-images">
        <div class="container-fluid tiled-images">
            <div class="row">
                <div class="col-sm-4"><img src="{{ asset('bundles/plucktclienttemplate/images/home-tile-bg-1.jpg') }}" alt=""></div>
                <div class="col-sm-4"><img src="{{ asset('bundles/plucktclienttemplate/images/home-tile-bg-2.jpg') }}" alt=""></div>
                <div class="col-sm-4"><img src="{{ asset('bundles/plucktclienttemplate/images/home-tile-bg-3.jpg') }}" alt=""></div>
            </div>
        </div>
    </section>
    <!-- end other images section-->

    <!-- independent artist -->
    <section class="block" id="independent-artist">
        <div class="container">
            <h2 class="block-title">Support the <em>Independent Artist</em></h2>
            <div class="block-text">
                <p>
                    Rent or buy groundbreaking independent movies and<br>
                    <strong>deliver revenues directly to the independent artists who create them.</strong>
                </p>
                <p>
                    <strong>Pluckt</strong> allows you to support the artists directly so that they<br>
                    keep creating entertaining movies that are also intelligent and relevant.
                </p>
            </div>
        </div>
    </section>
    <!-- end independent artist section -->

     <!-- cloudcast -->
    <div class="block cover dim" id="cloudcast">
        <div class="block-bg" style="background-image: url('{{ asset('bundles/plucktclienttemplate/images/home-bg-2.jpg') }}');"></div>
        <div class="block-content">
            <div class="container-fluid tiled-images">
                <div class="row">
                    <div class="col-xs-6" id="cloudcast-pane-1" data-x="-30%">
                        <img src="{{ asset('bundles/plucktclienttemplate/images/home-player-bg-1.jpg') }}" alt="">
                        <section class="tile text-right" style="right: 0;">
                            <h2 class="block-title">Slow Internet? <em>No worries.</em></h2>
                            <div class="block-text">
                                <p>
                                    Pluckt utilizes innovative technology<br>
                                    that allows you to experience movies in glorious HD<br>
                                    even if you have unstable bandwidth.
                                </p>
                                <img src="{{ asset('bundles/plucktclienttemplate/images/home-device-icons.png') }}" alt="">
                            </div>
                        </section>
                    </div>
                    <div class="col-xs-6" id="cloudcast-pane-2" data-x="30%">
                        <img src="{{ asset('bundles/plucktclienttemplate/images/home-player-bg-2.jpg') }}" alt="">
                        <section class="tile text-left">
                            <h2 class="block-title">
                                Lower Your Internet<br>Dependency
                                <img src="{{ asset('bundles/plucktclienttemplate/images/coming-soon.png') }}" alt="Coming Soon!" style="width: auto">
                            </h2>
                            <h3><em>DOWNLOAD NOW,<br>WATCH LATER</em></h3>
                            <div class="block-text">
                                <p>
                                    Download using Wi-Fi,<br>
                                    then take the content with you<br>
                                    for uninterrupted HD viewing
                                </p>
                                <p>And access across all your devices</p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end cloudcast section -->

    <!-- account buttons -->
    <section class="block" id="couch" style="margin-bottom: -60px;">
        <div class="container">
            <h2 class="block-title"><em>Get cozy</em> and start watching now!</h2>
            <div class="block-text">
                <button type="button" class="btn action-button" data-toggle="modal" data-target="#login">Log In</button>
                <button type="button" class="btn auxilliary-button" data-toggle="modal" data-target="#signup">Sign Up</button>
            </div>
        </div>
        <div class="container-fluid tiled-images">
            <div class="row">
                <div class="col-sm-12">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/home-couch.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- end account buttons section -->
</main>
<!-- end content -->
{% endblock %}

{% block dialogs %}
<div class="modal fade" id="terms-of-service" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="terms-of-service-title">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-uppercase">
                <h3 id="terms-of-service-title">Terms of Service</h3>
            </div>
            <div class="modal-body">
                {% include "PlucktClientBundle:Default:static/terms.html.twig" %}  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn auxilliary-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="privacy-policy" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="privacy-policy-title">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-uppercase">
                <h3 id="privacy-policy-title">Privacy Policy</h3>
            </div>
            <div class="modal-body">
                {% include "PlucktClientBundle:Default:static/privacy.html.twig" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn auxilliary-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('bundles/plucktclienttemplate/css/flexslider.css') }}">
{% endblock %}

{% block js %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/vendor/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/vendor/jquery.easing.min.js') }}"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/vendor/moment.min.js') }}"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/vendor/combodate.js') }}"></script>
<script src="{{ asset('bundles/plucktclienttemplate/js/pages/index-logged-out.js') }}"></script>
{% endblock %}
