{% extends "PlucktClientTemplateBundle::base.html.twig" %}
{% import "PlucktClientBundle::macro.activity_log.html.twig" as macro_log %}

{% block title %}Pluckt - Home{% endblock %}

{% block content %}
<!-- content -->
<main role="main">
    <!-- banner section -->
    <!--
    <section class="banner">
        <div class="banner-movie" style="background-image: url('{{ asset('bundles/plucktclienttemplate/images/movie-banner-b.jpg') }}');">
            <div class="overlay-dim">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="inline">
                                <h1>Big Time</h1>
                                <div class="info-line">
                                    <a class="class-rating inverse">R-18</a>
                                    <span class="year">2008</span>
                                    <span>&#x25cf;</span>
                                    <span class="runtime">84 min</span>
                                    <span class="genre">Drama</span>
                                    <div class="star-rating inverse pull-right">
                                        <input class="star star-5" id="star-5-a" type="radio" name="star-a" disabled>
                                        <label class="star star-5" for="star-5-a"></label>
                                        <input class="star star-4" id="star-4-a" type="radio" name="star-a" disabled>
                                        <label class="star star-4" for="star-4-a"></label>
                                        <input class="star star-3" id="star-3-a" type="radio" name="star-a" checked disabled>
                                        <label class="star star-3" for="star-3-a"></label>
                                        <input class="star star-2" id="star-2-a" type="radio" name="star-a" disabled>
                                        <label class="star star-2" for="star-2-a"></label>
                                        <input class="star star-1" id="star-1-a" type="radio" name="star-a" disabled>
                                        <label class="star star-1" for="star-1-a"></label>
                                    </div>
                                </div>
                                <hr class="dim">
                                <div class="info-line">
                                    <div class="inline">
                                        <a class="portrait-md" href="#">
                                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                                            <span class="badge-star"></span>
                                        </a>
                                    </div>
                                    <div class="inline">
                                        <div class="info-line">
                                            <span class="user-name">Joel Ruiz</span>
                                            <span class="user-role">Director</span>
                                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                        </div>
                                        <div><a href="#">View Profile</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 text-center">
                            <h4>You last watched: Nov 22, 2015, 8:00pm.</h4>
                            <h4><a href="#">Continue Watching</a></h4>
                            <div><a href="#"><span class="pluckt-circle-play xl"></span></a></div>
                        </div>
                        <div class="col-xs-4 next-movie">
                            <div>
                                <div><a href="#">Watch Next<span class="pluckt-arrow-right inline"></span></a></div>
                                <div>Baby Angelo</div>
                                <div class="user-name">Joel Ruiz</div>
                            </div>
                            <div>
                                <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-d-xxs.jpg') }}" alt="Baby Angelo"></a>
                            </div>
                        </div>
                    </div>
    -->
                    <!--
                    <div class="row row-bottom">
                        <div class="col-xs-6">
                            <div class="info-line status-icons left inverse">
                                <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                                <a href="#"><span class="pluckt-comment inline"></span>200</a>
                                <a href="#"><span class="pluckt-share inline"></span>200</a>
                            </div>
                        </div>
                        <div class="col-xs-6 text-right">
                            {{ logo.menu('right') }}
                        </div>
                    </div>
                    -->

    <!--
                    <div class="row row-bottom">
                        <div class="col-xs-12">
                            {{ logo.menu('left') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->
    <!-- end banner section -->

    <!-- related activities section -->
    <!--
    <section class="activities" id="related-activities">
        <div class="section-header">
            <div class="section-title">
                <h3>Activities Related to Big Time</h3>
            </div>
        </div>
        <article class="activity">
            <div class="activity-actions">
                <button class="btn btn-block status-button" disabled>1 hour ago</button>
                <button class="btn btn-block action-button">Review</button>
            </div>
            <div class="activity-details">
                <div class="activity-byline">
                    <div class="inline">
                        <a class="portrait-md" href="#">
                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-a-md.jpg') }}" title="Alfred Lucot" alt="Alfred Lucot">
                        </a>
                    </div>
                    <div class="inline">
                        <div><span class="user-name">Alfred Lucot</span></div>
                        <div><span class="user-role">Member</span></div>
                    </div>
                </div>
                <div class="activity-content">
                    <h3 class="activity-title">The lives of others</h3>
                    <div class="activity-body">
                        <p>It is a different look at how lives intersect. How each of us unconsciously affects one another...</p>
                    </div>
                    <div class="movie-rating">
                        <div class="star-rating pull-right">
                            <input class="star star-5" id="star-5-b" type="radio" name="star-b" disabled>
                            <label class="star star-5" for="star-5-b"></label>
                            <input class="star star-4" id="star-4-b" type="radio" name="star-b" checked disabled>
                            <label class="star star-4" for="star-4-b"></label>
                            <input class="star star-3" id="star-3-b" type="radio" name="star-b" disabled>
                            <label class="star star-3" for="star-3-b"></label>
                            <input class="star star-2" id="star-2-b" type="radio" name="star-b" disabled>
                            <label class="star star-2" for="star-2-b"></label>
                            <input class="star star-1" id="star-1-b" type="radio" name="star-b" disabled>
                            <label class="star star-1" for="star-1-b"></label>
                        </div>
                    </div>
                </div>
                <div class="activity-status">
                    <div class="status-icons">
                        <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                        <a href="#"><span class="pluckt-share inline"></span>200</a>
                    </div>
                    <div class="comment-box">
                        <form method="post">
                            <span class="pluckt-comment"></span>
                            <textarea name="comment" placeholder="Add a comment..." rows="1"></textarea>
                        </form>
                    </div>
                </div>
            </div>
            <div class="activity-photo">
                <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-b-md.jpg') }}" alt="Big Time"></a>
            </div>
        </article>
        <div class="loader-button-box">
            <button class="button action-button">See All</button>
        </div>
    </section>
    -->
    <!-- end related activities section -->

    <!-- movie buzz section -->
    <!--
    <section class="portraits" id="movie-buzz">
        <div class="section-header">
            <div class="section-title">
                <h5><a href="#">200</a> people are talking about this movie.</h5>
            </div>
        </div>
        <div class="portraits-list">
            <div class="portraits-row">
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-b-md.jpg') }}" title="Christina Honrado" alt="Christina Honrado">
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-c-md.jpg') }}" title="Member" alt="Member">
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                    <span class="badge-star"></span>
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-b-md.jpg') }}" title="Christina Honrado" alt="Christina Honrado">
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-c-md.jpg') }}" title="Member" alt="Member">
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                    <span class="badge-star"></span>
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-b-md.jpg') }}" title="Christina Honrado" alt="Christina Honrado">
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-c-md.jpg') }}" title="Member" alt="Member">
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                    <span class="badge-star"></span>
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-b-md.jpg') }}" title="Christina Honrado" alt="Christina Honrado">
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-c-md.jpg') }}" title="Member" alt="Member">
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                    <span class="badge-star"></span>
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-b-md.jpg') }}" title="Christina Honrado" alt="Christina Honrado">
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-c-md.jpg') }}" title="Member" alt="Member">
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                    <span class="badge-star"></span>
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-b-md.jpg') }}" title="Christina Honrado" alt="Christina Honrado">
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-c-md.jpg') }}" title="Member" alt="Member">
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                    <span class="badge-star"></span>
                </a>
                <a class="portrait-md" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-b-md.jpg') }}" title="Christina Honrado" alt="Christina Honrado">
                </a>
                <a class="portrait-md" href="#"><span class="pluckt-more lg" title="View more"></span></a>
            </div>
        </div>
    </section>
    -->
    <!-- end movie buzz section -->

    <br><br><br>
    <!-- activities -->
    <section class="activities" id="activity-list">
        <div class="section-header">
            <div class="section-title">
                <h3>Activities</h3>
            </div>
        </div>

        {% for log in notifications %}
            {{ macro_log.display_log(log) }}
        {% endfor %}

        <!--
        <article class="activity">
            <div class="activity-actions">
                <button class="btn btn-block status-button" disabled>1 hour ago</button>
                <button class="btn btn-block action-button">Watch</button>
            </div>
            <div class="activity-details">
                <div class="activity-byline">
                    <div class="inline">
                        <a class="portrait-md" href="#">
                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-b-md.jpg') }}" title="Christina Honrado" alt="Christina Honrado">
                            <span class="badge-star"></span>
                        </a>
                    </div>
                    <div class="inline">
                        <div><span class="user-name">Christina Honrado</span></div>
                        <div><span class="user-role">Production Designer</span></div>
                    </div>
                </div>
                <div class="activity-content">
                    <h3 class="activity-title">Lakad ni Sammy</h3>
                    <div class="activity-body">
                        <div class="info-line">
                            <a class="class-rating">R-18</a>
                            <span class="year">2008</span>
                            <span>&#x25cf;</span>
                            <span class="runtime">84 min</span>
                            <span class="genre">Drama</span>
                            <div class="star-rating">
                                <input class="star star-5" id="star-5-c" type="radio" name="star-c" disabled>
                                <label class="star star-5" for="star-5-c"></label>
                                <input class="star star-4" id="star-4-c" type="radio" name="star-c" checked disabled>
                                <label class="star star-4" for="star-4-c"></label>
                                <input class="star star-3" id="star-3-c" type="radio" name="star-c" disabled>
                                <label class="star star-3" for="star-3-c"></label>
                                <input class="star star-2" id="star-2-c" type="radio" name="star-c" disabled>
                                <label class="star star-2" for="star-2-c"></label>
                                <input class="star star-1" id="star-1-c" type="radio" name="star-c" disabled>
                                <label class="star star-1" for="star-1-c"></label>
                            </div>
                        </div>
                        <div class="info-line">
                            <span>BY</span>
                            <span class="user-name">Joel Ruiz</span>
                            <span class="user-role">Director</span>
                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                            <span><a href="#">View Profile</a></span>
                        </div>
                    </div>
                </div>
                <div class="activity-status">
                    <div class="status-icons">
                        <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                        <a href="#"><span class="pluckt-share inline"></span>200</a>
                    </div>
                </div>
            </div>
            <div class="activity-photo">
                <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-c-md.jpg') }}" alt="Lakad ni Sammy"></a>
            </div>
        </article>
        <article class="activity comments">
            <div class="comments-list">
                <div class="comments-summary">
                    <span class="pluckt-comment sm"></span>
                    <span class="total-comments">200 comments</span>
                    <a href="#"><span class="pluckt-arrow-down sm"></span></a>
                </div>
                <div class="comment">
                    <div class="comment-portrait">
                        <a class="portrait-sm" href="#">
                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-d-sm.jpg') }}" title="Celine Lopez" alt="Celine Lopez">
                        </a>
                    </div>
                    <div class="comment-details">
                        <div class="info-line">
                            <span class="user-name">Celine Lopez</span>
                            <span class="user-role">Member</span>
                        </div>
                        <div class="comment-body">
                            <p>Story inspirations could practically come from anywhere.</p>
                        </div>
                    </div>
                </div>
                <div class="comment-box">
                    <form method="post">
                        <span class="pluckt-comment inline"></span>
                        <textarea name="comment" placeholder="Add a comment..." rows="1"></textarea>
                    </form>
                </div>
            </div>
        </article>
        <article class="activity">
            <div class="activity-actions">
                <button class="btn btn-block status-button" disabled>1 hour ago</button>
                <button class="btn btn-block action-button">Field Note</button>
            </div>
            <div class="activity-details">
                <div class="activity-byline">
                    <div class="inline">
                        <a class="portrait-md" href="#">
                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-e-md.jpg') }}" title="Mario Cornejo" alt="Mario Cornejo">
                            <span class="badge-star"></span>
                        </a>
                    </div>
                    <div class="inline">
                        <div><span class="user-name">Mario Cornejo</span></div>
                        <div><span class="user-role">Producer</span></div>
                    </div>
                </div>
                <div class="activity-content">
                    <h3 class="activity-title">Story of Baby Angelo: Shooting the Film</h3>
                    <div class="activity-body">
                        <p>Story inspirations could practically come from anywhere. In direk Joel Ruiz's case, it came from an elevator. "Please pray for baby Angelo," was what the note posted in the elevator of his office said.</p>
                        <p>Much like the real experience, 'Baby Angelo' is a feature length film about an aborted baby found in the garbage of a run down apartment complex. An investigation ensues as to whose baby it was, but the film more importantly revolves around the apartment's inhabitants and how each of their diverse lives are after all, correlated.</p>
                    </div>
                </div>
                <div class="activity-status">
                    <div class="status-icons">
                        <a href="#"><span class="pluckt-book inline"></span>400</a>
                        <a href="#"><span class="pluckt-share inline"></span>200</a>
                    </div>
                </div>
            </div>
            <div class="activity-photo">
                <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-d-md.jpg') }}" alt="Baby Angelo"></a>
            </div>
        </article>
        <article class="activity comments">
            <div class="comments-list">
                <div class="comments-summary">
                    <span class="pluckt-comment sm"></span>
                    <span class="total-comments">200 comments</span>
                    <a href="#"><span class="pluckt-arrow-down sm"></span></a>
                </div>
                <div class="comment">
                    <div class="comment-portrait">
                        <a class="portrait-sm" href="#">
                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-d-sm.jpg') }}" title="Celine Lopez" alt="Celine Lopez">
                        </a>
                    </div>
                    <div class="comment-details">
                        <div class="info-line">
                            <span class="user-name">Celine Lopez</span>
                            <span class="user-role">Member</span>
                        </div>
                        <div class="comment-body">
                            <p>Story inspirations could practically come from anywhere.</p>
                        </div>
                    </div>
                </div>
                <div class="comment-box">
                    <form method="post">
                        <span class="pluckt-comment inline"></span>
                        <textarea name="comment" placeholder="Add a comment..." rows="1"></textarea>
                    </form>
                </div>
            </div>
        </article>
        <article class="activity">
            <div class="activity-actions">
                <button class="btn btn-block status-button" disabled>1 hour ago</button>
                <button class="btn btn-block action-button">Upload Movie</button>
            </div>
            <div class="activity-details">
                <div class="activity-byline">
                    <div class="inline">
                        <a class="portrait-md" href="#">
                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-md.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                            <span class="badge-star"></span>
                        </a>
                    </div>
                    <div class="inline">
                        <div><span class="user-name">Joel Ruiz</span></div>
                        <div><span class="user-role">Director</span></div>
                    </div>
                </div>
                <div class="video-activity">
                    <div class="video-thumbnail">
                        <div class="thumbnail-image" style="background-image: url('{{ asset('bundles/plucktclienttemplate/images/movie-d-thumbnail-a-sm.jpg') }}');">
                            <div class="overlay-dim">
                                <a class="btn video-overlay-button" href="#">Watch Trailer<span class="pluckt-play"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="activity-content">
                        <h3 class="activity-title">Putot</h3>
                        <div class="activity-body">
                            <div class="info-line">
                                <a class="class-rating">R-18</a>
                                <span class="year">2008</span>
                                <span>&#x25cf;</span>
                                <span class="runtime">84 min</span>
                                <span class="genre">Drama</span>
                                <div class="star-rating">
                                    <input class="star star-5" id="star-5-d" type="radio" name="star-d" disabled>
                                    <label class="star star-5" for="star-5-d"></label>
                                    <input class="star star-4" id="star-4-d" type="radio" name="star-d" checked disabled>
                                    <label class="star star-4" for="star-4-d"></label>
                                    <input class="star star-3" id="star-3-d" type="radio" name="star-d" disabled>
                                    <label class="star star-3" for="star-3-d"></label>
                                    <input class="star star-2" id="star-2-d" type="radio" name="star-d" disabled>
                                    <label class="star star-2" for="star-2-d"></label>
                                    <input class="star star-1" id="star-1-d" type="radio" name="star-d" disabled>
                                    <label class="star star-1" for="star-1-d"></label>
                                </div>
                            </div>
                            <div class="info-line">
                                <span>BY</span>
                                <span class="user-name">Joel Ruiz</span>
                                <span class="user-role">Director</span>
                                <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                <span><a href="#">View Profile</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activity-status">
                    <div class="status-icons">
                        <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                        <a href="#"><span class="pluckt-share inline"></span>200</a>
                    </div>
                    <div class="comment-box">
                        <form method="post">
                            <span class="pluckt-comment inline"></span>
                            <textarea name="comment" placeholder="Add a comment..." rows="1"></textarea>
                        </form>
                    </div>
                </div>
            </div>
            <div class="activity-photo">
                <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-e-md.jpg') }}" alt="Putot"></a>
            </div>
        </article>
        <article class="activity">
            <div class="activity-actions">
                <button class="btn btn-block status-button" disabled>1 hour ago</button>
                <button class="btn btn-block action-button">Add to Shelf</button>
            </div>
            <div class="activity-details">
                <div class="activity-byline">
                    <div class="inline">
                        <a class="portrait-md" href="#">
                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-b-md.jpg') }}" title="Christina Honrado" alt="Christina Honrado">
                            <span class="badge-star"></span>
                        </a>
                    </div>
                    <div class="inline">
                        <div><span class="user-name">Christina Honrado</span></div>
                        <div><span class="user-role">Production Designer</span></div>
                    </div>
                </div>
                <div class="video-activity">
                    <div class="video-thumbnail">
                        <div class="thumbnail-image" style="background-image: url('{{ asset('bundles/plucktclienttemplate/images/movie-d-thumbnail-a-sm.jpg') }}');">
                            <div class="overlay-dim">
                                <a class="btn btn-icon" href="#"><span class="pluckt-circle-play"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="activity-content">
                        <h3 class="activity-title">
                            <small>Add <strong>Mansyon</strong> to</small><br>
                            My Favorite Movies
                        </h3>
                        <div class="activity-body">
                           <a href="#">298 Movies</a>
                        </div>
                    </div>
                </div>
                <div class="activity-status">
                    <div class="status-icons">
                        <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                        <a href="#"><span class="pluckt-share inline"></span>200</a>
                    </div>
                </div>
            </div>
            <div class="activity-photo">
                <a href="#"><img src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-f-md.jpg') }}" alt="Mansyon"></a>
            </div>
        </article>
        <article class="activity comments">
            <div class="comments-list">
                <div class="comments-summary">
                    <span class="pluckt-comment sm"></span>
                    <span class="total-comments">200 comments</span>
                    <a href="#"><span class="pluckt-arrow-down sm"></span></a>
                </div>
                <div class="comment">
                    <div class="comment-portrait">
                        <a class="portrait-sm" href="#">
                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-d-sm.jpg') }}" title="Celine Lopez" alt="Celine Lopez">
                        </a>
                    </div>
                    <div class="comment-details">
                        <div class="info-line">
                            <span class="user-name">Celine Lopez</span>
                            <span class="user-role">Member</span>
                        </div>
                        <div class="comment-body">
                            <p>Story inspirations could practically come from anywhere.</p>
                        </div>
                    </div>
                </div>
                <div class="comment-box">
                    <form method="post">
                        <span class="pluckt-comment inline"></span>
                        <textarea name="comment" placeholder="Add a comment..." rows="1"></textarea>
                    </form>
                </div>
            </div>
        </article>
        <article class="activity">
            <div class="activity-actions">
                <button class="btn btn-block status-button" disabled>1 hour ago</button>
                <button class="btn btn-block action-button">Follow</button>
            </div>
            <div class="activity-details">
                <div class="activity-byline">
                    <div class="inline">
                        <a class="portrait-md" href="#">
                            <img src="{{ asset('bundles/plucktclienttemplate/images/profile-member-f-md.jpg') }}" title="Jojit Lorenzo" alt="Jojit Lorenzo">
                            <span class="badge-star"></span>
                        </a>
                    </div>
                    <div class="inline">
                        <div><span class="user-name">Jojit Lorenzo</span></div>
                        <div><span class="user-role">Actor</span></div>
                    </div>
                </div>
                <div class="activity-content">
                    <h3 class="activity-title">
                        <small>followed</small> <span class="user-name">Joel Ruiz</span>
                    </h3>
                    <div class="activity-body">
                        <div class="info-line">
                            <span class="user-role">Director</span>
                            <span>&#x25cf;</span>
                            <span>Manila, Philippines</span>
                            <span><img src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                        </div>
                    </div>
                </div>
                <div class="activity-status">
                    <div class="status-icons">
                        <a href="#"><span class="pluckt-circle-play inline"></span>400</a>
                        <a href="#"><span class="pluckt-share inline"></span>200</a>
                    </div>
                    <div class="comment-box">
                        <form method="post">
                            <span class="pluckt-comment inline"></span>
                            <textarea name="comment" placeholder="Add a comment..." rows="1"></textarea>
                        </form>
                    </div>
                </div>
            </div>
            <div class="activity-photo">
                <a class="portrait-lg" href="#">
                    <img src="{{ asset('bundles/plucktclienttemplate/images/profile-director-lg.jpg') }}" title="Joel Ruiz" alt="Joel Ruiz">
                    <div class="badge-star"></div>
                </a>
            </div>
        </article>
        -->

        <!--
        <div class="loader-button-box">
            <button class="button action-button">See More</button>
        </div>
        -->
    </section>
    <!-- end activities section -->
</main>
<!-- end content -->
{% endblock %}
