/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

.panel-heading {
	font-weight: 700;
}

.panel-primary {
	border-color: #26a69a;
}

.panel-primary .panel-heading {
	background-color: #26a69a;
	border-color: #26a69a;
	color: #fff;
}
