{{ form.group_text('Name', 'name', o.getName, 3, 7) }}
{{ form.group_textarea('Description', 'desc', o.getDescription, 5, 3, 7) }}
{{ upload.group_upload('Logo', 'logo_id', o.getLogo.getURL|default(''), o.getLogo.getURL|default(''), o.getLogo.getID|default('0'), 3, 7) }}
