{{ form.group_text('Name', 'name', o.getName, 3, 7) }}
{{ form.group_checkbox_set('Type', 'type_id', atype_opts, o.getTypeIDHash, 3, 7) }}

{{ form.group_text('Also Known As', 'aka', o.getAKA, 3, 7) }}
{{ form.group_select('Gender', 'gender', gender_opts, o.getGender, 3, 7) }}
{{ form.group_text('Birthday', 'birthday', o.getBirthday|date('m/d/Y'), 3, 7) }}
{{ form.group_textarea('Bio', 'bio', o.getBio, 5, 3, 7) }}

{{ upload.group_upload('Profile Pic', 'profile_pic_id', o.getProfilePic.getURL|default(''), o.getProfilePic.getURL|default(''), o.getProfilePic.getID|default('0'), 3, 7) }}
{{ upload.group_upload('Page Cover', 'page_cover_id', o.getPageCover.getURL|default(''), o.getPageCover.getURL|default(''), o.getPageCover.getID|default('0'), 3, 7) }}


{{ form.group_select('Nationality', 'nationality', country_opts, o.getNationality, 3, 7) }}

{{ form.group_text('Birth City', 'birth_city', o.getBirthCity, 3, 7) }}
{{ form.group_select('Birth Country', 'birth_country', country_opts, o.getBirthCountry, 3, 7) }}

{{ form.group_text('Base City', 'base_city', o.getBaseCity, 3, 7) }}
{{ form.group_select('Base Country', 'base_country', country_opts, o.getBaseCountry, 3, 7) }}

{{ form.group_textarea('Quote', 'quote', o.getQuote, 5, 3, 7) }}
{{ form.group_textarea('Schools', 'schools', o.getSchools, 5, 3, 7) }}
{{ form.group_textarea('Trivia', 'trivia', o.getTrivia, 5, 3, 7) }}
{{ form.group_textarea('Agent Info', 'agent_info', o.getAgentInfo, 5, 3, 7) }}

{{ form.group_text('Facebook URL', 'facebook_url', o.getFacebookURL, 3, 7) }}
{{ form.group_text('Twitter URL', 'twitter_url', o.getTwitterURL, 3, 7) }}

{{ form.group_textarea('Companies', 'companies', o.getCompanies, 5, 3, 7) }}
{{ form.group_textarea('Links', 'links', o.getLinks, 5, 3, 7) }}
{{ form.group_textarea('Projects', 'projects', o.getProjects, 5, 3, 7) }}
{{ form.group_textarea('Training', 'training', o.getTraining, 5, 3, 7) }}
{{ form.group_textarea('Filmography', 'filmography', o.getFilmography, 5, 3, 7) }}
{{ form.group_textarea('Awards', 'awards', o.getAwards, 5, 3, 7) }}
