{% import "PlucktTemplateBundle::form.html.twig" as form %}
{% import "ZuluMediaBundle::macro.upload.html.twig" as upload %}
{% extends "PlucktTemplateBundle::base.admin.html.twig" %}

{% block title %}Pluckt - Video Category{% endblock %}

{% block header_title %}Video Category <small>Edit</small>{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Video Category - Edit ({{ o.getName }})</span>
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" role="form" method="post">
                                <div class="form-body">
                                    {% include "PlucktAdminBundle:VideoCategory:fields.html.twig" %}
                                </div>

                                <div class="form-actions right1">
                                    <a href="{{ path('pluckt_admin_vcat_index') }}" class="btn default">Back</a>
                                    <button type="submit" class="btn green">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
{{ upload.upload_preview }}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ asset('bundles/pluckttemplate/assets/global/plugins/select2/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/pluckttemplate/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/pluckttemplate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>
{% include "ZuluMediaBundle::js.upload.html.twig" %}
<script>
$(document).ready(function() {
    $('#list-table').dataTable({
    });

    dropzone_init('#dz-image-preview', '{{ path('zulu_media_upload') }}', 'image_id');
});
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/pluckttemplate/assets/global/plugins/select2/select2.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/pluckttemplate/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css') }}"/>
{% include "ZuluMediaBundle::css.upload.html.twig" %}
{% endblock %}
