{{ form.group_text('Name', 'name', o.getName, 3, 7) }}

{{ upload.group_upload('Image', 'image_id', o.getImage.getURL|default(''), o.getImage.getURL|default(''), o.getImage.getID|default('0'), 3, 7) }}
