{% import "PlucktClientBundle::macro.logo.html.twig" as logo %}
{% import "PlucktClientBundle::macro.rating.html.twig" as rating %}

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block title %}Pluckt{% endblock %}</title>

        <meta name="description" content="">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

        {% block metatags %}
        {% endblock %}

        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
        <!-- end fonts -->

        <!-- stylesheets -->
        <link rel="stylesheet" href="{{ asset('bundles/plucktclienttemplate/css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/plucktclienttemplate/css/pluckt-icons.css') }}">
        {% block css %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/plucktclienttemplate/css/pluckt.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/plucktclienttemplate/css/non-responsive.css') }}">
        <!-- end stylesheets -->

        <!-- modernizr -->
        <script src="{{ asset('bundles/plucktclienttemplate/js/vendor/modernizr-2.8.3.min.js') }}"></script>
        <!-- end modernizr -->
    </head>
    <body>
        <!-- header block -->
        <header>
            <!-- top navbar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-header">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('pluckt_client_index') }}"><img src="{{ asset('bundles/plucktclienttemplate/images/logo.png') }}" alt="Pluckt"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="nav-header">
                        {% if app.user %}
                        <!-- top nav links -->
                        <ul class="nav navbar-nav">
                            <li class="separator hidden-xs"></li>
                            <li><a href="{{ path('pluckt_client_movies') }}">Movies</a></li>
                            <li><a href="{{ path('pluckt_client_artist_index') }}">Artists</a></li>
                            <!--<li><a href="{{ path('pluckt_client_festivals') }}">Festivals</a></li>-->
                            <li><a href="{{ path('pluckt_client_note_index') }}">Field Notes</a></li>
                        </ul>
                        <!-- end top nav links -->
                        <!-- top nav profile -->
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                            <a id="profile-link" href="{{ path('pluckt_client_user_profile_view', {'id': app.user.getID}) }}">
                                <span class="portrait-sm">
                                    <img src="{{ app.user.getProfilePic == null ? asset('bundles/plucktclienttemplate/images/no-profile.gif') : app.user.getProfilePic.getURL }}" title="{{ app.user.getName }}" alt="{{ app.user.getName }}">
                                </span>
                                <span id="header-user-name" class="hidden-sm">{{ app.user.getName }}</span>
                            </a>
                            </li>
                            <li class="icon">
                                <a href="#">
                                    <span class="pluckt-rect-play"></span>
                                    <span class="badge-notifs">50</span>
                                </a>
                            </li>
                            <li class="icon">
                                <a href="#">
                                    <span class="pluckt-globe"></span>
                                    <span class="badge-notifs">15</span>
                                </a>
                            </li>
                            <li class="icon dropdown">
                                <a href="#" id="nav-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="pluckt-cogs"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="nav-settings">
                                    <li><a href="{{ path('pluckt_client_user_profile_view', {'id': app.user.getID}) }}">Profile</a></li>
                                    <li><a href="{{ path('pluckt_client_order_history') }}">Order History</a></li>
                                    <!--<li><a href="#">Help</a></li>-->
                                    <li><a href="{{ path('pluckt_client_about') }}">About</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">Log Out</a></li>
                                </ul>
                            </li>
                            <li class="separator hidden-xs"></li>
                            <li>
                                <form method="get">
                                    <button type="submit" class="btn btn-icon pull-right" id="btn-search"><span class="pluckt-search"></span></button>
                                    <input type="text" class="form-control pull-right squeeze" name="q" placeholder="Search for ...">
                                </form>
                            </li>
                        </ul>
                        <!-- end top nav profile -->
                        {% else %}
                        <!-- top nav links -->
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('pluckt_client_movies') }}">Movies</a></li>
                            <li><a href="{{ path('pluckt_client_artist_index') }}">Artists</a></li>
                            <li class="nav-btn">
                                <a href="#login" class="btn action-button" data-toggle="modal" data-target="#login">Log In</a>
                            </li>
                            <li class="nav-btn">
                                <a href="#signup" class="btn auxilliary-button" data-toggle="modal" data-target="#signup">Sign Up</a>
                            </li>
                        </ul>
                        <!-- end top nav links -->
                        {% endif %}
                    </div>
                </div>
            </nav>
            <!-- end top navbar -->
        </header>
        <!-- end header block -->

        {% block content %}
        {% endblock %}

        {% if not app.user %}
        <!-- login form -->
        <div class="modal fade" id="login" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="login-box-title">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="loading-pane">
                        <div><i class="pluckt-spinner spin"></i></div>
                    </div>
                    <form action="{{ path('fos_user_security_check') }}" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <img src="{{ asset('bundles/plucktclienttemplate/images/logo-black.png') }}" alt="Pluckt">
                        </div>
                        <div class="modal-body">
                            <h4 class="modal-title" id="login-box-title">
                                Log In
                            </h4>
                            <!--
                            <button type="button" class="btn facebook-button btn-block" id="login-facebook"><span class="pluckt-facebook pull-left"></span>Sign in with Facebook</button>
                            <button type="button" class="btn twitter-button btn-block" id="login-twitter"><span class="pluckt-twitter pull-left"></span>Sign in with Twitter</button>
                            <button type="button" class="btn google-button btn-block" id="login-google"><span class="pluckt-google pull-left"></span>Sign in with Google</button>
                            -->
                            <a class="btn facebook-button btn-block" id="login-facebook" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}"><span class="pluckt-facebook pull-left"></span>Log in with Facebook</a>
                            <a class="btn twitter-button btn-block" id="login-twitter" href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter'}) }}"><span class="pluckt-twitter pull-left"></span>Log in with Twitter</a>
                            <!--
                            <a type="button" class="btn google-button btn-block" id="login-google" href="#"><span class="pluckt-google pull-left"></span>Log in with Google</a>
                            -->
                            <div class="form-divider">
                                <div class="divider-label">or</div>
                                <div class="line">&nbsp;</div>
                            </div>
                            <div class="form-notice"></div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="form-group">
                                <label for="login-username">Username</label>
                                <input type="text" name="_username" id="login-username" class="form-control round">
                            </div>
                            <div class="form-group">
                                <label for="login-password">Password</label>
                                <input type="password" name="_password" id="login-password" class="form-control round">
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input name="remember_me" value="1" type="checkbox"> Keep me logged in
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="#" data-toggle="modal" data-target="#forgot-password">I forgot my password.</a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn auxilliary-button" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn action-button">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end login form -->

        <!-- forgot password form -->
        <div class="modal fade" id="forgot-password" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="forgot-password-box-title">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="loading-pane">
                        <div><i class="pluckt-spinner spin"></i></div>
                    </div>
                    <form action="{{ path('fos_user_resetting_send_email') }}" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <img src="{{ asset('bundles/plucktclienttemplate/images/logo-black.png') }}" alt="Pluckt">
                        </div>
                        <div class="modal-body">
                            <h4 class="modal-title" id="forgot-password-box-title">
                                Forgot Password
                            </h4>
                            <div class="form-notice"></div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="form-group">
                                <label for="forgot-password-username">Username</label>
                                <input type="text" name="username" id="forgot-password-username" class="form-control round">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn auxilliary-button" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn action-button">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end forgot password form -->

        <!-- signup form -->
        <div class="modal fade" id="signup" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="signup-box-title">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="loading-pane">
                        <div><i class="pluckt-spinner spin"></i></div>
                    </div>
                    <form action="{{ path('fos_user_registration_register') }}" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <img src="{{ asset('bundles/plucktclienttemplate/images/logo-black.png') }}" alt="Pluckt">
                        </div>
                        <div class="modal-body">
                            <h4 class="modal-title" id="signup-box-title">
                                Sign Up
                            </h4>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-4 col-xs-offset-2 text-center">
                                        <button type="button" class="btn facebook-button btn-block" id="signup-facebook"><span class="pluckt-facebook pull-left"></span>Sign up with Facebook</button>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <button type="button" class="btn twitter-button btn-block" id="signup-twitter"><span class="pluckt-twitter pull-left"></span>Sign up with Twitter</button>
                                    </div>
                                    <!--
                                    <div class="col-xs-4 text-center">
                                        <button type="button" class="btn google-button btn-block" id="signup-google"><span class="pluckt-google pull-left"></span>Sign up with Google</button>
                                    </div>
                                    -->
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-divider">
                                            <div class="divider-label">or</div>
                                            <div class="line">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-notice"></div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="signup-email">Username</label>
                                            <input type="text" name="fos_user_registration_form[username]" id="signup-username" class="form-control round">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="signup-email">Email</label>
                                            <input type="text" name="fos_user_registration_form[email]" id="signup-email" class="form-control round">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="signup-first-name">First Name</label>
                                            <input type="text" name="fos_user_registration_form[name]" id="signup-first-name" class="form-control round">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="signup-last-name">Last Name</label>
                                            <input type="text" name="fos_user_registration_form[last_name]" id="signup-last-name" class="form-control round">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="signup-password">Password</label>
                                            <input type="password" name="fos_user_registration_form[plainPassword][first]" id="signup-password" class="form-control round">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="signup-confirm-password">Confirm Password</label>
                                            <input type="password" name="fos_user_registration_form[plainPassword][second]" id="signup-confirm-password" class="form-control round">
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="signup-birthdate">Date of Birth<span class="pluckt-question hint" data-toggle="tooltip" data-placement="right" title="We need your birthdate because reasons."></span></label>
                                            <div><input type="text" name="birthdate" id="signup-birthdate" class="form-control round"></div>
                                        </div>
                                    </div>
                                </div>
                                -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-left">
                                <small>By clicking Sign Up, you agree to the <a href="#" data-toggle="modal" data-target="#terms-of-service">Terms of Service</a> and <a href="#" data-toggle="modal" data-target="#privacy-policy">Privacy Policy</a>.</small>
                            </div>
                            <button type="button" class="btn auxilliary-button" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn action-button">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end signup form -->
        {% endif %}

        <!-- review form -->
        <div class="modal fade" id="review" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="review-box-title">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="loading-pane">
                        <div><i class="pluckt-spinner spin"></i></div>
                    </div>
                    <form id="review-form" action="" method="post">
                        <div class="modal-body">
                            <h4 class="text-uppercase" id="review-box-title">
                                Review this Movie
                            </h4>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="rating-input-box">
                                            <div class="box-content">
                                                <div class="title-box">
                                                    <input type="text" name="title" class="form-control" placeholder="Title">
                                                </div>
                                                <div class="body-box">
                                                    <textarea name="message" class="form-control" rows="8" placeholder="Say something about this..."></textarea>
                                                </div>
                                                <div class="info-line">
                                                    <span>Your rating</span>
                                                    <div class="star-rating active">
                                                        <input class="star star-5" value="5" id="star-5-new" type="radio" name="rating">
                                                        <label class="star star-5" for="star-5-new"></label>
                                                        <input class="star star-4" value="4" id="star-4-new" type="radio" name="rating">
                                                        <label class="star star-4" for="star-4-new"></label>
                                                        <input class="star star-3" value="3" id="star-3-new" type="radio" name="rating">
                                                        <label class="star star-3" for="star-3-new"></label>
                                                        <input class="star star-2" value="2" id="star-2-new" type="radio" name="rating">
                                                        <label class="star star-2" for="star-2-new"></label>
                                                        <input class="star star-1" value="1" id="star-1-new" type="radio" name="rating">
                                                        <label class="star star-1" for="star-1-new"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <img class="poster-image social-image" src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-a-sm.jpg') }}" alt="Maynila">
                                        <h4 class="movie-name social-title">Maynila</h4>
                                        <div class="info-line">
                                            <span class="user-name social-name">Lino Brocka</span>
                                            <span><img class="social-flag" src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn auxilliary-button" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn action-button review-submit"><div>Pluck <span class="pluckt-logo"></span></div></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end review form -->

        <!-- comment form -->
        <div class="modal fade" id="comment" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="comment-box-title">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="loading-pane">
                        <div><i class="pluckt-spinner spin"></i></div>
                    </div>
                    <form id="comment-form" action="" method="post">
                        <div class="modal-body">
                            <h4 class="text-uppercase" id="comment-box-title">
                                Comment on this Movie
                            </h4>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="rating-input-box">
                                            <div class="box-content">
                                                <div class="body-box">
                                                    <textarea name="message" class="form-control" rows="8" placeholder="Write your comment..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <img class="social-image poster-image" src="{{ asset('bundles/plucktclienttemplate/images/movie-poster-a-sm.jpg') }}" alt="Maynila">
                                        <h4 class="movie-name social-title">Maynila</h4>
                                        <div class="info-line">
                                            <span class="social-name user-name">Lino Brocka</span>
                                            <span><img class="social-flag" src="{{ asset('bundles/plucktclienttemplate/images/flags/PH.png') }}" alt="Philippines" title="Philippines"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn auxilliary-button" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn action-button comment-submit"><div>Pluck <span class="pluckt-logo"></span></div></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end comment form -->

        <!-- add shelf form -->
        <div class="modal fade" id="add-shelf" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="add-shelf-title">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="loading-pane">
                        <div><i class="pluckt-spinner spin"></i></div>
                    </div>
                    <form id="add-shelf-form" class="form-horizontal" action="{{ path('pluckt_client_ulist_new') }}" method="post">
                        <div class="modal-body">
                            <h4 class="text-uppercase" id="add-shelf-title">
                                Add a New Shelf
                            </h4>
                            <div class="container-fluid">
                                <div class="form-group">
                                    <input type="text" name="shelf_name" class="form-control" placeholder="Enter name of new shelf">
                                </div>
                            </div>        
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="hash" value="">
                            <button type="button" class="btn auxilliary-button" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn action-button shelf-submit"><div>Save</div></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end add shelf form -->

        <!-- view all users -->
        <div class="modal fade" id="view-all-users" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="view-all-users-title">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="text-uppercase" id="view-all-users-title"></h4>
                        <div class="person-list">
                            <div class="person-row grid-view compact" id="modal-user-blocks"></div>
                            <div id="modal-user-block-template" class="hide">
                                <div class="person-column">
                                    <div class="person-block">
                                        <div class="person-info">
                                            <div class="person-portrait">
                                                <a class="portrait-box user-profile-link" href="">
                                                    <img src="" title="" alt="">
                                                </a>
                                            </div>
                                            <div class="person-details">
                                                <div class="user-name"></div>
                                                <div class="user-role"></div>
                                                <div class="user-location"></div>
                                                <div><a class="user-profile-link" href="#">View Profile</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn auxilliary-button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end view all users -->

        <!-- page-specific dialogs -->
        {% block dialogs %}
        {% endblock %}
        <!-- end page specific dialogs -->

        <!-- footer block -->
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1">
                        <img src="{{ asset('bundles/plucktclienttemplate/images/logo-bottom.png') }}" alt="Pluckt">
                    </div>
                    <div class="col-xs-5">
                        <strong>pluckt</strong> is a community of people who love independently-produced content.<br>
                        <strong>pluckt</strong> enables you to discover and pluck great content to enjoy and share.
                    </div>
                    <div class="col-xs-6 text-right">
                        <nav>
                            <div class="container-fluid">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="{{ path('pluckt_client_about') }}">What is pluckt?</a></li>
                                    <li><a href="{{ path('pluckt_client_corporate') }}">About pluckt media</a></li>
                                    <li><a href="{{ path('pluckt_client_privacy') }}">Privacy Policy</a></li>
                                    <li><a href="{{ path('pluckt_client_terms') }}">Terms of Use</a></li>
                                </ul>
                            </div>
                        </nav>
                        <div class="clearfix"></div>
                        <div class="copyright">&copy; 2015 Copyright pluckt media, inc. | Webdesign and Development by Forward Solutions.</div>
                    </div>
                </div>
            </div>
        </footer>        
        <!-- end footer block -->

        <!-- scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/jquery.gsap.min.js"></script>
        <script src="{{ asset('bundles/plucktclienttemplate/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/plucktclienttemplate/js/plugins.js') }}"></script>
        <script src="{{ asset('bundles/plucktclienttemplate/js/vendor/expanding.js') }}"></script>
        <script src="{{ asset('bundles/plucktclienttemplate/js/vendor/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ asset('bundles/plucktclienttemplate/js/main.js') }}"></script>

        <script>
        // fb stuff
        // TODO: put this in a library and set the variable stuff via settings
        /*
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '{{ fb_app_id }}',
                status     : true,
                xfbml      : true
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                    alert('Already connected, redirect to login page to create token.');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            alert('Cancelled.');
                        }
                    }, {scope: 'email'});
                }
            });
        }

        $(document).ready(function() {
            $('.facebook-button').click(function() {
                fb_login();
            });
        });
        */

        {% if app.user %}
        var uinfo = {
            full_name:      '{{ app.user.getFullName }}',
            profile_url:    '{{ path("pluckt_client_user_profile_view", {"id": app.user.getID }) }}',
            pic_url:        "{{ app.user.getProfilePic.getURL | default('') }}",
            is_artist:      {{ app.user.isArtist ? "true" : "false" }},
            role:           '{{ app.user.isArtist ? app.user.getArtist.getTypesText : "Member" }}'
        };
        {% endif %}

        </script>
        {% block js %}
        {% endblock %}
        <!-- end scripts -->

        <!-- google analytics -->
        <script>
            /* commented out for now
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
            */
        </script>
        <!-- end google analytics -->
    </body>
</html>
