{% extends "PlucktClientTemplateBundle::base.html.twig" %}

{% block title %}Pluckt - What is Pluckt?{% endblock %}

{% block content %}
<!-- content -->
<main role="main">
	<!-- about pluckt -->
    <section class="block static" id="static-page">
        <div class="block-title">
            <h2>{{ title|replace({'src=""': 'src="' ~ asset('/bundles/plucktclienttemplate/images/logo-black.png') ~ '"'})|raw }}</h2>
        </div>
        <div class="block-content">
            {% include "PlucktClientBundle:Default:static/" ~ page ~ ".html.twig" %}
        </div>
    </section>
    <!-- end about pluckt section -->
</main>
<!-- end content -->
{% endblock %}
